@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
  .m2_hideHeader {
    display: none;
  }
  .catalogMenu__outer {
    display: none;
  }
  .hide_footer {
    display: none;
  }
  .catalog__outer {
    width: 100%;
  }
  .m2_topMenu__area {
    display: block;
  }
  .m2_search__area {
    display: block;
  }
  .m2_catMenu__area {
    display: block;
  }
  .m2_catMenu__area .hide_menuInBrand {
    display: none;
  }
  .m2_bottomMenu__area {
    display: block;
  }
  .m2_category__area {
    display: block;
  }
  .m2_innerCategory__area {
    display: block;
  }
  .m2_catalogArea {
    display: block;
  }
}

@media only screen and (max-width: 1024px) {
  /* .tovarCard__area {
    width: 33.333%;
  } */
  .catalog_fav .tovarCard__area {
    width: 25%;
  }
  .catalogMenu__outer {
    width: 25%;
  }
  .tovarCard__area {
    width: 25%;
  }
}

@media only screen and (max-width: 920px) {
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 768px) {
  .m2_topMenu__outer {
    padding: 0 10px;
  }
  .m2_catMenu__outer {
    padding: 0 10px;
  }
  .tovarCard__area {
    width: 33.333%;
  }
  .catalog__outer {
    width: 100%;
  }

  .catalog_fav .tovarCard__area {
    width: 33.333%;
  }

  .tovarCard__area:hover {
    z-index: 1;
  }
  .tovarCard__areaborder {
    border: 1px solid var(--x1border);
  }
  .tovarCard {
    /* border: none; */
    border: 1px solid transparent;
    /* height: auto; */
    padding: 10px 10px 0;
  }
  .tovarCard__wrapper {
    display: block;
    position: relative;
    border: 1px solid transparent;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0);
    z-index: 5;
  }
  .tovarCard__moreArea {
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    position: relative;
    background: #fff;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0);
  }
  .tovarCard__more {
    left: 0;
    padding: 0 10px 10px;
    border: 1px solid transparent;
    border-top: none;
    background: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
}

@media only screen and (max-width: 600px) {
  .m2_catMenuItem__outer {
    width: 100%;
  }
  .m2_catMenuItemImg {
    width: 20%;
    /* display: none; */
  }

  .m2_catMenuItemInfo {
    width: 80%;
    /* width: 100%; */
    padding: 10px 0;
  }
  .m2_category__itemOuter {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .catalog {
    justify-content: center;
  }
  .catalog_fav .tovarCard__area {
    width: 50%;
  }
  /* .tovarCard__area {
    width: 80%;
  }
  .catalog_fav .tovarCard__area {
    width: 80%;
  } */
  .tovarCard__area {
    width: 50%;
  }
  .m2_catMenuItemInfo {
    /* font-size: 1rem; */
  }
}

@media only screen and (max-width: 400px) {
  /* .tovarCard__area {
    width: 90%;
  }
  .catalog_fav .tovarCard__area {
    width: 90%;
  } */
}

@media only screen and (max-width: 320px) {
  .tovarCard__area {
    width: 90%;
  }
}
