.catalogPage__outer {
  position: relative;
}

.catalogPage {
  display: flex;
}

.catalog__outer {
  width: 80%;
}

.catalog__outer_fav {
  width: 100% !important;
}
.catalog__outer {
  width: 80%;
}

.catalog__outer_fav {
  width: 100% !important;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  margin: 0 -5px;
}

.tovarCard__area {
  width: 25%;
  padding: 5px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;
}
.tovarCard__area:hover {
  z-index: 3000;
}

.catalog_fav .tovarCard__area {
  width: 20%;
}

.tovarCard__areaborder {
  border: 1px solid transparent;
  height: 100%;
  box-sizing: border-box;
}

.tovarCard__wrapper {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid var(--x1border);
  top: 0px;
  right: 0px;
  bottom: 10px;
  left: 0px;
  /* box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3); */
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 5;
}
.tovarCard__area:hover .tovarCard__wrapper {
  display: block;
}

.tovarCard__moreArea {
  z-index: 1;
  position: absolute;
  /* line-height: 17px; */
  top: 100%;
  left: -1px;
  right: -1px;
  background: #fff;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.5);
}

.tovarCard__more {
  left: 0;
  padding: 2px 8px 10px;
  border: 1px solid var(--x1border);
  box-sizing: border-box;
  border-top: none;
  background: #fff;
  width: 100%;
  /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3); */
  display: flex;
  flex-direction: column;
  position: relative;
}

.tovarCard__more p {
  font-size: 1.2rem;
  line-height: 2rem;
  color: var(--tColor);
}

.tovarCard__moreInfo {
  position: relative;
}

.tovarCard__moreInfo span {
  font-size: 1.2rem;
  line-height: 2rem;
  color: var(--tColor);
}

.tovarCard__moreInfoLink {
  font-size: 1.2rem;
  line-height: 2rem;
  color: var(--tColor);
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}
.tovarCard__moreInfoLink:hover {
  color: var(--redFill);
  text-decoration: underline;
}

.tovarCard {
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  border: 1px solid var(--x1border);
  box-sizing: border-box;
  padding: 10px;
}
.tovarCard__area:hover .tovarCard {
  border: 1px solid transparent;
}

.tovarCard__img {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  /* overflow: hidden; */
  height: 100%;
  justify-content: center;
}

.tovarCard__imgBox {
}

.tovarCard__imgImg {
  width: 100%;
  display: block;
  z-index: 10;
  position: relative;
}
.tovarCard__imgImg1 {
  z-index: 10;
}
.tovarCard__imgImg2 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
  display: none;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

.tovarCard__area:hover .tovarCard__imgImg1 {
  visibility: hidden;
}
.tovarCard__area:hover .tovarCard__imgImg2 {
  display: block;
}

.tovarCard__fav {
  position: absolute;
  top: 0;
  right: 0;
  height: 2.6rem;
  width: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 50;
}

.tovarCard__fav i {
  font-size: 2.4rem;
  transition: all 0.3s;
}

.tovarCard__fav i.icon-favorit1 {
  color: var(--tColor);
}

.tovarCard__fav i.icon-favorit2 {
  color: var(--redFill);
  display: none;
}

.tovarCard__fav:hover i {
  color: var(--redFillhover);
}

.tovarCard__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.tovarCard__infoTop {
  display: flex;
  align-items: flex-end;
  margin: 0.5rem 0 5px;
}

.tovarCard__priceArea {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.tovarCard__priceDigit {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.tovarCard__priceDiscount {
  padding: 3px;
  background: var(--redFill);
  color: #fff;
  font-size: 1.2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 50;
}

.tovarCard__price {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.1;
  color: var(--tColor);
}

.tovarCard__price span {
  margin-left: 3px;
}

.tovarCard__price_red {
  color: var(--redFill);
}

.tovarCard__priceOld {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.1;
  color: var(--tColor);
  opacity: 0.6;
  margin: 0 0.5rem 0 0;
  text-decoration: line-through;
}

/* .tovarCard__priceOld span {
  margin-left: 2px;
} */

.tovarCard__infoTitle {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 3.2rem;
  color: var(--tColor);
}

.tovarCard__infoTitle span {
  color: var(--tColor);
}

.tovarCard__infoTitle span {
  color: var(--tColor);
}
.tovarCard__infoTitle span:first-child {
  color: #000;
  font-weight: 600;
}

.tovarCard__infoTitle span.tovarCard__infoTitleSlash {
  display: inline-block;
  padding: 0 0.2rem;
}
