@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
  .dt {
    display: none;
  }
  .mb {
    display: block;
  }
}

@media only screen and (max-width: 1024px) {
  .orderCart__itemTD10 {
    width: 10%;
  }
  .orderCart__itemTD20 {
    width: 20%;
  }
  .orderCart__itemTD30 {
    width: 45%;
  }
  .orderCart__itemTD40 {
    width: 25%;
  }
  .orderCart__itemTD50 {
    width: 40%;
  }
  .orderCart__itemIcons {
    flex-direction: row;
  }

  .orderCart__itemIcon {
    margin-right: 2px;
  }
  .orderCart__itemTD60 {
    width: 20%;
  }
  .orderCart__itemTD70 {
    width: 30%;
  }
  .orderCart__itemTD80 {
    width: 10%;
  }

  .orderCart__rowHeader {
    display: none;
  }
}

@media only screen and (max-width: 920px) {
  .cartTab__header {
    display: none;
  }
  .cartTab1 {
    width: 20%;
    padding-right: 10px;
  }
  .tovarImgInTab {
    max-width: none;
  }
  .cartTab__info {
    width: 80%;
  }
  .cartTab__info {
    flex-direction: column;
  }
  .cartTab2 {
    width: 100%;
    margin-bottom: 10px;
  }
  .cartTab3 {
    width: 100%;
    margin-bottom: 10px;
  }
  .cartTab4 {
    width: 100%;
    margin-bottom: 10px;
  }
  .cartTab5 {
    width: 100%;
    margin-bottom: 10px;
  }
  .cartTab6 {
    width: 100%;
    margin-bottom: 10px;
  }
  .cartTab7 {
    width: 100%;
    justify-content: flex-start;
  }
  .tovarLinkInTab {
    /* flex-direction: row;
    align-items: center; */
  }
  .tovarLinkInTab span:first-child {
    margin-right: 10px;
  }
  .text-right {
    text-align: left;
    align-items: flex-start;
  }
  .cartInTabPriceArea {
    align-items: flex-start;
  }
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 768px) {
  .orderForm__wrapper {
    width: 70%;
  }
  .cartTab1 {
    width: 30%;
  }
  .cartTab__info {
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .orderCart__itemTD10 {
    width: 15%;
    order: 5;
  }
  .orderCart__itemTD20 {
    width: 20%;
    order: 1;
  }
  .orderCart__itemTD30 {
    width: 45%;
    order: 2;
  }
  .orderCart__itemTD40 {
    width: 25%;
    order: 3;
  }
  .orderCart__itemTD50 {
    width: 25%;
    order: 6;
  }
  .orderCart__itemTD60 {
    width: 27%;
    order: 7;
  }
  .orderCart__itemTD70 {
    width: 33%;
    order: 8;
  }
  .orderCart__itemTD80 {
    width: 10%;
    order: 4;
  }
  .orderCart__total span {
    font-size: 1rem;
  }
  .orderForm__wrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 480px) {
  .orderCart__itemTD10 {
    width: 20%;
    order: 1;
  }
  .orderCart__itemTD20 {
    width: 30%;
    order: 3;
  }
  .orderCart__itemTD30 {
    width: 70%;
    order: 2;
  }
  .orderCart__itemTD40 {
    width: 50%;
    order: 4;
  }
  .orderCart__itemTD50 {
    width: 20%;
    order: 5;
  }
  .orderCart__itemIcons {
    flex-direction: column;
  }
  .orderCart__itemTD60 {
    width: 40%;
    order: 6;
  }
  .orderCart__itemTD70 {
    width: 40%;
    order: 7;
  }
  .orderCart__itemTD80 {
    width: 20%;
    order: 8;
  }

  /* .orderCart__total span {
    font-size: 0.875rem;
  } */
  .orderForm__wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
}

@media only screen and (max-width: 320px) {
}
