.orderCart__area {
  position: relative;
}

.orderCart {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 1.875rem;
}

.orderCart__row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px solid var(--colorGrey);
  padding: 10px 0;
}

.orderCart__rowHeader {
  border: none;
  padding: 0;
}

.orderCart__item {
  display: flex;
  align-items: center;
  padding: 5px;
}

.orderCart__rowHeader > .orderCart__item {
  background: var(--colorGrey) !important;
  padding: 5px !important;
  justify-content: center;
  font-size: 0.75rem !important;
}

.orderCart__itemTD10 {
  font-size: 0.875rem;
  line-height: 1;
  color: var(--tColor);
  width: 8%;
}

.orderCart__itemTD20 {
  width: 7%;
}

.orderCart__itemTD20 img {
  display: block;
  width: 100%;
}

.orderCart__itemTD30 {
  width: 32%;
}

.orderCart__itemTD30 a {
  font-size: 1.125rem;
  color: var(--tColor);
  transition: all 0.2s;
  text-decoration: none;
  font-weight: 600;
}

.orderCart__itemTD30 a:hover {
  color: var(--redFillhover);
}

.orderCart__itemTD40 {
  width: 15%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.orderCart__descItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.orderCart__descItem:last-child {
  margin-bottom: 0;
}

.orderCart__descItemTitle {
  font-size: 0.875rem;
  line-height: 1.1;
  padding-right: 10px;
  font-weight: 600;
}

.orderCart__descItemInfo {
  font-size: 0.875rem;
  line-height: 1.1;
  color: var(--tColor);
}

.orderCart__itemTD50 {
  width: 6%;
  justify-content: center;
}

.orderCart__itemIcons {
  display: flex;
  flex-direction: column;
}

.orderCart__itemIcon {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0.25rem;
  font-size: 0.625rem;
  color: #fff;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 2px;
}

.orderCart__itemIcon:last-child {
  margin: 0;
}

.orderCart__itemTD60 {
  width: 12%;
  justify-content: center;
}

.orderCart__itemTD60 .number {
  margin: 0;
  width: auto;
}

.orderCart__itemTD60 .number input {
  width: 50px;
}

.orderCart__itemTD60 .number button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.75rem;
  height: 1.75rem;
  border: 2px solid #a6a6a6;
  cursor: pointer;
  outline: none;
  color: var(--redFillhover);
  font-size: 1.125rem;
  font-weight: 400;
  background: transparent;
}

/* .number input {
  display: flex;
  text-align: center;
  border: none;
  outline: none;
  border-top: 2px solid #a6a6a6;
  border-bottom: 2px solid #a6a6a6;
  color: var(--redFillhover);
  font-size: 1.125rem;
  font-weight: 700;
  width: 80px;
  background: transparent;
  align-self: stretch;
  box-sizing: border-box;
} */

.orderCart__itemTD70 {
  width: 15%;
}

.orderCart__priceArea {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.orderCart__oldPrice {
  line-height: 1.2;
  margin-bottom: 0.5rem;
  text-decoration: line-through;
  font-size: 0.875rem;
  font-style: italic;
  color: #a6a6a6;
  text-align: center;
}

.orderCart__price {
  color: var(--redFillhover);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}

.orderCart__itemTD80 {
  width: 5%;
  justify-content: center;
}

.orderCart__delete {
  display: flex;
  height: 1.875rem;
  width: 1.875rem;
  justify-content: center;
  align-items: center;
  background: var(--colorGrey);
  z-index: 10;
  cursor: pointer;
  transition: all 0.2s;
}

.orderCart__delete i {
  font-size: 1rem;
  color: var(--tColor);
  transition: all 0.2s;
}

.orderCart__delete:hover {
  background: var(--redFill);
}

.orderCart__delete:hover i {
  color: #fff;
}

.orderCart__total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 5px;
  background: var(--x1grey);
  margin-bottom: 1.875rem;
}

.orderCart__total span {
  font-size: 1.125rem;
  color: #fff;
  margin-left: 0.625rem;
}

span.orderCart__totalTitle {
  font-weight: 600;
  font-size: 1.375rem;
}

.orderForm__area {
  position: relative;
  width: 100%;
}

.orderForm__orderBtn {
  display: flex;
  align-items: center;
  background: var(--orange);
  border: none;
  outline: none;
  transition: all 0.3s;
  color: #fff;
  padding: 0.625rem 1.875rem;
  margin-left: auto;
}

.orderForm__orderBtn:hover {
  background: var(--xGreen);
}

.orderForm__orderBtn i {
  font-size: 1.75rem;
  margin-right: 20px;
}

.orderForm__orderBtn span {
  font-size: 1.75rem;
}

.orderForm__wrapper {
  width: 60%;
  margin: 0 auto;
}

.inputBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.25rem;
}

.inputBox label {
  font-size: 0.875rem;
  color: var(--tColor);
  line-height: 1.2;
  margin-bottom: 0.25rem;
}
.orderForm__area span {
  font-size: 0.875rem;
  color: var(--tColor);
  line-height: 1.2;
  margin-bottom: 0.3125rem;
}

.inputBox input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.625rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--tColor);
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid var(--x1border);
  border-radius: 0.25rem;
  box-sizing: border-box;
}
.inputBox textarea {
  display: block;
  width: 100%;
  padding: 0.625rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--tColor);
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid var(--x1border);
  border-radius: 0.25rem;
  box-sizing: border-box;
}

.radioBox__wrapper {
  display: flex;
  flex-direction: column;
}

.radioBox {
  display: flex;
  margin-bottom: 0.625rem;
  align-items: center;
}
.radioBox input {
  margin: 0 10px 0 0;
}

.cartTab__area {
  width: 100%;
}

.cartTab__outer {
  width: 100%;
}

.cartTab {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cartTab__header {
  width: 100%;
  display: flex;
  align-items: center;
}

.cartTab__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cartTab__item {
  display: flex;
  margin-bottom: 20px;
}

.cartTab__item:last-child {
  margin-bottom: 0;
}

.cartTabH12 {
  width: 40%;
}
.cartTabH3 {
  width: 13%;
  text-align: right;
}
.cartTabH4 {
  width: 13%;
  text-align: right;
}
.cartTabH5 {
  text-align: right;
  width: 17%;
}
.cartTabH6 {
  width: 12%;
}
.cartTabH7 {
  width: 5%;
}

.dt {
  display: block;
}
.mb {
  display: none;
}

.cartTab12 {
  width: 30%;
  text-align: center;
}
.cartTab1 {
  order: 0;
  width: 15%;
}
.cartTab__info {
  order: 1;
  width: 85%;
  display: flex;
  align-items: center;
}
.cartTab2 {
  order: 2;
  width: 30%;
}
.cartTab3 {
  order: 3;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cartTab4 {
  order: 4;
  width: 15%;
}
.cartTab5 {
  order: 5;
  width: 20%;
}
.cartTab6 {
  order: 6;
  width: 15%;
}
.cartTab7 {
  order: 7;
  width: 5%;
  display: flex;
  justify-content: flex-end;
}

.text-right {
  text-align: right;
}

.cartTab1 a {
  text-decoration: none;
}

.tovarImgInTab {
  display: block;
  width: 100%;
  max-width: 100px;
}

.tovarLinkInTab {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.tovarLinkInTab span {
  font-size: 1.125rem;
  color: var(--blueLink);
}

.tovarLinkInTab span:last-child {
  font-size: 0.875rem;
  color: #a6a6a6;
}

.cartInTabPriceArea {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.oldPriceInTab {
  margin-bottom: 0.3125rem;
  text-decoration: line-through;
  font-size: 0.875rem;
  font-style: italic;
  color: #a6a6a6;
}

.discountInTab {
  color: var(--redFill);
  font-size: 1rem;
  margin-bottom: 0.3125rem;
}

.priceInTab {
  font-size: 1.125rem;
  font-weight: 700;
}

.cartTabTotalItemPrice {
  font-size: 1.125rem;
  font-weight: 700;
}

.text-center {
  text-align: center;
}
