.cart3__pageArea {
  padding: 0 0 20px;
  background: #f8f8f8;
}
.cart3__pageOuter {
  background: #fff;
  padding: 40px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.cart3__area {
  padding: 20px 0 0;
}

.cart3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.cart3__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  border-bottom: 2px solid #e5e5e5;
  padding: 0 0 10px;
}
.cart3__item:last-child {
  border-bottom: none;
}

a.cart3img {
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.cart3img img {
  display: block;
  width: 100%;
  max-width: 180px;
}
.cart3Discount_inImg {
  position: absolute;
  padding: 1px 3px;
  left: 0;
  top: 0;
  background: var(--orange);
  color: #fff;
  font-size: 1rem;
  margin: 0 0 0.3125rem auto;
}

.cart3info {
  flex: 1;
  padding: 0 5% 0 20px;
  display: flex;
  align-items: center;
  position: relative;
}

a.cart3title {
  width: 45%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 0;
}

.cart3title span {
  font-size: 1.25rem;
  line-height: 1.4;
  /* color: var(--blueLink); */
  color: #000;
}

.cart3title span:first-child {
  font-size: 0.875rem;
}

.cart3title span:last-child {
  font-size: 1rem;
  color: #a6a6a6;
}

.cart3title__desc {
  width: 15%;
}
.cart3title__desc span {
  font-size: 1rem;
}

.cart3__itemButtons {
  width: 18%;
}

.number {
  display: flex;
  width: 150px;
  justify-content: center;
}

.number_inTabArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number_inTab {
  border: none;
  width: auto;
}

.number i {
  font-size: 0.875rem;
}

.number button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border: 2px solid #a6a6a6;
  cursor: pointer;
  outline: none;
  color: var(--redFillhover);
  font-size: 1.125rem;
  font-weight: 400;
  background: transparent;
}

.number input {
  display: flex;
  text-align: center;
  border: none;
  outline: none;
  color: #000;
  font-size: 1.125rem;
  font-weight: 700;
  width: 80px;
  background: transparent;
  align-self: stretch;
  box-sizing: border-box;
}

.number_inTab span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 4px;
  border: 2px solid #a6a6a6;
  background: #f8f8f8;
  cursor: pointer;
  outline: none;
  color: #a6a6a6;
  font-size: 2rem;
  font-weight: 400;
}
.number_inTab span:hover {
  border: 2px solid #8b8b8b;
  color: #8b8b8b;
}

.number_inTab input {
  width: 40px;
}

.cart3__itemButtonsDel {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.cart3__itemButtonsDel span {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 4px;
  border: 2px solid #a6a6a6;
  background: #f8f8f8;
  cursor: pointer;
  outline: none;
  color: #a6a6a6;
  font-size: 2rem;
  font-weight: 400;
}

.cart3__itemButtonsDel span:hover {
  border: 2px solid #8b8b8b;
  color: #8b8b8b;
}

.cart3__itemButtonsDel span i {
  font-size: 0.875rem;
}

.dt {
  display: block;
}
.mb {
  display: none;
}

.cart3__itemPriceArea {
  width: 17%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cart3__itemPriceArea span {
  white-space: nowrap;
}

.cart3OldPrice {
  margin-bottom: 0.3125rem;
  text-decoration: line-through;
  font-size: 1rem;
  font-style: italic;
  color: #a6a6a6;
}

.cart3Price {
  font-size: 1.375rem;
  font-weight: 700;
}

#purchaseBtn.buyComplete {
  background: #00994c;
}

#purchaseBtn.buyComplete:hover {
  background: #00994c;
}

.miniCartBuyComplete {
  background: #00994c;
}

.cart__refundInfo {
  font-size: 1rem;
  color: #000;
  line-height: 1.4;
  margin-top: 20px;
}
