.catalogPage__outer {
  position: relative;
  padding-top: 10px;
}

.catalogPage {
  display: flex;
}

.catalog__outer {
  width: 80%;
  /* padding-bottom: 2rem; */
}

.catalog__outer_fav {
  width: 100% !important;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  margin: 0 -5px;
  padding-bottom: 3rem;
}

.catalog__bottomText {
  padding: 10px 0;
}

.tovarCard__area {
  width: 25%;
  padding: 5px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;
}
.tovarCard__area:hover {
  z-index: 480;
}

.catalog_fav .tovarCard__area {
  width: 20%;
}

.tovarCard__areaborder {
  border: 1px solid transparent;
  height: 100%;
  box-sizing: border-box;
}

.tovarCard__wrapper {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid var(--x1border);
  top: 0px;
  right: 0px;
  bottom: 10px;
  left: 0px;
  /* box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3); */
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 5;
}
.tovarCard__area:hover .tovarCard__wrapper {
  display: block;
}

.tovarCard__moreArea {
  z-index: 1;
  position: absolute;
  /* line-height: 17px; */
  top: 100%;
  left: -1px;
  right: -1px;
  background: #fff;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.5);
}

.tovarCard__more {
  left: 0;
  padding: 2px 8px 10px;
  border: 1px solid var(--x1border);
  box-sizing: border-box;
  border-top: none;
  background: #fff;
  width: 100%;
  /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3); */
  display: flex;
  flex-direction: column;
  position: relative;
}

.tovarCard__more p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--tColor);
}

.tovarCard__moreInfo {
  position: relative;
}

.tovarCard__moreInfo span {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--tColor);
}

.tovarCard__moreInfoLink {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--tColor);
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 0.625rem;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}
.tovarCard__moreInfoLink:hover {
  color: var(--redFill);
  text-decoration: underline;
}

a.tovarCard {
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  border: 1px solid var(--x1border);
  box-sizing: border-box;
  padding: 10px;
  text-decoration: none;
}
.tovarCard__area:hover a.tovarCard {
  border: 1px solid transparent;
  text-decoration: none;
}

.tovarCard__img {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  /* overflow: hidden; */
  /* height: 100%; */
  justify-content: center;
}

.tovarCard__img:before {
  position: relative;
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.tovarCard__imgBox {
}

.tovarCard__imgImg {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  z-index: 10;
  position: relative;
}
.tovarCard__imgImg1 {
  z-index: 10;
}
.tovarCard__imgImg2 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
  display: none;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

.tovarCard__area:hover .tovarCard__imgImg1 {
  visibility: hidden;
}
.tovarCard__area:hover .tovarCard__imgImg2 {
  display: block;
}

.tovarCard__fav {
  position: absolute;
  top: 0;
  right: 0;
  height: 1.625rem;
  width: 1.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 50;
}

.tovarCard__fav i {
  font-size: 1.5rem;
  transition: all 0.3s;
}

.tovarCard__fav i.icon-favorit1 {
  color: var(--tColor);
}

.tovarCard__fav i.icon-favorit2 {
  color: var(--orange);
  display: none;
}

.tovarCard__fav:hover i {
  color: var(--orange);
}

.tovarCard__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.tovarCard__infoTop {
  display: flex;
  align-items: flex-end;
  margin: 0.3125rem 0 5px;
}

.tovarCard__priceArea {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.tovarCard__priceDigit {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.tovarCard__priceDiscount {
  padding: 3px;
  background: var(--orange);
  color: #fff;
  font-size: 0.75rem;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 50;
}

.tovarCard__price {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.1;
  color: var(--tColor);
}

.tovarCard__price span {
  margin-left: 5px;
}

.tovarCard__price_red {
  color: var(--orange);
}

.tovarCard__priceOld {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1;
  color: var(--tColor);
  opacity: 0.6;
  margin: 0 0.3125rem 0 0;
  text-decoration: line-through;
}

/* .tovarCard__priceOld span {
  margin-left: 2px;
} */

.tovarCard__infoTitle {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--tColor);
}

.tovarCard__infoTitle span {
  color: var(--tColor);
}

.tovarCard__infoTitle span {
  color: var(--tColor);
}
.tovarCard__infoTitle span:first-child {
  color: #000;
  font-weight: 600;
}

.tovarCard__infoTitle span.tovarCard__infoTitleSlash {
  display: inline-block;
  padding: 0 0.1875rem;
}

.m2_catMenu__area {
  width: 100%;
  display: none;
}

.m2_catMenu__outer {
  width: 100%;
  /* max-width: 768px; */
  margin: 0 auto;
  padding: 20px 10px;
}

.m2_catMenu {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.m2_catMenuItem__outer {
  width: 50%;
  padding: 5px;
}

a.m2_catMenuItem {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid var(--colorGrey);
  border-radius: 5px;
  overflow: hidden;
  text-decoration: none;
}

.m2_catMenuItemImg {
  width: 30%;
}

.m2_catMenuItemImg img {
  display: block;
  width: 100%;
}

.m2_catMenuItemInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  font-size: 1.25rem;
  /* font-weight: 600; */
  color: #000;
}

.m2_catMenuItem__outer.active .m2_catMenuItem {
  /* background: var(--orange); */
  border: 1px solid var(--text2);
  background: #fff;
}

.m2_catMenuItem__outer.active .m2_catMenuItemInfo {
  color: #fff;
  color: var(--orange);
  font-weight: 600;
}

.m2_category__area {
  width: 100%;
  display: none;
}

.m2_category__outer {
  padding: 0 10px;
}

.m2_category__allBtn {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  padding: 10px 10px;
  border: 1px solid var(--x1border);
  border-radius: 7px;
  margin-bottom: 5px;
}

.m2_category {
  display: flex;
  flex-wrap: wrap;
  padding: 0 -5px;
}

.m2_category__itemOuter {
  padding: 5px;
  width: 33.333%;
}

.m2_category__item {
  display: flex;
  width: 100%;
  text-decoration: none;
  align-items: center;
  border: 1px solid #fff;
}

.m2_category__itemOuter.active a {
  /* background: var(--orange); */
  border-radius: 25px;
  padding: 3px;
  background: #fff;
  border: 1px solid var(--orange);
}

.m2_category__itemImg {
  width: 20%;
  max-width: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.m2_category__itemImg img {
  display: block;
  width: 100%;
}

.m2_category__itemInfo {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding-left: 20px;
  color: #000;
}

.m2_category__itemOuter.active .m2_category__itemInfo {
  /* color: #fff; */
  color: var(--orange);
  font-weight: 600;
}

.m2_innerCategory__area {
  width: 100%;
  padding: 5px;
  display: none;
}

.m2_innerCategory__outer {
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  padding-bottom: 5px;
}

.m2_innerCategory {
  display: flex;
  align-items: center;
  /* margin: 0 -5px; */
  /* flex-wrap: wrap; */
}

.m2_innerCategory__itemOuter {
  padding: 5px;
}

a.m2_innerCategory__item {
  display: block;
  padding: 5px 10px;
  /* background: var(--x1greySuperLight); */
  text-decoration: none;
  color: #000;
  border-radius: 5px;
  white-space: nowrap;
  border: 1px solid var(--orange);
}
a.m2_innerCategory__item:hover {
  text-decoration: none;
}

.m2_innerCategory__itemOuter.active a.m2_innerCategory__item {
  color: #fff;
  background: var(--orange);
}

.m2_catalogArea {
  display: none;
  padding: 0 10px;
}

.addCartBtn__area {
  width: 100%;
}

.addCartBtn__outer {
  width: 100%;
}

.addCartBtn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: var(--orange);
  color: #fff;
  font-size: 1.25rem;
}

.mbonly {
  display: none;
}
.dtonly {
  display: block;
}
.mbonly .menu21__Outer {
  line-height: 2.4;
}
.mbonly .menu21__Outer a {
  white-space: nowrap;
  /* text-transform: uppercase; */
  color: #777;
  padding: 4px;
}
