.filterBox {
  display: flex;
  flex-direction: column;
  padding: 10px 0 0;
  /* background: var(--colorLightGrey); */
  height: 100%;
}

.filterBox__content {
  margin-bottom: 10px;
}

.filterBox__content_scroll {
  max-height: calc(60vh - 150px);
  overflow-y: scroll;
}

.filterBox__content_scroll::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: var(--colorLightGrey);
}

.filterBox__content_scroll::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--colorLightGrey);
}

.filterBox__content_scroll::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--orange);
}

/* .filterBox__content::-webkit-scrollbar {
  width: 0;
} */

.scrollHide::-webkit-scrollbar {
  width: 0;
}

.filterBox__title {
  font-size: 1rem;
  margin-bottom: 15px;
  color: var(--tColor);
  font-weight: 600;
}

.xcheckbox {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0.3125rem;
  min-height: 36px;
}

.xcheckbox input[type="checkbox"] {
  display: none;
}

.xcheckbox label {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 0 0 32px;
  cursor: pointer;

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0.04em;
}

.xcheckbox label::before {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 0;
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  border: 1px solid #cecece;
  box-sizing: border-box;
  border-radius: 4px;
  /* box-shadow: inset 0px 0px 3px 0px #f76060; */
}

.xcheckbox label::after {
  content: "";
  display: block;
  height: 8px;
  width: 12px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
  position: absolute;
  left: 6px;
  top: 50%;
  margin-top: -7px;
  color: #ff4141;
}

.xcheckbox input[type="checkbox"] + label::after {
  content: none;
}
/*ÐŸÐ¾ÐºÐ°Ð·Ñ‹Ð²Ð°ÐµÐ¼ Ð³Ð°Ð»ÐºÑƒ Ð¿Ð¾ ÑÐ¾ÑÑ‚Ð¾ÑÐ½Ð¸ÑŽ checked*/
.xcheckbox input[type="checkbox"]:checked + label::after {
  content: "";
}

.xcheckbox input[type="checkbox"]:checked + label::before {
  border: 1px solid #404040;
}

.xcheckbox input[type="checkbox"]:checked + label {
  color: #ff4141;
}

.filter__apply {
  display: flex;
  padding: 10px;
  background: #f8f8f8;
  margin: 0 -10px -10px;
  justify-content: space-between;
}

/*  */

.xradio {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0.3125rem;
}

.xradio input[type="radio"] {
  display: none;
}

.xradio label {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1rem;
  line-height: 1.3;
  padding: 0 0 5px 30px;
  cursor: pointer;
}

.xradio label::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  height: 1rem;
  width: 1rem;
  border: 0.125rem solid #f76060;
  border-radius: 10px;
  /* box-shadow: inset 0px 0px 3px 0px #f76060; */
}

.xradio label::after {
  content: "";
  display: block;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  position: absolute;
  left: 0.375rem;
  top: 0.375rem;
  background: #f76060;
}

.xradio input[type="radio"] + label::after {
  content: none;
}
.xradio input[type="radio"]:checked + label::after {
  content: "";
}

.xradio input[type="radio"]:checked + label {
  color: #ff4141;
}

/*  */
.xselect__outer {
  width: 100%;
  border: #ccc 1px solid;
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  background: #eee;
  margin-bottom: 5px;
}
.xselect {
  width: 100%;
  border: none;
  height: 2rem;
  line-height: 2rem;
  position: relative;
  background: none;
  z-index: 100;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 1.5rem 0 0.3125rem;
  font-size: 1rem;
  outline: none;
}

.xselect__btn {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  /* background: #eee; */
  height: 2rem;
  width: 2rem;
  z-index: 50;
}

.xselect__btn:after {
  content: "";
  position: absolute;
  left: 0.5rem;
  top: 0.75rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.5rem 0.5rem 0 0.5rem;
  border-color: #f76060 transparent transparent transparent;
}

.filterEnterBtn {
  position: relative;
  cursor: pointer;
  padding: 3px 6px;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: all 0.3s;
}

.filterEnterBtn:hover {
  border: 2px solid var(--orange);
}

.filterEnterBtn span {
  font-size: 0.875rem;
  transition: all 0.3s;
  font-weight: 500;
}

.filterEnterBtn:hover span {
  color: var(--orange);
}

.filterEnterBtnStyle {
  padding: 0.3125rem 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--x1greyLight);
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  font-size: 0.875rem;
  transition: all 0.2s;
}

.filterEnterBtnStyle:hover {
  background: var(--x1grey);
}

.priceFilterEnterBtn {
  position: relative;
  cursor: pointer;
  padding: 3px 6px;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: all 0.3s;
}

.priceFilterEnterBtn:hover {
  border: 2px solid var(--orange);
}

.priceFilterEnterBtn span {
  font-size: 0.875rem;
  transition: all 0.3s;
  font-weight: 500;
}

.priceFilterEnterBtn:hover span {
  color: var(--orange);
}

.filter__checkboxColor {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

.checkboxColor__item {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0.3125rem;
}

/* .checkboxColor__item.checked {
  border: 2px solid #f76060;
} */

.checkboxColor__item input {
  visibility: hidden;
  display: none;
}

.checkboxColorBox {
  display: block;
  width: 1rem;
  height: 1rem;
  /* padding: 1px; */
  border: 2px solid #dcdcdc;
  cursor: pointer;
  margin: 2px;
}
.checkboxColorBox.checked {
  border: 2px solid #f76060;
}

.filter__checkboxColorReset {
  /* padding: 0.3125rem 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--x1greySuperLight);
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  font-size: 0.875rem;
  transition: all 0.2s;
  margin-bottom: 0.625rem; */
}
.filter__checkboxColorReset:hover {
  /* background: var(--x1greyLight); */
}

.filter__checkboxReset {
  position: relative;
  cursor: pointer;
  padding: 3px 6px;
  border: 2px solid transparent;
  transition: all 0.3s;
  border-radius: 4px;
  margin-right: 20px;
}

.filter__checkboxReset:hover {
  border: 2px solid var(--orange);
}

.filter__checkboxReset span {
  font-size: 0.875rem;
  white-space: nowrap;
  transition: all 0.3s;
  font-weight: 500;
}

.filter__checkboxReset:hover span {
  color: var(--orange);
}

.filter__checkboxResetBtn {
  padding: 0.3125rem 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--x1greySuperLight);
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  font-size: 0.875rem;
  transition: all 0.2s;
  margin-bottom: 0.625rem;
}
.filter__checkboxResetBtn:hover {
  background: var(--x1greyLight);
}

.checkboxColorTitle {
  font-size: 0.75rem;
  color: var(--tColor);
  margin-left: 0.625rem;
}

.checkColor {
  color: var(--redFill);
}

.filterSort__item {
  display: flex;
  margin-bottom: 0.5rem;
  white-space: nowrap;
  font-size: 0.75rem;
  text-decoration: none;
  color: var(--tColor);
  transition: all 0.2s;
  position: relative;
  padding: 0 0 0 1rem;
}
.filterSort__item_active {
  color: var(--redFill);
}
.filterSort__item:before {
  content: "";
  display: block;
  height: 2px;
  width: 6px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
  position: absolute;
  left: 3px;
  top: 5px;
  color: var(--redFill);
  display: none;
}
.filterSort__item_active:before {
  display: block;
}

.filterSort__item:hover {
  color: var(--redFill);
}

.catalogFilter1__itemTitle_sort {
  /* background: var(--x1greySuperLight); */
}

.active.catalogFilter1__itemTitle_sort {
  background: var(--x1greyDark);
}

.resetAllFiltersBtn {
  padding: 0.3125rem 2rem 0.3125rem 0.625rem;
  /* border-radius: 5px; */
  position: relative;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}

.resetAllFiltersBtn:after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: 5px;
  width: 10px;
  height: 10px;
  background-image: url(../img/i/close1.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.resetAllFiltersBtn:hover {
  /* background: var(--x1greySuperLight); */
  border-bottom: 2px solid var(--lmDark);
}

.resetAllFiltersBtn span {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0.04em;
  text-align: left;
}

.xInputBox__content {
  display: flex;
  align-items: center;
  padding: 0.5rem 0 1.5rem 0;
}

.xInputBox {
  display: flex;
  align-items: center;
  margin-right: 1.25rem;
}
.xInputBox:last-child {
  margin-right: 0;
}

.xInputBox label {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0.04em;
  margin-right: 0.75rem;
}

.xInputBox input {
  background: #ffffff;
  border: 1px solid #cecece;
  box-sizing: border-box;
  line-height: 2rem;
  font-size: 0.875rem;
  padding: 0 1rem;
  width: 6rem;
  transform: all 0.9s;
  box-shadow: 0px 2px 6px transparent;
}

.xInputBox input:focus {
  border: 1px solid var(--orange);
  box-shadow: 0px 2px 6px rgba(255, 51, 0, 0.35);
}
