.catalogFilter1__area {
  width: 100%;
  position: relative;
  z-index: 490;
}

.catalogFilter1__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  z-index: 90;
  /* background: rgba(119, 118, 118, 0.116); */
  display: none;
}

.catalogFilter1 {
  display: flex;
  flex-wrap: wrap;
  padding: 0.625rem 0;
  margin: 0 -5px;
  position: relative;
  z-index: 100;
}

.brandBtnDT {
  position: relative;
  margin: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  color: #fff;
  border-radius: 5px;
  background: var(--orange);
  cursor: pointer;
}

.catalogFilter1__item {
  position: relative;
  margin: 5px;
}

.catalogFilter1__itemTitle {
  padding: 0.3125rem 1.5rem 0.3125rem 0.5rem;
  /* background: var(--x1greyLight); */
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  /* margin-bottom: 1rem; */
}
.catalogFilter1__itemTitle:after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -7px;
  right: 5px;
  height: 14px;
  width: 14px;
  background: url(../img/i/filter-arrow-black.svg) center center no-repeat;
  transition: all 0.3s;
}

.open1.catalogFilter1__itemTitle:after {
  transform: rotate(180deg);
  /* background: url(../img/i/filter-arrow-primary.svg) center center no-repeat; */
}

.active.catalogFilter1__itemTitle {
  background: var(--orange);
  color: #fff;
}
.active.catalogFilter1__itemTitle:after {
  background: url(../img/i/filter-arrow-white.svg) center center no-repeat;
}

.catalogFilter1__itemTitle span {
  font-size: 0.875rem;
}

.catalogFilter1__itemContent {
  background: #fff;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  -webkit-box-shadow: 0px -3px 20px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -3px 20px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -3px 20px -5px rgba(0, 0, 0, 0.75);
  position: absolute;
  left: 0;
  min-width: 200px;
  z-index: 100;
  transition: all 0.3s;
  margin-top: 1rem;
}

.catalogFilter1__itemContent:before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: 10%;
  content: "";
  width: 0;
  height: 0;
  border-bottom: 20px solid #fff;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  /* margin-left: -20px; */
  z-index: -1;
}

.filtersBtnsLine__area {
  width: 100%;
  padding: 5px 0 5px;
  display: none;
}

.filtersBtnsLine__outer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.filtersBtn {
  display: flex;
  align-items: center;
  margin-left: 0.625rem;
  padding: 10px 10px;
  border: 1px solid var(--x1border);
  border-radius: 7px;
}
.filtersBtn i {
  font-size: 1rem;
  color: #000;
}
.filtersBtn span {
  font-size: 1rem;
  color: #000;
  margin-left: 10px;
}

.filtersBtn.active {
  border: 1px solid var(--orange);
  background: var(--orange);
}
.filtersBtn.active i {
  color: #fff;
}
.filtersBtn.active span {
  color: #fff;
}

.filtersBtn_brand {
  background: var(--orange);
  border: 1px solid var(--orange);
}

.filtersBtn_brand i,
.filtersBtn_brand span {
  color: #fff;
}
