.header {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.header:before {
  height: 28px;
  width: 100%;
  content: "";
  position: relative;
}

.topLine__area {
  background: var(--colorLightGrey);
  /* height: 40px; */
  position: fixed;
  left: 0;
  top: 0;
  z-index: 500;
}

.topLine {
  /* height: 2.5rem; */
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.topLine__left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.topLine__item {
  display: flex;
  align-items: center;
  margin: 0 0 0 40px;
}

.topLine__item:first-child {
  margin: 0;
}

.topLine__item i {
  font-size: 0.75rem;
  color: var(--color1);
  margin-right: 10px;
  transition: all 0.3s;
}

.topLine__item span {
  font-size: 1rem;
  color: var(--color1);
  transition: all 0.3s;
}

.topLine__item a {
  font-weight: 600;
  font-size: 1rem;
  color: var(--color1);
  text-decoration: none;
  transition: all 0.3s;
}

.topLine__item a:hover {
  color: var(--orange);
}

.topLine__item3 {
  text-decoration: none;
  cursor: pointer;
}

.topLine__item3:hover i {
  color: var(--orange);
}

.topLine__item3:hover span {
  color: var(--orange);
}

.topLine__right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.topLine__item3 i {
  font-size: 1.125rem;
  color: var(--color2);
}

.topLine__item3 span {
  font-size: 1rem;
  color: var(--color2);
}

.topLine__item_active span,
.topLine__item_active:hover span {
  color: #fff;
}
.topLine__item_active {
  background: var(--orange);
  padding: 5px 10px;
}
.topLine__item_active i,
.topLine__item_active:hover i {
  color: #fff;
}

.headerLine__area {
  background: #fff;
}

.headerLine {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.x1menu__area {
  position: relative;
  width: 40%;
}

.x1menu {
  display: flex;
}

.x1menu li {
  list-style: none;
  margin-right: 0.3125rem;
}

.x1menu li a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  color: var(--tColor);
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
  background: #fff;
  text-decoration: none;
}

.x1menu li a:hover,
.x1menu li.active a {
  background: var(--orange);
  color: #fff;
}

.logo1__area {
  width: 20%;
}

.header__action {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.logo1__area {
  display: flex;
  justify-content: center;
  padding: 0 0 5px;
}

.logo1 {
  width: 200px;
}

.logo1 a {
  display: block;
  text-decoration: none;
}

.logo1 img {
  display: block;
  width: 100%;
}

.topFavBtn__area {
  position: relative;
  /* margin-right: 0.625rem; */
  display: flex;
  align-items: center;
}

.topFavBtn {
  display: flex;
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: var(--colorLightGrey);
  text-decoration: none;
  position: relative;
}

.topFavBtn i {
  font-size: 1.5rem;
  color: var(--orange);
}

.topFavBtn_notFav {
}

.topFavBtn_yesFav {
  display: none;
  cursor: pointer;
}

.miniCart__area {
  display: flex;
  align-items: center;
  position: relative;
  height: auto;
}

.miniCart__link {
  display: flex;
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: var(--colorLightGrey);
  position: relative;
  z-index: 1;
  text-decoration: none;
}

.miniCart__link i {
  font-size: 1.5rem;
  color: var(--tColor);
}

.miniCart__link span {
  position: absolute;
  top: 0;
  left: 28px;
  z-index: 2;
  width: 36px;
  height: 22px;
  background: var(--orange);
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.875rem;
  color: #fff;
  border-radius: 11px;
}

.miniCart__totalPrice {
  margin-left: 20px;
  font-weight: 500;
  font-size: 1rem;
  color: var(--tColor);
  white-space: nowrap;
}

.topMenu__area {
  position: relative;
  border: 2px solid var(--colorLightGrey);
  border-right: none;
  border-left: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.topMenu__outer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.topMenu__wrapper {
  position: relative;
}

.topMenu {
  display: flex;
  align-items: center;
}

.topMenu li {
  list-style: none;
  margin-right: 5px;
}

.topMenu li a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  color: var(--tColor);
  font-weight: 400;
  padding: 3px 8px;
  border-radius: 5px;
  background: #fff;
  text-decoration: none;
}

.topMenu li a:hover {
  background: var(--orange);
  color: #fff;
}

.topMenu li.active a {
  background: var(--orange);
  color: #fff;
}

.m2_headerFake {
  width: 100%;
}

.m2_header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 8888;
  background: #fff;
  width: 100%;
}

.m2_search__area {
  width: 100%;
  display: none;
}

.m2_search__outer {
  padding: 20px 10px 10px;
}

.m2_search {
  display: flex;
  align-items: center;
  border: 1px solid var(--colorGrey);
  background: var(--colorLightGrey);
  outline: none;
  box-sizing: border-box;
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
}

.m2_search__input {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  padding: 0 0.625rem;
  font-size: 1rem;
  color: var(--color2);
  height: 1.875rem;
  width: 100%;
  background: transparent;
}

.m2_search__btn {
  position: absolute;
  right: 5px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.625rem;
  cursor: pointer;
  transition: all 0.3s;
  background: transparent;
}

.m2_search__btn:hover {
  background: var(--redFillhover);
}

.m2_search__btn i {
  font-size: 1rem;
  color: var(--color2);
}

.m2_topMenu__area {
  width: 100%;
  display: none;
  margin-top: 5px;
}

.m2_topMenu__outer {
  padding: 0 10px 0;
}

.m2_topMenu {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.m2_topMenu li {
  list-style: none;
  padding: 5px;
}

.m2_topMenu li a {
  display: flex;
  font-size: 1.25rem;
  color: var(--tColor);
  position: relative;
  padding: 10px 20px;
  background: var(--colorLightGrey);
  border: 1px solid var(--colorLightGrey);
  border-radius: 7px;
  text-decoration: none;
}

.m2_topMenu li.active a {
  /* color: #fff;
  background: var(--orange); */
  color: var(--text2);
  background: #fff;
  border: 1px solid var(--text2);
  font-weight: 700;
}

.m2_header__action {
  flex: 1;
  padding-left: 50px;
  display: none;
}

.m2_header__actionMenu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.m2_header__actionMenuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  text-decoration: none;
  position: relative;
  margin-left: 20px;
}

.m2_header__actionMenuItem i {
  font-size: 1.5rem;
  color: var(--x1greyDark);
  margin-bottom: 5px;
}

.m2_header__actionMenuItem span {
  font-size: 0.875rem;
  color: var(--x1greyDark);
  text-align: center;
}

.m2_header__actionMenuItem span.cartCounter {
  position: absolute;
  right: 0;
  top: -5px;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: red;
  color: #fff;
}

.orangeHeader__area {
  width: 100%;
  display: none;
  z-index: 100;
  transition: all 0.3s;
}

.orangeHeader__area_fixed {
  position: absolute;
  top: 0;
  left: 0;
}

.orangeHeader__areaFake2 {
  width: 100%;
  height: 0;
}

.orangeHeader__outer {
  width: 100%;
  /* background: var(--orange); */
}

.orangeHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 5px 10px 0; */
  padding: 5px 10px 10px;
  background: var(--header);
  z-index: 50;
  position: relative;
}

.orangeLogo {
  position: relative;
  width: 100%;
  max-width: 152px;
}

.orangeLogo a {
  text-decoration: none;
  width: 100%;
}

.orangeLogo img {
  width: 100%;
  display: block;
  max-width: 152px;
}

/* 0801000 */
