@media only screen and (max-width: 1440px) {
  .l1_header__area {
    padding: 10px;
  }
  .l1_header__center {
    display: none;
    width: 100%;
    order: 10;
    padding-top: 10px;
  }
  .menuButton_L1__area {
    display: flex;
  }
  .l1_header__left {
    width: 20%;
  }
  .l1_header__right {
    width: 80%;
  }
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 920px) {
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 768px) {
  .l1_topItem {
    margin: 0 0 0 20px;
  }
  .l1_topItem i {
    margin-right: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .l1_header__left {
    width: 30%;
  }
  .l1_header__right {
    width: 70%;
  }
  .l1_topItem span {
    font-size: 12px;
  }
  .l1_topItem1 {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .l1__menu {
    flex-direction: column;
  }
  .l1__menu li {
    margin: 0 0 10px 0;
  }

  .l1__menu li a {
    padding: 0 0 0 10px;
  }
  .l1__menu li a:after {
    width: 2px;
    height: 0;
    left: 0;
    bottom: 0;
  }
  .l1__menu li.active a:after {
    width: 2px;
    height: 100%;
    opacity: 1;
  }
}

@media only screen and (max-width: 400px) {
}

@media only screen and (max-width: 320px) {
}
