.l1tabs__area {
	width: 100%;
	background: #fff;
}

.l1tabs__outer {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 35px 15px;
}

.l1tabs {
	display: flex;
	flex-wrap: wrap;
}

.l1tabs__title {
	width: 100%;
	font-weight: 600;
	color: #fff;
	display: flex;
	align-items: center;
	/* justify-content: flex-end; */
	border-bottom: 1.5px solid #e0e0e0;
}

.l1tabs__close {
	margin-left: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2rem;
	height: 2rem;
	background: var(--orange);
	border-radius: 50%;
	cursor: pointer;
}

.l1tabs__close i {
	font-size: 1rem;
	color: #fff;
}

.l1tabs {
	display: flex;
	flex-wrap: wrap;
	/* margin: 0 -10px; */
	/* overflow-y: scroll; */
}

.l1tabs__itemOuter {
	width: 10%;
	padding: 10px;
	border-bottom: 1px solid var(--x1greySuperLight);
}

.l1tabs__item {
	text-decoration: none;
	display: block;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 10vh;
}

.l1tabs__item img {
	display: none;
}

.l1tabsTabs__area {
	display: flex;
	flex-wrap: wrap;
}

.l1tabsTabs__titles {
	display: flex;
	align-items: center;
	max-width: 80%;
	flex-wrap: wrap;
}

.l1tabsTabs__area {
	width: 100%;
	height: 100%;
}

.l1tabsTabs__widgets {
	width: 100%;
}

.l1tabsTabs__widget {
	display: none;
}
.l1tabsTabs__widget.active {
	display: block;
}

.l1tabsTabs__title {
	text-decoration: none;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: var(--l1-dark);
	margin-right: 30px;
	padding-bottom: 20px;
	position: relative;
}

.l1tabsTabs__title:last-child {
	margin: 0;
}

.l1tabsTabs__title:hover,
.l1tabsTabs__title:focus {
	text-decoration: none;
}

.l1tabsTabs__title.active:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 100%;
	height: 5px;
	background: var(--l1-red);
}

.l1tabs__az {
	display: flex;
	padding: 10px 0;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.l1tabs__azLetterBox {
	width: 100%;
	margin-bottom: 5px;
	display: flex;
}

.l1tabs__azLetterBoxTitle {
	width: 5%;
	padding-top: 3px;

	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	color: var(--l1-dark);
}

.l1tabs__azLetterBoxContent {
	/* border-left: 2px solid var(--x1greyLight); */
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	width: 95%;
}

.l1tabs__az_mh {
	min-height: 50vh;
}

.l1tabs__azItemOuter {
	width: 20%;
}

.l1tabs__azItem {
	width: 100%;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #000;
	padding: 3px 10px 3px 0;
	font-size: 16px;
	line-height: 24px;
	color: var(--l1-dark);
	cursor: pointer;
}

.l1tabs__azItem:hover,
.l1tabs__azItem:focus {
	text-decoration: none;
	color: var(--orange);
}

.l1tabsBrands {
	display: flex;
	flex-wrap: wrap;
}

.l1tabsBrands__itemOuter {
	width: 10%;
	padding: 10px;
}

.l1tabsBrands__item {
	text-decoration: none;
	display: block;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 0;
	padding-top: 60%;
	position: relative;
}

/* .l1tabsBrands__item img {
  display: none;
} */

.l1tabsBrands__itemBoxOuter {
	display: none;
	/* position: fixed; */
	/* transform: translate3d(-50%, -50%, 0);
  left: 50%;
  top: 50%; */
	z-index: 2750;
	position: relative;
}

.l1tabsBrands__itemBox {
	z-index: 10;
	padding: 30px;
	background: #fff;
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
	display: flex;
	flex-direction: column;
	width: 440px;
	text-decoration: none;
	position: relative;
}

.l1tabsBrands__itemBox_inActions {
	padding: 35px 0 0;
	margin: 35px 0 0 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	text-decoration: none;
	position: relative;
	border-top: 2px dotted rgba(0, 0, 0, 0.15);
}

.l1tabsBrands__itemBoxTop {
	display: flex;
	margin-bottom: 20px;
}

.l1tabsBrands__itemBoxImg {
	width: 40%;
}

.l1tabsBrands__itemBoxImg img {
	display: block;
	width: 100%;
}
.l1tabsBrands__itemBoxInfo {
	width: 60%;
	display: flex;
	flex-direction: column;
	padding: 0 0 0 20px;
}

.l1tabsBrands__itemBoxInfoTitle {
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: var(--l1-dark);
	margin-bottom: 5px;
}

.l1tabsBrands__itemBoxInfoCategory {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 5px;
}

.l1tabsBrands__itemBoxInfoCategory span {
	font-weight: 400;
	font-size: 12px;
	line-height: 1;
	color: #fff;
	background: var(--l1-red);
	display: inline-block;
	padding: 3px 6px;
	margin: 0 2px 2px 0;
	border-radius: 4px;
}

.l1tabsBrands__itemBoxInfoTitleText {
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: var(--l1-dark);
	text-decoration: none;
	margin-bottom: 5px;
}

.l1tabsBrands__itemBoxInfoTitleTextLink {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: var(--l1-dark);
	text-decoration: none;
}

.l1tabsBrands__itemBoxInfoTitleTextLink:hover {
	text-decoration: underline;
}

.l1tabsBrands__itemBoxInfoSocialLinks {
	display: flex;
	align-items: center;
	padding: 5px 0 0 0;
}

.l1tabsBrands__itemBoxInfoSocialLink {
	text-decoration: none;
	margin: 0 10px 0 0;
}
.l1tabsBrands__itemBoxInfoSocialLink img {
	width: 24px;
	height: 24px;
}

.l1tabsBrands__itemBoxText {
	font-size: 14px;
	line-height: 1.3;
	color: var(--l1-grey);
	margin-bottom: 20px;
}

.l1tabsBrands__itemBoxRedMore {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 60%;
	text-decoration: none;
}

.l1tabsBrands__itemBoxRedMore span {
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	transition: all 0.3s;
	color: var(--l1-dark);
}

.l1tabsBrands__itemBoxRedMore:hover span {
	color: var(--l1-red);
}

.l1tabsTabs__overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: var(--popUpOverlay);
	display: none;
}

.l1tabsTabs__overlayInner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
}

.l1tabs__close {
	position: absolute;
	right: 10px;
	top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2rem;
	height: 2rem;
	background: var(--orange);
	border-radius: 50%;
	cursor: pointer;
}

.aBrands__close i {
	font-size: 1rem;
	color: #fff;
}
