.l1__area {
  width: 100%;
  background: var(--l1-white);
  position: relative;
  z-index: 1;
}

.l1__outer {
  height: 100vh;
  width: 100%;
  max-width: 1439px;
  background: #e7e7e7;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.lbox__area1 {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  background: var(--l1-dark);
}
.lbox__area2 {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
}

.lbox1 {
  width: 65%;
  height: 65vh;
  background-color: var(--l1-white);
  padding-top: 4rem;
}

.lbox1a {
  width: 35%;
  height: 65vh;
  /* background-color: var(--l1-dark); */
  background-color: var(--l1-white);
  background-image: url(../img/l1-1a.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 4rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /* position: relative; */
}

/* .lbox1a {
  position: absolute;
  content: "";
  width: 100%;
} */

.lbox1a__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-bottom: 70px;
}

.lbox1a__link img {
  margin: 0 30px 0 0;
}

.lbox1a__link span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--l1-red);
  transition: all 0.3s;
}

.lbox1a__link:hover span {
  color: var(--l1-white);
}

.lbox2 {
  width: 40%;
  height: 35vh;
  background: #fff;
}
.lbox3 {
  width: 30%;
  height: 35vh;
  background: var(--l1-dark);
}
.lbox4 {
  width: 30%;
  height: 35vh;
  background: var(--l1-red);
  position: relative;
}
.lbox5 {
  width: 100%;
  height: 70vh;
  position: relative;
}
.lbox6 {
  width: 100%;
  height: 30vh;
  /* background: rgb(138, 167, 116); */
  background: var(--l1-dark);
}

.lbox1__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.lbox1__name {
  display: flex;
  flex-direction: column;
  margin-bottom: 44px;
}

.lbox1__nameTop {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: var(--l1-dark);
}

.lbox1__nameH1 h1 {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 64px;
  line-height: 78px;
  text-transform: uppercase;
  color: var(--l1-red);
}

.lbox1__600 {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: var(--l1-dark);
  margin-bottom: 10px;
}

.lbox1__400 {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: var(--l1-dark);
  margin-bottom: 60px;
}

.lbox2,
.lbox3,
.lbox6 {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.lbox2__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  text-decoration: none;
}

.lbox2__link:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.35);
  transition: all 0.3s;
}
.lbox2__link:hover:before {
  background: rgba(0, 0, 0, 0.05);
}

.lbox2__link i,
.lbox4__link i {
  display: none;
}

.lbox2__link span {
  position: absolute;
  left: 30px;
  bottom: 40px;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  transition: all 0.3s;
}

.lbox2__link:hover span {
  color: var(--l1-red);
}

.lbox4__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-decoration: none;
  background: var(--l1-red);
}

.lbox4__link span {
  position: absolute;
  left: 30px;
  top: 50px;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  transition: all 0.3s;
  padding-right: 30px;
}

/*START Слайдер 1 на странице лендинга*/
.lbox5slider__area {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.swiper-container_lbox5slider {
  position: absolute;
  top: 4rem;
  right: 0;
  bottom: 0;
  left: 0;
}

.swiper-slide_lbox5slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-slide_lbox5slider img {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
}

.swiper-button-prevlbox5slider,
.swiper-button-nextlbox5slider {
  background: rgba(0, 0, 0, 1);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: auto;
  bottom: 0;
  margin: 0;
  transform: none;
}

.swiper-button-prevlbox5slider {
  left: 0;
}
.swiper-button-nextlbox5slider {
  left: 60px;
}
.swiper-button-nextlbox5slider:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 16px;
  top: 50%;
  margin-top: -8px;
  left: 0;
  background: var(--colorDarkGrey);
}

.swiper-button-prevlbox5slider i,
.swiper-button-nextlbox5slider i {
  color: #fff;
  font-size: 16px;
}

.swiper-button-prevlbox5slider:hover i,
.swiper-button-nextlbox5slider:hover i {
  color: var(--l1-red);
}

/*END Слайдер 1 на странице лендинга*/
