@media only screen and (max-width: 1440px) {
	.l1tabs {
		padding: 0 15px;
	}
}
@media screen and (orientation: landscape) and (max-device-width: 1440px) {
}

@media only screen and (max-width: 1280px) {
}

@media screen and (orientation: landscape) and (max-device-width: 1280px) {
}

@media only screen and (max-width: 1140px) {
}

@media screen and (orientation: landscape) and (max-device-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
}

@media screen and (orientation: landscape) and (max-device-width: 1080px) {
}

@media only screen and (max-width: 1024px) {
	.l1tabsTabs__title {
		font-size: 16px;
		line-height: 1;
		color: var(--l1-dark);
		background: var(--colorLightGrey);
		margin: 0 3px 3px 0;
		padding: 10px 20px;
	}
	.l1tabsTabs__title:last-child {
		margin: 0 3px 3px 0;
	}
	.l1tabs__title {
		border-bottom: none;
	}
	.l1tabsTabs__title.active:after {
		display: none;
	}
	.l1tabsTabs__title.active {
		background: var(--l1-red);
		color: #fff;
	}
	.l1tabsBrands__itemOuter {
		width: 16.666%;
	}
	.l1tabs__azItemOuter {
		width: 25%;
	}
}

@media screen and (orientation: landscape) and (max-device-width: 1024px) {
}

@media only screen and (max-width: 920px) {
}

@media screen and (orientation: landscape) and (max-device-width: 920px) {
}

@media screen and (max-height: 414px) and (max-width: 812px) {
	/* .l1tabs__outer {
		padding: 15px 0;
	} */
}

@media only screen and (max-width: 800px) {
}

@media screen and (orientation: landscape) and (max-device-width: 800px) {
}

@media only screen and (max-width: 768px) {
	.l1tabsTabs__title {
		font-size: 14px;
		padding: 5px 10px;
	}
	.l1tabsBrands__itemOuter {
		width: 20%;
	}
	.l1tabs__azItemOuter {
		width: 33.333%;
	}
}

@media screen and (orientation: landscape) and (max-device-width: 768px) {
}

@media only screen and (max-width: 600px) {
	.l1tabsBrands__itemOuter {
		width: 25%;
	}
	.l1tabsBrands__itemBox_inActions .l1tabsBrands__itemBoxText {
		font-size: 1rem;
		margin-bottom: 20px;
	}
}

@media screen and (orientation: landscape) and (max-device-width: 600px) {
}

@media only screen and (max-width: 480px) {
	.l1tabsBrands__itemOuter {
		width: 33.333%;
	}
	.l1tabs__azItemOuter {
		width: 50%;
	}
	.l1tabsBrands__itemBoxOuter {
		width: 90%;
	}
	.l1tabsBrands__itemBox {
		width: 100%;
		padding: 30px 20px 20px;
	}
	.l1tabs__close {
		right: 5px;
		top: 5px;
	}
	.l1tabsBrands__itemBoxRedMore {
		width: 90%;
	}
	.l1tabs__azLetterBoxTitle {
		width: 10%;
	}

	.l1tabs__azLetterBoxContent {
		width: 90%;
	}
	.l1tabs__outer {
		padding: 20px 0;
	}
	.l1tabsBrands__itemBoxTop {
		margin-bottom: 10px;
	}
}

@media screen and (orientation: landscape) and (max-device-width: 480px) {
}

@media only screen and (max-width: 400px) {
	.l1tabsBrands__itemBox {
		padding: 30px 10px 10px;
	}
	.l1tabsBrands__itemBoxInfo {
		padding: 0 0 0 10px;
	}
}

@media screen and (orientation: landscape) and (max-device-width: 400px) {
}

@media only screen and (max-width: 320px) {
}

@media screen and (orientation: landscape) and (max-device-width: 320px) {
}
