.l1cServ__area {
  width: 100%;
  background: #fff;
}

.l1cServ__outer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 35px 0;
}

.l1cServ {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}

.l1cServ__ItemOuter {
  padding: 15px;
  width: 16.666%;
}

.l1cServ__Item {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  transition: all 0.3s;
}
.l1cServ__Item:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.08);
}

.l1cServ__ItemImg {
  width: 100%;
}
.l1cServ__ItemImg img {
  width: 100%;
  display: block;
}

.l1cServ__ItemInfo {
  width: 100%;
  padding: 30px 30px;
  font-weight: 500;
  font-size: 14px;
  color: var(--l1-dark);
  border: 1px solid #edf0f0;
  border-top: none;
  flex: 1;
}
