@media only screen and (max-width: 1280px) {
  .shop {
    padding-top: 10px !important;
  }
  .shop__info {
    padding: 0 0 0 10px;
  }
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
  .newCollection__itemImg {
    padding: 0 30px;
  }
  .shop__topArea {
    margin-bottom: 10px;
  }

  .m2_bottomMenu__area {
    display: block;
  }
  .mainShopsBox {
    margin: 0 -5px;
  }
  .mainShopsBox__item {
    padding: 5px;
  }
  .m2_bottomMenu__areaFake {
    display: block;
  }
  .newCollection {
    display: none;
  }
  .mainShopsBox__itemInner {
    border-radius: 7px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 1024px) {
  .newCollection {
    padding: 0;
  }
  /* .newCollection_inMain {
    padding: 0;
  } */
  .newCollection__itemImg {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 920px) {
  .shop__brandsItemOuter {
    width: 25%;
    width: 20%;
  }
  .newCollection {
    padding: 0;
  }
  .shop__callActionArea {
    width: 60%;
  }

  /* .newCollection__itemImg_main {
    padding: 0 40px;
  } */
}

@media only screen and (max-width: 820px) {
  .newCollection__itemOuter {
    width: 33.333%;
  }
  .juneSlider__tovarsItem {
    /* visibility: visible; */
  }
  .newCollection {
    padding: 0 100px;
  }
  /* .newCollection_inMain {
    padding: 0 10px;
  } */
  .slick-list {
    padding: 0 20px !important;
  }
}

@media only screen and (max-width: 768px) {
  .shop__sliderArea {
    width: 100%;
  }
  .shop__info {
    width: 100%;
    padding: 1.25rem 0 0 0;
  }
  .shop__brandsItemOuter {
    width: 16.666%;
  }
  .swiper__infoBoxShopTitle {
    font-size: 1rem;
  }

  .swiper__infoBoxShopDescription {
    color: var(--tColor);
    font-size: 0.75rem;
  }
  .newCollection {
    padding: 0 50px;
  }
  .shop__infoText {
    padding: 0;
  }
  .shop__infoTextContent {
    margin-bottom: 1.25rem;
  }
  .shop__callActionArea {
    width: 40%;
  }
  .shop__brands {
    padding: 0;
  }
  .shop__logo {
    padding: 0;
  }
  .shop__infoTextContent {
    padding: 0 10px 0 0;
  }
  .shop__tempText {
    padding: 0;
  }
  .shop__logo {
    margin: 0 auto;
  }
  .mainShopsBox__item {
    width: 33.333%;
  }
  .shop__openMobileBtn {
    display: flex;
  }
  .shop {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .swiper__infoBoxShop {
    padding: 0.625rem;
  }
  .shop__brandsItemOuter {
    width: 20%;
  }

  .shop__callActionArea {
    width: 50%;
  }
  .newCollection {
    padding: 0;
  }
  .newCollection {
    margin: 0 -5px;
    padding: 0 10px;
  }

  .newCollection__itemOuter {
    padding: 5px;
  }
}

@media only screen and (max-width: 480px) {
  .shop__sliderArea {
    order: 0;
  }
  .newCollection {
    padding: 1.25rem 5px 0;
    order: 1;
  }
  .shop__info {
    order: 2;
  }
  .mainShopsBox__item {
    width: 50%;
  }
}

@media only screen and (max-width: 400px) {
  .newCollection {
    /* padding: 0 20px; */
    padding: 0;
  }
  /* .newCollection__itemOuter {
    width: 50%;
  } */
  .newCollection__itemTitle {
    font-size: 0.75rem;
  }
  .shop__callActionArea {
    width: 60%;
  }
}

@media only screen and (max-width: 320px) {
  .newCollection {
    padding: 0;
  }
}
