@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
  .m2_bottomMenu__area {
    display: block;
  }
  .mainShopsBox__item {
    padding: 5px;
  }
  .m2_bottomMenu__areaFake {
    display: block;
  }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 920px) {
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 768px) {
  .mainShopsBox__item {
    width: 33.333%;
  }
}

@media only screen and (max-width: 600px) {
  .m2_bottomMenu__outer {
    padding: 10px 0;
  }
  .m2_bottomMenu {
    justify-content: space-around;
  }
  .m2_bottomMenu__item i {
    font-size: 2.4rem;
    margin-bottom: 5px;
  }
  .m2_bottomMenu__item span {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 480px) {
  .mainShopsBox__item {
    width: 50%;
  }
}

@media only screen and (max-width: 400px) {
}

@media only screen and (max-width: 320px) {
}
