@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
  .julySlider.swiper-container {
    height: 230px;
  }
  .julySlider__tovars {
    display: none;
  }
  .septSlider__area {
    display: block;
  }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 920px) {
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 600px) {
  .julySlider.swiper-container {
    height: 210px;
  }
  .septSliderCardSmall__itemOuter {
    border: none;
  }
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 400px) {
  .julySlider.swiper-container {
    height: 200px;
  }
}

@media only screen and (max-width: 320px) {
}
