@media only screen and (max-width: 1280px) {
  /* .tovarPage__sliderArea {
    width: 55%;
  } */
  .tovarSlider7__img.swiper-container {
    height: 550px;
  }
  .tovarSlider7__min.swiper-container {
    height: 550px;
  }
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
}

@media only screen and (max-width: 1024px) {
  .sp-selected-thumbnail:after {
    width: 100%;
    height: 2px;
  }
  .tovarPage__sliderArea {
    width: 50%;
  }
  .sp-horizontal .sp-previous-arrow {
    left: 0px;
  }

  .sp-horizontal .sp-next-arrow {
    right: 0px;
  }
}

@media only screen and (max-width: 920px) {
  .tovarSlider7__img.swiper-container {
    height: 500px;
  }
}

@media only screen and (max-width: 800px) {
  .mainShopsBox__item {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .sp-thumbnails-container {
    display: none !important;
  }
  .tovarPage__sliderArea {
    width: 55%;
  }
  .tovarSlider7__img.swiper-container {
    height: 400px;
  }
}

@media only screen and (max-width: 600px) {
  .tovarPage__sliderArea {
    width: 100%;
    width: 60%;
    /* height: 50vh; */
  }
}

@media only screen and (max-width: 480px) {
  .slider__new {
    flex-direction: column;
    height: auto;
  }
  .slider__newContent {
    width: 100%;
    margin-bottom: 5px;
  }
  .slider__newThumbs {
    width: 100%;
  }
  .slider__newThumbs > .swiper-wrapper > .swiper-slide {
    height: 100%;
    /* min-height: 70px; */
  }
  .mainShopsBox {
    margin: 0 -5px;
  }
  .mainShopsBox__item {
    padding: 5px;
  }
  .tovarPage__sliderArea {
    width: 80%;
  }
  .tovarSlider7__img.swiper-container {
    height: 350px;
  }
  .tovarSlider7__img {
    padding: 0 0 8px 0;
  }
}

@media only screen and (max-width: 400px) {
  .tovarSlider7__img.swiper-container {
    height: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .mainShopsBox__item {
    width: 100%;
  }
  .tovarSlider7__img.swiper-container {
    height: 250px;
  }
}
