mixin m1_catalog
  .m1_catalog__area.w1
    .m1_catalog__outer
      .m1_catalog
        .m1_catalog__itemOuter
          a.m1_catalog__item(href="#", style="background-image: url(assets/img/pic1/woman-3040029_640.jpg)") 
            span Женщинам
        .m1_catalog__itemOuter
          a.m1_catalog__item(href="#", style="background-image: url(assets/img/pic1/suit-2619784_640.jpg)") 
            span Мужчинам
        .m1_catalog__itemOuter
          a.m1_catalog__item(href="#", style="background-image: url(assets/img/pic1/hands-2847508_640.jpg)") 
            span Детям
        .m1_catalog__itemOuter
          a.m1_catalog__item(href="#", style="background-image: url(assets/img/pic1/nail-4682904_640.jpg)") 
            span Красота
