mixin sliderMain1
  .swiper-container.s2-container
    .swiper-wrapper.s2-wrapper
      .swiper-slide.ss2
        a(href="#")
          img.ss2_cover(src="assets/img/ss1/ss02.png", alt="")
          span.ss2_info Мужская классика
      .swiper-slide.ss2
        a(href="#")
          img.ss2_cover(src="assets/img/ss1/ss02.png", alt="")
          span.ss2_info Профессиональный уход за кожей
    .ss2__left
      i.icon-arr-left1
    .ss2__right
      i.icon-arr-right1