mixin best2slider
  .best2slider__area.p1280
    .best2slider__outer
      .best2__title
        //- img(src="assets/img/index2/best2titlebg2.jpg", alt="")
        span Лучшая цена на товар
        span Выбор наших стилистов
      .best2slider
        .swiper-container.best2-container
          .swiper-wrapper.best2-wrapper
            .swiper-slide.best2-slide
              +best2-1
            .swiper-slide.best2-slide
              +best2-2
            .swiper-slide.best2-slide
              +best2-3
            .swiper-slide.best2-slide
              +best2-4
            .swiper-slide.best2-slide
              +best2-5
            .swiper-slide.best2-slide
              +best2-6
        .best2__left
          i.icon-arr-left1
        .best2__right
          i.icon-arr-right1


mixin best2slider_inTovar
  .best2slider__area.p1280
    .best2slider__outer
      .best2__title
        //- img(src="assets/img/index2/best2titlebg2.jpg", alt="")
        h2 С этим товаром покупают
        //- span Выбор наших стилистов
      .best2slider
        .swiper-container.best2-container
          .swiper-wrapper.best2-wrapper
            .swiper-slide.best2-slide
              +best2-1
            .swiper-slide.best2-slide
              +best2-2
            .swiper-slide.best2-slide
              +best2-3
            .swiper-slide.best2-slide
              +best2-4
            .swiper-slide.best2-slide
              +best2-5
            .swiper-slide.best2-slide
              +best2-6
        .best2__left
          i.icon-arr-left1
        .best2__right
          i.icon-arr-right1