- var pageTitle = '404'

include __const
include __index2
include __header
include assets/chunks/__sliderMain1/__sliderMain1
include assets/chunks/__best/__best
include assets/chunks/__collage/__collage
include __trendsPage
include __footer
include __m2_catalog
include __brand
include __adaptiveMenuArs
include __breadcrumbs

<!DOCTYPE html>
html(lang="ru-RU")
  +head
body

  .site__header
    +siteHeader2
  .site__center.site__center_fdc
    +fake-breadcrumbs_inBrand

    .p404__area.w0
      .p404__outer.w1
        .p404
          h1 404
          span.p404text  К сожалению, по вашему запросу ничего не найдено
          a.p404link(href="")  Вернуться на главную



    +best2slider
    

    .looksInIndex.w1
      .title2.title2_center
        span Подборки и луки
      +catalogAreaAllLooksBGcover
    
    


    //- +collage

    //- .about3__area
    //-   .about3__outer.p1280
    //-     .about3
    //-       h2 О компании
    //-       .content
    //-         p Торговый комплекс МИР более 10 лет радует жителей Саратова качественным европейским шопингом.
    //-         p <strong>tcmir.ru — это онлайн копия Торгового комплекса МИР</strong>
    //-         p Теперь товары торгового комплекса можно купить в официальном интернет-магазине и заказать курьерскую доставку (доставляем компанией СДЭК) или оформить самовывоз (Пункт выдачи находится на 1 этаже Торгового комплекса МИР).
    //-         p <strong>tcmir.ru — это торговый комплекс МИР онлайн</strong>
    //-       a.about3__redmore(href="#") Подробнее
    
    
    //- .bottomWide__area
    //-   .bottomWide__outer
    //-     .bottomWide
    //-       .bottomWide-container.swiper-container
    //-         .bottomWide-wrapper.swiper-wrapper
    //-           .bottomWide__item.swiper-slide
    //-             a.videoLink_dt(data-fancybox='', href='file:///S:/Shared with me/promo/video roman/Rinasciemento/done/Rinascimento (образы, Катя, студия).mp4', data-caption='<a href="https://tcmir.ru">Ссылка на нужную страницу</a>')
    //-               img(src='assets/img/index2/poster3.jpg', alt='')
    //-               span Rinascimento (Образы, Катя, студия)
    //-             a.videoLink_mb(data-fancybox='', href='file:///S:/Shared with me/promo/video roman/Rinasciemento/done/Rinascimento (комбинезон).mp4', data-caption='<a href="https://tcmir.ru">Ссылка на нужную страницу с мобилы</a>')
    //-               img(src='assets/img/index2/poster3.jpg', alt='')
    //-               span Rinascimento (Образы, Катя, студия)
    //-           .bottomWide__item.swiper-slide
    //-             a.videoLink_dt(data-fancybox='', href='file:///S:/Shared with me/promo/video roman/Rinasciemento/done/Rinascimento (образы, Катя, студия).mp4', data-caption='<a href="https://tcmir.ru">Ссылка на нужную страницу</a>')
    //-               img(src='assets/img/index2/poster3.jpg', alt='')
    //-               span Rinascimento (Образы, Катя, студия)
    //-             a.videoLink_mb(data-fancybox='', href='file:///S:/Shared with me/promo/video roman/Rinasciemento/done/Rinascimento (комбинезон).mp4', data-caption='<a href="https://tcmir.ru">Ссылка на нужную страницу с мобилы</a>')
    //-               img(src='assets/img/index2/poster3.jpg', alt='')
    //-               span Rinascimento (Образы, Катя, студия)
    //-           .bottomWide__item.swiper-slide
    //-             a.videoLink_dt(data-fancybox='', href='file:///S:/Shared with me/promo/video roman/Rinasciemento/done/Rinascimento (образы, Катя, студия).mp4', data-caption='<a href="https://tcmir.ru">Ссылка на нужную страницу</a>')
    //-               img(src='assets/img/index2/poster3.jpg', alt='')
    //-               span Rinascimento (Образы, Катя, студия)
    //-             a.videoLink_mb(data-fancybox='', href='file:///S:/Shared with me/promo/video roman/Rinasciemento/done/Rinascimento (комбинезон).mp4', data-caption='<a href="https://tcmir.ru">Ссылка на нужную страницу с мобилы</a>')
    //-               img(src='assets/img/index2/poster3.jpg', alt='')
    //-               span Rinascimento (Образы, Катя, студия)
    //-           .bottomWide__item.swiper-slide
    //-             a.videoLink_dt(data-fancybox='', href='file:///S:/Shared with me/promo/video roman/Rinasciemento/done/Rinascimento (образы, Катя, студия).mp4', data-caption='<a href="https://tcmir.ru">Ссылка на нужную страницу</a>')
    //-               img(src='assets/img/index2/poster3.jpg', alt='')
    //-               span Rinascimento (Образы, Катя, студия)
    //-             a.videoLink_mb(data-fancybox='', href='file:///S:/Shared with me/promo/video roman/Rinasciemento/done/Rinascimento (комбинезон).mp4', data-caption='<a href="https://tcmir.ru">Ссылка на нужную страницу с мобилы</a>')
    //-               img(src='assets/img/index2/poster3.jpg', alt='')
    //-               span Rinascimento (Образы, Катя, студия)
    //-           .bottomWide__item.swiper-slide
    //-             a.videoLink_dt(data-fancybox='', href='file:///S:/Shared with me/promo/video roman/Rinasciemento/done/Rinascimento (образы, Катя, студия).mp4', data-caption='<a href="https://tcmir.ru">Ссылка на нужную страницу</a>')
    //-               img(src='assets/img/index2/poster3.jpg', alt='')
    //-               span Rinascimento (Образы, Катя, студия)
    //-             a.videoLink_mb(data-fancybox='', href='file:///S:/Shared with me/promo/video roman/Rinasciemento/done/Rinascimento (комбинезон).mp4', data-caption='<a href="https://tcmir.ru">Ссылка на нужную страницу с мобилы</a>')
    //-               img(src='assets/img/index2/poster3.jpg', alt='')
    //-               span Rinascimento (Образы, Катя, студия)
    //-           .bottomWide__item.swiper-slide
    //-             a.videoLink_dt(data-fancybox='', href='file:///S:/Shared with me/promo/video roman/Rinasciemento/done/Rinascimento (образы, Катя, студия).mp4', data-caption='<a href="https://tcmir.ru">Ссылка на нужную страницу</a>')
    //-               img(src='assets/img/index2/poster3.jpg', alt='')
    //-               span Rinascimento (Образы, Катя, студия)
    //-             a.videoLink_mb(data-fancybox='', href='file:///S:/Shared with me/promo/video roman/Rinasciemento/done/Rinascimento (комбинезон).mp4', data-caption='<a href="https://tcmir.ru">Ссылка на нужную страницу с мобилы</a>')
    //-               img(src='assets/img/index2/poster3.jpg', alt='')
    //-               span Rinascimento (Образы, Катя, студия)
              
    //-       .bottomWide__left
    //-         i.icon-arr-left1
    //-       .bottomWide__right
    //-         i.icon-arr-right1

  .site__footer
    +siteFooter2

  +scripts







  