mixin aCatalog
  .aCatalog__area
    .aCatalog__wrapper.aC_level0
      .aCatalog__overlay.aC_level0
      .aCatalog.aC_level0
        .aCatalog__header
          .aCatalog__title Каталог
          .aCatalog__close.aCatalog__close_main
            i.icon-close1
        .aCatalog__content
          .aCatalog__item
            a.aCatalog__itemLink(href="") Женщинам
            .aCatalog__more Развернуть...
          .aCatalog__item
            a.aCatalog__itemLink(href="") Мужчинам
            .aCatalog__more Развернуть...
          .aCatalog__item
            a.aCatalog__itemLink(href="") Детям
            .aCatalog__more Развернуть...
          .aCatalog__item
            a.aCatalog__itemLink(href="") Красота
            .aCatalog__more Развернуть...

    .aCatalog__wrapper.aC_level1
      .aCatalog__overlay.aC_level1
      .aCatalog.aC_level1
        .aCatalog__header
          .aCatalog__title Женщинам
          .aCatalog__close
            i.icon-arr-left1
        .aCatalog__content
          .aCatalog__item
            a.aCatalog__itemLink(href="") Одежда
            .aCatalog__more Развернуть...
          .aCatalog__item
            a.aCatalog__itemLink(href="") Обувь
            .aCatalog__more Развернуть...
          .aCatalog__item
            a.aCatalog__itemLink(href="") Аксессуары
            .aCatalog__more Развернуть...

    .aCatalog__wrapper.aC_level2
      .aCatalog__overlay.aC_level2
      .aCatalog.aC_level2
        .aCatalog__header
          .aCatalog__title Одежда
          .aCatalog__close
            i.icon-arr-left1
        .aCatalog__content
          .aCatalog__item
            a.aCatalog__itemLink(href="") Блузки
            .aCatalog__more Развернуть...
          .aCatalog__item
            a.aCatalog__itemLink(href="") Юбки
            .aCatalog__more Развернуть...
          .aCatalog__item
            a.aCatalog__itemLink(href="") Кофты
            .aCatalog__more Развернуть...
          .aCatalog__item
            a.aCatalog__itemLink(href="") Блузки
            .aCatalog__more Развернуть...
          .aCatalog__item
            a.aCatalog__itemLink(href="") Юбки
            .aCatalog__more Развернуть...
          .aCatalog__item
            a.aCatalog__itemLink(href="") Кофты
            .aCatalog__more Развернуть...
          .aCatalog__item
            a.aCatalog__itemLink(href="") Блузки
            .aCatalog__more Развернуть...
          .aCatalog__item
            a.aCatalog__itemLink(href="") Юбки
            .aCatalog__more Развернуть...
          .aCatalog__item
            a.aCatalog__itemLink(href="") Кофты
            .aCatalog__more Развернуть...