

mixin adaptiveMenu1
  .adaptiveMenu__area.adaptiveMenu__areaJS
    .adaptiveMenu__outer
      .adaptiveMenu__title
        span Меню
        .adaptiveMenu__areaClose
          i.icon-close1
      nav.adaptiveMenu__wrapper
        ul.adaptiveMenu.ulalev0
          li.alev0
            a(href='') 
              span Женщинам
              span 155
            ul.ulalev1
              li.alev1
                a(href='') 
                  span Новинки
                  span 200
              li.alev1
                a(href='') 
                  span Одежда
                  span 350
                ul.ulalev2
                  li.alev2
                    a(href='#')
                      span верхняя одежда
                      span 15
                    ul.ulalev3
                      li.alev3
                        a(href='#')
                          span ветровка
                          span 0
                      li.alev3
                        a(href='#')
                          span куртка
                          span 1
                      li.alev3
                        a(href='#')
                          span пальто
                          span 14
                        ul.ulalev4
                          li.alev4
                            a(href='#')
                              span Короткое пальто
                              span 0
                          li.alev4
                            a(href='#')
                              span Длинное пальто
                              span 1
                            ul.ulalev5
                              li.alev5
                                a(href='#')
                                  span Длинное кожаное пальто
                                  span 0
                              li.alev5
                                a(href='#')
                                  span Длинное замшевое пальто
                                  span 1
                              li.alev5
                                a(href='#')
                                  span Длинное драповое пальто
                                  span 14
                                ul.ulalev6
                                  li.alev6
                                    a(href='#')
                                      span Длинное драповое пальто Российское
                                      span 1
                                  li.alev6
                                    a(href='#')
                                      span Длинное драповое пальто Испанское
                                      span 2
                                  li.alev6
                                    a(href='#')
                                      span Длинное драповое пальто Китайское
                                      span 14
                              li.alev5
                                a(href='#')
                                  span Длинное льняное пальто
                                  span 0
                              li.alev5
                                a(href='#')
                                  span Длинное шелковое пальто
                                  span 1
                          li.alev4
                            a(href='#')
                              span Летнее полупальто
                              span 14
                          li.alev4
                            a(href='#')
                              span Полупальто
                              span 14
                          li.alev4
                            a(href='#')
                              span Зимнее пальто
                              span 0
                          li.alev4
                            a(href='#')
                              span Летнее пальто
                              span 1
                          li.alev4
                            a(href='#')
                              span Летнее полупальто
                              span 14
              li.alev1
                a(href='') Обувь
              li.alev1
                a(href='') Аксессуары
              li.alev1
                a(href='') Бренды
              li.alev1
                a(href='') Sale
          li.alev0
            a(href='') 
              span Мужчинам
              span 133
          li.alev0
            a(href='') 
              span Детям
              span 256
          li.alev0
            a(href='') 
              span Красота
              span 321
          li.alev0
            a(href='') 
              span Дом
              span 142
