mixin arHeader
  .header__area
    .header__outer.w1
      header.arHeader
        .logo2
          a(href='#')
            img(src='assets/img/logotry2.svg', alt='Торговый комплекс МИР')
        .arHeader__btns
          .arHeader__item.logout
            a(href="")
              i.icon-avatar1
              span Войти
          .arHeader__item.login
            a(href="")
              i.icon-exit
              span Выйти

    
mixin arMain
  .arMain__area
    .arMain__outer.w1
      .arMain
        .arMain__left
          .shop__slider
            .swiper-container.swiper-container_shop
              .swiper-wrapper
                .swiper-slide.swiper-slide_shop(style='background-image: url(assets/img/shop/001.jpg);')
                  .swiper__cadr_shop
                    .swiper__infoBoxShop
                      .swiper__infoBoxShopTitle Заголовок слайда 1
                      .swiper__infoBoxShopDescription Описание слайда 1 в несколько слов
                  img(src='assets/img/slider1cover.png', alt='')
                .swiper-slide.swiper-slide_shop(style='background-image: url(assets/img/shop/002.jpg);')
                  .swiper__cadr_shop
                    .swiper__infoBoxShop
                      .swiper__infoBoxShopTitle Заголовок слайда 2
                      .swiper__infoBoxShopDescription Описание слайда 2 в несколько слов, которые могут выйти на большее число строк
                  img(src='assets/img/slider1cover.png', alt='')
                .swiper-slide.swiper-slide_shop(style='background-image: url(assets/img/shop/003.jpg);')
                  .swiper__cadr_shop
                    .swiper__infoBoxShop
                      .swiper__infoBoxShopTitle Заголовок слайда 3
                      .swiper__infoBoxShopDescription Описание слайда 3 в несколько слов
                  img(src='assets/img/slider1cover.png', alt='')
                .swiper-slide.swiper-slide_shop(style='background-image: url(assets/img/shop/004.jpg);')
                  .swiper__cadr_shop
                    .swiper__infoBoxShop
                      .swiper__infoBoxShopTitle Заголовок слайда 4
                      .swiper__infoBoxShopDescription Описание слайда 4 в несколько слов
                  img(src='assets/img/slider1cover.png', alt='')
                .swiper-slide.swiper-slide_shop(style='background-image: url(assets/img/shop/005.jpg);')
                  .swiper__cadr_shop
                    .swiper__infoBoxShop
                      .swiper__infoBoxShopTitle Заголовок слайда 4
                      .swiper__infoBoxShopDescription Описание слайда 4 в несколько слов
                  img(src='assets/img/slider1cover.png', alt='')
                .swiper-slide.swiper-slide_shop(style='background-image: url(assets/img/shop/006.jpg);')
                  .swiper__cadr_shop
                    .swiper__infoBoxShop
                      .swiper__infoBoxShopTitle Заголовок слайда 4
                      .swiper__infoBoxShopDescription Описание слайда 4 в несколько слов
                  img(src='assets/img/slider1cover.png', alt='')
              // Add Pagination
              .swiper-pagination.swiper-pagination_shop
              // Add Arrows
              .swiper-pagination.swiper-button-prev.swiper-button-prevShop
                i.icon-arr-left1
              .swiper-pagination.swiper-button-next.swiper-button-nextShop
                i.icon-arr-right1
        .arMain__right
          .arLogin__area
            .arLogin__title Вход в личный кабинет
            form.arLogin(action="")
              .arLogin__item
                label(for="arLogin__login") Ваш логин:
                input#arLogin__login(type="text" placeholder="Введите Ваш логин")
              .arLogin__item
                label(for="arLogin__password") Ваш пароль:
                input#arLogin__password(type="text" placeholder="Введите Ваш пароль")
              .arLogin__item
                button.submit Войти

mixin arInstructions
  .arInstructions__area
    .arInstructions__outer.w1
      .title
        h2 Видеоинструкции
      .arInstructions
        .arInstructions__itemOuter
          a.arInstructions__item(href="#")
            .arInstructions__itemImg(style="background-image: url(assets/img/cover1.png)")
              img(src="assets/img/tr150-90.png", alt="")
            .arInstructions__itemInfo
              span Знакомство с личным кабинетом
        .arInstructions__itemOuter
          a.arInstructions__item(href="#")
            .arInstructions__itemImg(style="background-image: url(assets/img/cover1.png)")
              img(src="assets/img/tr150-90.png", alt="")
            .arInstructions__itemInfo
              span Знакомство с личным кабинетом
        .arInstructions__itemOuter
          a.arInstructions__item(href="#")
            .arInstructions__itemImg(style="background-image: url(assets/img/cover1.png)")
              img(src="assets/img/tr150-90.png", alt="")
            .arInstructions__itemInfo
              span Знакомство с личным кабинетом
        .arInstructions__itemOuter
          a.arInstructions__item(href="#")
            .arInstructions__itemImg(style="background-image: url(assets/img/cover1.png)")
              img(src="assets/img/tr150-90.png", alt="")
            .arInstructions__itemInfo
              span Знакомство с личным кабинетом
        .arInstructions__itemOuter
          a.arInstructions__item(href="#")
            .arInstructions__itemImg(style="background-image: url(assets/img/cover1.png)")
              img(src="assets/img/tr150-90.png", alt="")
            .arInstructions__itemInfo
              span Знакомство с личным кабинетом
        .arInstructions__itemOuter
          a.arInstructions__item(href="#")
            .arInstructions__itemImg(style="background-image: url(assets/img/cover1.png)")
              img(src="assets/img/tr150-90.png", alt="")
            .arInstructions__itemInfo
              span Знакомство с личным кабинетом
        .arInstructions__itemOuter
          a.arInstructions__item(href="#")
            .arInstructions__itemImg(style="background-image: url(assets/img/cover1.png)")
              img(src="assets/img/tr150-90.png", alt="")
            .arInstructions__itemInfo
              span Знакомство с личным кабинетом
        .arInstructions__itemOuter
          a.arInstructions__item(href="#")
            .arInstructions__itemImg(style="background-image: url(assets/img/cover1.png)")
              img(src="assets/img/tr150-90.png", alt="")
            .arInstructions__itemInfo
              span Знакомство с личным кабинетом
        .arInstructions__itemOuter
          a.arInstructions__item(href="#")
            .arInstructions__itemImg(style="background-image: url(assets/img/cover1.png)")
              img(src="assets/img/tr150-90.png", alt="")
            .arInstructions__itemInfo
              span Знакомство с личным кабинетом



mixin arBoxLinks
  .arBoxLinks__area
    .arBoxLinks__outer.w1
      .arBoxLinks
        .arBoxLink__outer
          a.arBoxLink(href="#")
            span.arBoxLinkCover(style="background-image: url(assets/img/ar/001.jpg)")
            span.arBoxLink__info
              span.arBoxLink__title  Мои товары
              span.arBoxLink__desc  Загрузка и редактирование товаров
            
        .arBoxLink__outer
          a.arBoxLink(href="#")
            span.arBoxLinkCover(style="background-image: url(assets/img/ar/002.jpg)")
            span.arBoxLink__info
              span.arBoxLink__title  Лента продаж
              span.arBoxLink__desc  Просмотр продаж по дням
        .arBoxLink__outer
          a.arBoxLink(href="#")
            span.arBoxLinkCover(style="background-image: url(assets/img/ar/003.jpg)")
            span.arBoxLink__info
              span.arBoxLink__title  Корректировка остатков
              span.arBoxLink__desc  Актуализация состояния склада
        .arBoxLink__outer
          a.arBoxLink(href="#")
            span.arBoxLinkCover(style="background-image: url(assets/img/ar/004.jpg)")
            span.arBoxLink__info
              span.arBoxLink__title  Мой магазин
              span.arBoxLink__desc  Коррекция информации о магазине

mixin skladTab__category
  .skladTab__categoryArea
    .w1
      .title
        h1 Мои товары
    .skladTab__categoryOuter.w1
      .skladTab__category
        .skladTab__categoryItemOuter
          a.skladTab__categoryItem(href="#") Куртки
        .skladTab__categoryItemOuter
          a.skladTab__categoryItem(href="#") Пальто
        .skladTab__categoryItemOuter
          a.skladTab__categoryItem.active(href="#") Резиновые тапки
        .skladTab__categoryItemOuter
          a.skladTab__categoryItem(href="#") Куртки
        .skladTab__categoryItemOuter
          a.skladTab__categoryItem(href="#") Пальто
        .skladTab__categoryItemOuter
          a.skladTab__categoryItem(href="#") Джинсовые куртки

mixin skladTab
  .skladTab__area
    .skladTab__outer.w1
      .skladTab
        .skladTab__item
          .skladTab__itemMain
            .skladTab__row
              .skladTab__col_1
                .skladTab__itemMainInfo
                  .openBtn
                    span.openBtnPlus +
                    span.openBtnMinus -
              .skladTab__col_2
                .skladTab__img
                  img(src="assets/img/tovar/017.jpeg", alt="")
              .skladTab__col_3 4-20155961
              .skladTab__col_4
                .skladTab__itemMainTitleBrand Американо
                .skladTab__itemMainTitle.skladTab__itemMainTitle_bold Ботинки мужские из кожи крокодила
              .skladTab__col_5 32, 34, 36, 38, 40, 42, 44, 45
              .skladTab__col_6 5 шт
              .skladTab__col_7
                .skladTabPrice__area
                  span.skladTabOldPrice 10000 Р
                  span.skladTabDiscount 5%
                  span.skladTabPrice 9500 Р
          .skladTab__itemDetail
            .skladTab__row
              .skladTab__col_1
              .skladTab__col_2 
              .skladTab__col_3 
              .skladTab__col_4 
                .skladTab__itemMainTitle Ботинки мужские из кожи крокодила
              .skladTab__col_5 Размер 32
              .skladTab__col_6
                .cart2number.number.number_inTab(data-wareid='xxx', data-mode='qcont')
                  span.minus_tab(data-wareid='xxx', data-change='-1', title='Уменьшить количество') -
                  input.cartCountInput(type='text', name='count', value='0', min='0', data-wareid='xxx')
                  span.plus_tab(data-wareid='xxx', data-change='1', title='Увеличить количество') +
              .skladTab__col_7
                .enterBtn Применить
            .skladTab__row
              .skladTab__col_1
              .skladTab__col_2 
              .skladTab__col_3 
              .skladTab__col_4 
                .skladTab__itemMainTitle Ботинки мужские из кожи крокодила
              .skladTab__col_5 Размер 32
              .skladTab__col_6
                .cart2number.number.number_inTab(data-wareid='xxx', data-mode='qcont')
                  span.minus_tab(data-wareid='xxx', data-change='-1', title='Уменьшить количество') -
                  input.cartCountInput(type='text', name='count', value='0', min='0', data-wareid='xxx')
                  span.plus_tab(data-wareid='xxx', data-change='1', title='Увеличить количество') +
              .skladTab__col_7
                .enterBtn Применить
        .skladTab__item
          .skladTab__itemMain
            .skladTab__row
              .skladTab__col_1
                .skladTab__itemMainInfo
                  .openBtn
                    span.openBtnPlus +
                    span.openBtnMinus -
              .skladTab__col_2
                .skladTab__img
                  img(src="assets/img/tovar/017.jpeg", alt="")
              .skladTab__col_3 4-20155961
              .skladTab__col_4
                .skladTab__itemMainTitleBrand Американо
                .skladTab__itemMainTitle.skladTab__itemMainTitle_bold Ботинки мужские из кожи крокодила
              .skladTab__col_5 32, 34, 36, 38, 40, 42, 44, 45
              .skladTab__col_6 5 шт
              .skladTab__col_7
                .skladTabPrice__area
                  span.skladTabOldPrice 10000 Р
                  span.skladTabDiscount 5%
                  span.skladTabPrice 9500 Р
          .skladTab__itemDetail
            .skladTab__row
              .skladTab__col_1
              .skladTab__col_2 
              .skladTab__col_3 
              .skladTab__col_4 
                .skladTab__itemMainTitle Ботинки мужские из кожи крокодила
              .skladTab__col_5 Размер 32
              .skladTab__col_6
                .cart2number.number.number_inTab(data-wareid='xxx', data-mode='qcont')
                  span.minus_tab(data-wareid='xxx', data-change='-1', title='Уменьшить количество') -
                  input.cartCountInput(type='text', name='count', value='0', min='0', data-wareid='xxx')
                  span.plus_tab(data-wareid='xxx', data-change='1', title='Увеличить количество') +
              .skladTab__col_7
                .enterBtn Применить
            .skladTab__row
              .skladTab__col_1
              .skladTab__col_2 
              .skladTab__col_3 
              .skladTab__col_4 
                .skladTab__itemMainTitle Ботинки мужские из кожи крокодила
              .skladTab__col_5 Размер 32
              .skladTab__col_6
                .cart2number.number.number_inTab(data-wareid='xxx', data-mode='qcont')
                  span.minus_tab(data-wareid='xxx', data-change='-1', title='Уменьшить количество') -
                  input.cartCountInput(type='text', name='count', value='0', min='0', data-wareid='xxx')
                  span.plus_tab(data-wareid='xxx', data-change='1', title='Увеличить количество') +
              .skladTab__col_7
                .enterBtn Применить
        .skladTab__item
          .skladTab__itemMain
            .skladTab__row
              .skladTab__col_1
                .skladTab__itemMainInfo
                  .openBtn
                    span.openBtnPlus +
                    span.openBtnMinus -
              .skladTab__col_2
                .skladTab__img
                  img(src="assets/img/tovar/017.jpeg", alt="")
              .skladTab__col_3 4-20155961
              .skladTab__col_4
                .skladTab__itemMainTitleBrand Американо
                .skladTab__itemMainTitle.skladTab__itemMainTitle_bold Ботинки мужские из кожи крокодила
              .skladTab__col_5 32, 34, 36, 38, 40, 42, 44, 45
              .skladTab__col_6 5 шт
              .skladTab__col_7
                .skladTabPrice__area
                  span.skladTabOldPrice 10000 Р
                  span.skladTabDiscount 5%
                  span.skladTabPrice 9500 Р
          .skladTab__itemDetail
            .skladTab__row
              .skladTab__col_1
              .skladTab__col_2 
              .skladTab__col_3 
              .skladTab__col_4 
                .skladTab__itemMainTitle Ботинки мужские из кожи крокодила
              .skladTab__col_5 Размер 32
              .skladTab__col_6
                .cart2number.number.number_inTab(data-wareid='xxx', data-mode='qcont')
                  span.minus_tab(data-wareid='xxx', data-change='-1', title='Уменьшить количество') -
                  input.cartCountInput(type='text', name='count', value='0', min='0', data-wareid='xxx')
                  span.plus_tab(data-wareid='xxx', data-change='1', title='Увеличить количество') +
              .skladTab__col_7
                .enterBtn Применить
            .skladTab__row
              .skladTab__col_1
              .skladTab__col_2 
              .skladTab__col_3 
              .skladTab__col_4 
                .skladTab__itemMainTitle Ботинки мужские из кожи крокодила
              .skladTab__col_5 Размер 32
              .skladTab__col_6
                .cart2number.number.number_inTab(data-wareid='xxx', data-mode='qcont')
                  span.minus_tab(data-wareid='xxx', data-change='-1', title='Уменьшить количество') -
                  input.cartCountInput(type='text', name='count', value='0', min='0', data-wareid='xxx')
                  span.plus_tab(data-wareid='xxx', data-change='1', title='Увеличить количество') +
              .skladTab__col_7
                .enterBtn Применить
        

mixin addTovar
  .addTovar__area
    .addTovar__outer.w1
      .addTovar
        .addTovar__img
          .form-file.col-12.col-md-8.mx-auto
            input#addTovarImg.form-file-input(type='file')
            label.form-file-label(for='addTovarImg')
              span.form-file-text Выберите фото товара...
              span.form-file-button Обзор
        .addTovar__imgReadyAreaTitle Добавлены:
        .addTovar__imgReadyArea
            .imgReady__itemOuter.col-4.col-md-3.col-lg-2
              .imgReady__item
                img(src="assets/img/tovar2/001.jpeg", alt="")
            .imgReady__itemOuter.col-4.col-md-3.col-lg-2
              .imgReady__item
                img(src="assets/img/tovar2/001.jpeg", alt="")
            .imgReady__itemOuter.col-4.col-md-3.col-lg-2
              .imgReady__item
                img(src="assets/img/tovar2/001.jpeg", alt="")
            .imgReady__itemOuter.col-4.col-md-3.col-lg-2
              .imgReady__item
                img(src="assets/img/tovar2/001.jpeg", alt="")
            .imgReady__itemOuter.col-4.col-md-3.col-lg-2
              .imgReady__item
                img(src="assets/img/tovar2/001.jpeg", alt="")
            .imgReady__itemOuter.col-4.col-md-3.col-lg-2
              .imgReady__item
                img(src="assets/img/tovar2/001.jpeg", alt="")
        .addTovar__info
          .addTovar__input.mb-3
            label.form-label(for='addTovar_article') Артикул товара
            input#addTovar_article.form-control(type='text', placeholder='Артикул')
          .addTovar__input.mb-3
            label.form-label(for='addTovar_title') Название товара
            input#addTovar_title.form-control(type='text', placeholder='Название товара')
          .addTovar__input.mb-3
            label.form-label(for="addTovar_catLev0") В какой раздел добавляется товар
            select#addTovar_catLev0.form-select(aria-label='Default select example')
              option(selected='') Укажите раздел
              option(value='1') Женщинам
              option(value='2') Мужчинам
              option(value='3') Детям
              option(value='4') Красота
          .addTovar__input.mb-3
            label.form-label(for="addTovar_catLev0") Категория товара (появляется после выбора раздела)
            select#addTovar_catLev0.form-select(aria-label='Default select example')
              option(selected='') Укажите категорию
              option(value='1') Одежда
              option(value='2') Обувь
              option(value='3') Аксессуары

        
