//- include assets/chunks/__loader/__loader

mixin brands2slider
  .brands2slider.brands2slider_dt
    .swiper-container.brands2slider-container
      .swiper-wrapper.brands2slider-wrapper
        .swiper-slide.brands2slider-slide
          .brands2slider-slideFirst(style='background-image: url(assets/img/vendor/Forward/Forward.jpg);')
            img(data-src='assets/img/vendor/Forward/Forward.jpg', alt='')
            //- span Название
        .swiper-slide.brands2slider-slide.brands2slider-slide_img
          a(data-fancybox='dt', href='assets/img/index2/poster2.jpg')
            img(data-src='assets/img/index2/poster2.jpg', alt='')
        //- .swiper-slide.brands2slider-slide
        //-   a.videoLink_dt(data-fancybox='dt', href='https://www.youtube.com/watch?v=dl16e_mG6hg?rel=0', data-caption='')
        //-     img(data-src='assets/img/index2/poster1.jpg', alt='')
        .swiper-slide.brands2slider-slide
          a(data-fancybox='dt', href='file:///S:/Shared with me/promo/video roman/Rinasciemento/done/Rinascimento (образы, Катя, студия).mp4', data-caption='')
            img(data-src='assets/img/index2/poster3.jpg', alt='')
        //- .swiper-slide.brands2slider-slide
        //-   a.one__itemInSlider(data-fancybox='dt', href='https://www.youtube.com/watch?v=dl16e_mG6hg?rel=0', data-caption='')
        //-     img(data-src='assets/img/index2/poster1.jpg', alt='')
        //- .swiper-slide.brands2slider-slide
        //-   a.one__itemInSlider(data-fancybox='dt', href='https://www.youtube.com/watch?v=dl16e_mG6hg?rel=0', data-caption='')
        //-     img(data-src='assets/img/index2/poster1.jpg', alt='')
    .brands2slider__left
      i.icon-arr-left1
    .brands2slider__right
      i.icon-arr-right1
  .brands2slider.brands2slider_mb
    .swiper-container.brands2slider-container
      .swiper-wrapper.brands2slider-wrapper
        .swiper-slide.brands2slider-slide
          .brands2slider-slideFirst(style='background-image: url(assets/img/vendor/Forward/Forward.jpg);')
            img(data-src='assets/img/vendor/Forward/Forward.jpg', alt='')
            //- span Название
        //- .swiper-slide.brands2slider-slide.brands2slider-slide_img
        //-   a.one__itemInSlider(data-fancybox='mb', href='assets/img/index2/poster2.jpg')
        //-     img(data-src='assets/img/index2/poster2.jpg', alt='')
        //- .swiper-slide.brands2slider-slide
        //-   a.videoLink_mb(data-fancybox='mb', href='https://www.youtube.com/watch?v=IV0CCWokmbI', data-caption='')
        //-     img(data-src='assets/img/index2/poster1.jpg', alt='')
        //- .swiper-slide.brands2slider-slide
        //-   a.videoLink_mb(data-fancybox='mb', href='file:///S:/Shared with me/img/video/Rinascimento2_m.mp4', data-caption='')
        //-     img(data-src='assets/img/index2/poster3.jpg', alt='')
        .swiper-slide.brands2slider-slide
          a(data-fancybox='mb', href='https://www.youtube.com/watch?v=dl16e_mG6hg?rel=0', data-caption='')
            img(data-src='assets/img/index2/poster1.jpg', alt='')
        .swiper-slide.brands2slider-slide
          a(data-fancybox='mb', href='https://www.youtube.com/watch?v=IV0CCWokmbI', data-caption='')
            img(data-src='assets/img/index2/poster1.jpg', alt='')
        .swiper-slide.brands2slider-slide
          a(data-fancybox='mb', href='https://www.youtube.com/watch?v=IV0CCWokmbI', data-caption='')
            img(data-src='assets/img/index2/poster1.jpg', alt='')
        .swiper-slide.brands2slider-slide
          a(data-fancybox='mb', href='https://www.youtube.com/watch?v=IV0CCWokmbI', data-caption='')
            img(data-src='assets/img/index2/poster1.jpg', alt='')
        .swiper-slide.brands2slider-slide
          a(data-fancybox='mb', href='https://www.youtube.com/watch?v=IV0CCWokmbI', data-caption='')
            img(data-src='assets/img/index2/poster1.jpg', alt='')
    .brands2slider__left
      i.icon-arr-left1
    .brands2slider__right
      i.icon-arr-right1


mixin brands2slider2
  .brands2slider
    //- +loader1
    .swiper-container.brands2slider-container
      .swiper-wrapper.brands2slider-wrapper
        .swiper-slide.brands2slider-slide
          a.one__itemInSlider(data-fancybox='', href='assets/img/index2/poster2.jpg')
            img(data-src='assets/img/index2/poster2.jpg', alt='')
        .swiper-slide.brands2slider-slide
          a.one__itemInSlider(data-fancybox='', href='assets/img/index2/poster2.jpg')
            img(data-src='assets/img/index2/poster2.jpg', alt='')
        .swiper-slide.brands2slider-slide
          a.one__itemInSlider(data-fancybox='', href='assets/img/index2/poster2.jpg')
            img(data-src='assets/img/index2/poster2.jpg', alt='')
        .swiper-slide.brands2slider-slide
          a.one__itemInSlider(data-fancybox='', href='assets/img/index2/poster2.jpg')
            img(data-src='assets/img/index2/poster2.jpg', alt='')
        .swiper-slide.brands2slider-slide
          a.one__itemInSlider(data-fancybox='', href='assets/img/index2/poster2.jpg')
            img(data-src='assets/img/index2/poster2.jpg', alt='')
        .swiper-slide.brands2slider-slide
          a.one__itemInSlider(data-fancybox='', href='assets/img/index2/poster2.jpg')
            img(data-src='assets/img/index2/poster2.jpg', alt='')
        
    .brands2slider__left
      i.icon-arr-left1
    .brands2slider__right
      i.icon-arr-right1

                