mixin breadcrumbs
  .breadcrumbs__area.w0
    .breadcrumbs.w1
      div
        a(href='#') Главная 
      |           /
      div
        a(href='#') Категория 
      |           /
      div
        span Текущий пункт

mixin fake-breadcrumbs
  .breadcrumbs__area.w0.fakeBreadcrumbs
    .breadcrumbs.w1
      .fakeBreadcrumbs
        .backBtn
          i.icon-arr-left1
          span Назад
        a.shopInBreadcrumbsTitle(href="") Monte Napoleone


mixin fake-breadcrumbs_inBrand
  .breadcrumbs__area.w0
    .breadcrumbs.w1
      .fakeBreadcrumbs
        .backBtn
          i.icon-arrow-left2
          span Назад
        .brandTitle
          h1= pageTitle

mixin fake-breadcrumbs_inOneTagPage
  .breadcrumbs__area.w0
    .breadcrumbs.w1
      .fakeBreadcrumbs
        .backBtn
          i.icon-arrow-left2
          span Все тренды
        .brandTitle
          h1= pageTitle

mixin fake-breadcrumbs_onlyBackBtn
  .breadcrumbs__area.w0
    .breadcrumbs.w1
      .fakeBreadcrumbs
        .backBtn
          i.icon-arr-left1
          span Назад

mixin lookBreadcrumbs
  .lookBreadcrumbs__area.p1280
    .lookBreadcrumbs__outer
      .lookBreadcrumbs
        .backBtn
          i.icon-arrow-left2
          span Назад



        