mixin cabinet2
  .cabinet2__area.w0
    .cabinet2__outer.w1
      .title1.title1_bgw.title_flex
        h1= pageTitle
        a.profil2__exit(href="", title="Выйти")
          
          span Выйти
          i.icon-exit
      .cab2__tabsArea
        ul.cab2__tabs
          li.cab2__tab
            a.cab2__tabTitle.active(href='#')
              i.icon-clipboard
              span Мои заказы
            section.open
              +order2
          li.cab2__tab
            a.cab2__tabTitle(href='#')
              i.icon-avatar1
              span Профиль
            section
              +profile2

      
mixin cabinet1
  .cabinet1__area.w0
    .cabinet1__outer.w1
      .title1.title1_bgw
        h1= pageTitle
      .cabinet1
        .cabTab
          .cabTabHeader
            .cabTab__title 
              i.icon-clipboard
              span Мои заказы
            //- .cabTab__title
            //-   i.icon-favorit1
            //-   span Избранное
            //- .cabTab__title
            //-   i.icon-cart1
            //-   span Корзина
            .cabTab__title
              i.icon-avatar1
              span Профиль
          .cabTabContent
            .cabTab__item
              .cabTab__title_mobile
                i.icon-clipboard
                span Мои заказы
              .cabTab__itemContent
                +order
            //- .cabTab__item
            //-   .cabTab__title_mobile
            //-     i.icon-favorit1
            //-     span Избранное
            //-   .cabTab__itemContent
            //-     .catalogPage
            //-       .catalog__outer.catalog__outer_fav
            //-         +catalogAreaFav
            //- .cabTab__item
            //-   .cabTab__title_mobile
            //-     i.icon-cart1
            //-     span Корзина
            //-   .cabTab__itemContent
            //-     +cart
            .cabTab__item
              .cabTab__title_mobile 
                i.icon-avatar1
                span Профиль
              .cabTab__itemContent 
                +profile
            //- .cabTab__item
            //-   a.cabTab__title_mobile(href="#")
            //-     i.icon-cart1
            //-     span Корзина

mixin order2
  .order2__area
    .order2__outer
      .order2__item
        a.order2(href="#")
          .order2__left
            .order2Title
              .order2Date 20-01-2021 16:59
              .order2Price 4 950.00 ₽
            .order2Id 000748
            .order2Status Ожидает оплаты
          .order2__right
            .order2Thumbs
              .order2Thumbs__itemArea
                .order2Thumbs__itemOuter
                  .order2Thumbs__item
                    img(src="assets/img/tovar6/001.jpg", alt="")
              .order2Thumbs__itemArea
                .order2Thumbs__itemOuter
                  .order2Thumbs__item
                    img(src="assets/img/tovar6/002.jpg", alt="")
              //- .order2Thumbs__itemArea
              //-   .order2Thumbs__itemOuter
              //-     .order2Thumbs__item(style="background-image: url(assets/img/tovar6/003.jpg)")
            //- .order2Thumbs__more + еще
      .order2__item
        a.order2(href="#")
          .order2__left
            .order2Title
              .order2Date 20-01-2021 16:59
              .order2Price 4 950.00 ₽
            .order2Id 000748
            .order2Status Ожидает оплаты
          .order2__right
            .order2Thumbs
              .order2Thumbs__itemArea
                .order2Thumbs__itemOuter
                  .order2Thumbs__item
                    img(src="assets/img/tovar6/004.jpg", alt="")
              .order2Thumbs__itemArea
                .order2Thumbs__itemOuter
                  .order2Thumbs__item
                    img(src="assets/img/tovar2/001.jpeg", alt="")
              //- .order2Thumbs__itemArea
              //-   .order2Thumbs__itemOuter
              //-     .order2Thumbs__item(style="background-image: url(assets/img/tovar6/006.jpg)")
              //- .order2Thumbs__itemArea
              //-   .order2Thumbs__itemOuter
              //-     .order2Thumbs__item(style="background-image: url(assets/img/tovar/010.jpeg)")
              //- .order2Thumbs__itemArea
              //-   .order2Thumbs__itemOuter
              //-     .order2Thumbs__item(style="background-image: url(assets/img/tovar/011.jpeg)")
            .order2Thumbs__more + еще
      .order2__item
        a.order2(href="#")
          .order2__left
            .order2Title
              .order2Date 20-01-2021 16:59
              .order2Price 4 950.00 ₽
            .order2Id 000748
            .order2Status Ожидает оплаты
          .order2__right
            .order2Thumbs
              .order2Thumbs__itemArea
                .order2Thumbs__itemOuter
                  .order2Thumbs__item
                    img(src="assets/img/tovar6/007.jpg", alt="")
              //- .order2Thumbs__itemArea
              //-   .order2Thumbs__itemOuter
              //-     .order2Thumbs__item(style="background-image: url(assets/img/tovar6/008.jpg)")
              //- .order2Thumbs__itemArea
              //-   .order2Thumbs__itemOuter
              //-     .order2Thumbs__item(style="background-image: url(assets/img/tovar6/009.jpg)")
            //- .order2Thumbs__more + еще
      .order2__item
        a.order2(href="#")
          .order2__left
            .order2Title
              .order2Date 20-01-2021 16:59
              .order2Price 4 950.00 ₽
            .order2Id 000748
            .order2Status Ожидает оплаты
          .order2__right
            .order2Thumbs
              .order2Thumbs__itemArea
                .order2Thumbs__itemOuter
                  .order2Thumbs__item
                    img(src="assets/img/tovar6/001.jpg", alt="")
              .order2Thumbs__itemArea
                .order2Thumbs__itemOuter
                  .order2Thumbs__item
                    img(src="assets/img/tovar6/002.jpg", alt="")
              //- .order2Thumbs__itemArea
              //-   .order2Thumbs__itemOuter
              //-     .order2Thumbs__item(style="background-image: url(assets/img/tovar6/003.jpg)")
            //- .order2Thumbs__more + еще
      .order2__item
        a.order2(href="#")
          .order2__left
            .order2Title
              .order2Date 20-01-2021 16:59
              .order2Price 4 950.00 ₽
            .order2Id 000748
            .order2Status Ожидает оплаты
          .order2__right
            .order2Thumbs
              .order2Thumbs__itemArea
                .order2Thumbs__itemOuter
                  .order2Thumbs__item
                    img(src="assets/img/tovar6/002.jpg", alt="")
      .order2__item
        a.order2(href="#")
          .order2__left
            .order2Title
              .order2Date 20-01-2021 16:59
              .order2Price 4 950.00 ₽
            .order2Id 000748
            .order2Status Ожидает оплаты
          .order2__right
            .order2Thumbs
              .order2Thumbs__itemArea
                .order2Thumbs__itemOuter
                  .order2Thumbs__item
                    img(src="assets/img/tovar6/003.jpg", alt="")



mixin order
  .order__area
    .order__outer
      .order
        .order__item
          .order__itemRow
            .order__itemRowTitle Номер и дата:
            .order__itemRowInfo 003563 / 2020-06-08 11:17:17
          .order__itemRow
            .order__itemRowTitle Состояние
            .order__itemRowInfo Согласован
          .order__itemRow
            .order__itemRowTitle Сумма заказа:
            .order__itemRowInfo 
              span 12500 р
          .order__itemRow
            .order__itemRowTitle Товары:
            .order__itemRowInfo
              .order__itemTovarsList
                .order__itemTovarsListTitle 2 шт
                .order__itemTovarsListInfo 
                  .order__itemTovarsListInfoItem Куртка джинсовая
                  .order__itemTovarsListInfoItem Кроссовки беговые
          .order__itemRow
            .order__itemRowTitle Оплата:
            .order__itemRowInfo В процессе1
          .order__itemRow
            .order__itemRowTitle
            .order__itemRowInfo
              a.order__itemDetals(href="#") Подробнее...
        .order__item
          .order__itemRow
            .order__itemRowTitle Номер и дата:
            .order__itemRowInfo 003563 / 2020-06-08 11:17:17
          .order__itemRow
            .order__itemRowTitle Состояние
            .order__itemRowInfo.order-status-1 Отменен пользователем
          .order__itemRow
            .order__itemRowTitle Сумма заказа:
            .order__itemRowInfo 
              span 12500 р
          .order__itemRow
            .order__itemRowTitle Оплата:
            .order__itemRowInfo В процессе
          .order__itemRow
            .order__itemRowTitle
            .order__itemRowInfo
              a.order__itemDetals(href="#") Подробнее...
        .order__item
          .order__itemRow
            .order__itemRowTitle Номер и дата:
            .order__itemRowInfo 003563 / 2020-06-08 11:17:17
          .order__itemRow
            .order__itemRowTitle Состояние
            .order__itemRowInfo.order-status-6 Согласован
          .order__itemRow
            .order__itemRowTitle Сумма заказа:
            .order__itemRowInfo 
              span 12500 р
          .order__itemRow
            .order__itemRowTitle Оплата:
            .order__itemRowInfo В процессе
          .order__itemRow
            .order__itemRowTitle
            .order__itemRowInfo
              a.order__itemDetals(href="#") Подробнее...

mixin profile
  .profile__area
    .profile__outer
      .profile
        .avatar__area
          .avatar__img
            img(src="assets/img/avatar1.png", alt="")
          .avatar__imgBtn Загрузить изображение
        .profile__infoArea
          .profile__info
            .profile__town
              span Город: 
              span Саратов
            .profile__gender 
              span Пол:
              span Женский
            .profile__create 
              span Аккаунт создан
              span 18.08.2020
          //- .profile__status Активный покупатель
          .profil__info2
            .profil__email
              span Email:
              span pokupatel@tcmir.ru
            .profil__tel
              span Телефон:
              span 8-927-310-88-10
            .profil__correctBtn Изменить данные
        //- .profil__exitArea
          a.profil__exit(href="", title="Выйти")
            i.icon-exit


mixin profile2
  .profile2__area
    .profile2__outer
      .profile2
        .profile2__row
          .profile2__rowTitle Имя:
          .profile2__rowContent Иванов Иван Иванович
          .profile2__rowContentCorect 
            span Изменить
            i.icon-pencil
        .profile2__row
          .profile2__rowTitle Телефон:
          .profile2__rowContent +7 (927) 310-88-10
          .profile2__rowContentCorect 
            span Изменить
            i.icon-pencil
        .profile2__row
          .profile2__rowTitle Email:
          .profile2__rowContent pokupatel@tcmir.ru
          .profile2__rowContentCorect 
            span Изменить
            i.icon-pencil
        .profile2__row
          .profile2__rowTitle Аккаунт создан:
          .profile2__rowContent 18.08.2020
