include __filter

mixin catalogFilter1
  .catalogFilter1__area
    .catalogFilter1
      .catalogFilter1__item
        .catalogFilter1__itemTitle.catalogFilter1__itemTitle_sort
          span Сортировка
        .catalogFilter1__itemContent.catalogFilter1__itemContent_sort
          +filterSort
      .catalogFilter1__item
        .catalogFilter1__itemTitle
          span Материал
        .catalogFilter1__itemContent
      .catalogFilter1__item
        .catalogFilter1__itemTitle
          span Бренд
        .catalogFilter1__itemContent
          +filterCheckbox_brand
      .catalogFilter1__item
        .catalogFilter1__itemTitle
          span Выбор цвета
        .catalogFilter1__itemContent
          +filterCheckbox_color
      .catalogFilter1__item
        .resetAllFiltersBtn
          span Очистить фильтры



    


    