
//- mixin adaptiveFilters
//-   .overlay1
//-   .aFilters__wrapper
//-     .aFilters__area
//-       .aFilters__titleArea
//-         .aFilters__title Подбор по параметрам
//-         .aFilters__close
//-           i.icon-close1
//-       .overlay2
//-       .aFilters__content
//-         .aFilterBox
//-           .aFilterBox__title Выбор материала
//-           .aFilterBox__inner
//-             .aFilterBox__innerTitleArea
//-               .aFilterBox__innerTitle Выбор материала:
//-               .aFilterBox__innerClose
//-                 i.icon-close1
//-             .aFilterBox__innerContent
//-               .aFilterBox__chooseArea
//-                 .xcheckbox
//-                   input#checkbox_1(type='checkbox', value='1', data-val="filter")
//-                   label(for='checkbox_1') Хлопок 100%
//-                 .xcheckbox
//-                   input#checkbox_2(type='checkbox', value='2', data-val="filter")
//-                   label(for='checkbox_2') Джинсовая ткань
//-                 .xcheckbox
//-                   input#checkbox_3(type='checkbox', value='3', data-val="filter")
//-                   label(for='checkbox_3') Лён
//-                 .xcheckbox
//-                   input#checkbox_4(type='checkbox', value='4', data-val="filter")
//-                   label(for='checkbox_4') Вискоза
//-                 .xcheckbox
//-                   input#checkbox_5(type='checkbox', value='5', data-val="filter")
//-                   label(for='checkbox_5') Искуственная кожа
//-                 .xcheckbox
//-                   input#checkbox_6(type='checkbox', value='6', data-val="filter")
//-                   label(for='checkbox_6') Натуральная кожа
//-                 .xcheckbox
//-                   input#checkbox_7(type='checkbox', value='7', data-val="filter")
//-                   label(for='checkbox_7') Синтетическое волокно
//-               .aFilterBox__Reset Очистить выбор
//-               .aFilterBoxEnterBtn
//-                 span Применить
//-         .aFilterBox
//-           .aFilterBox__title Выбор цвета
//-           .aFilterBox__inner
//-             .aFilterBox__innerTitleArea
//-               .aFilterBox__innerTitle Выбор цвета:
//-               .aFilterBox__innerClose
//-                 i.icon-close1
//-             .aFilterBox__innerContent
//-               .aFilterBox__chooseArea
//-                 .xcheckbox
//-                   input#checkbox_21(type='checkbox', value='21', data-val="filter")
//-                   label(for='checkbox_21') Красный
//-                 .xcheckbox
//-                   input#checkbox_22(type='checkbox', value='22', data-val="filter")
//-                   label(for='checkbox_22') Белый
//-                 .xcheckbox
//-                   input#checkbox_23(type='checkbox', value='23', data-val="filter")
//-                   label(for='checkbox_23') Зеленый
//-                 .xcheckbox
//-                   input#checkbox_24(type='checkbox', value='24', data-val="filter")
//-                   label(for='checkbox_24') Ситий
//-                 .xcheckbox
//-                   input#checkbox_25(type='checkbox', value='25', data-val="filter")
//-                   label(for='checkbox_25') Золотой
//-                 .xcheckbox
//-                   input#checkbox_26(type='checkbox', value='26', data-val="filter")
//-                   label(for='checkbox_26') Черный
//-                 .xcheckbox
//-                   input#checkbox_27(type='checkbox', value='27', data-val="filter")
//-                   label(for='checkbox_27') Желтый
//-               .aFilterBox__Reset Очистить выбор
//-               .aFilterBoxEnterBtn
//-                 span Применить
//-         .aFilterBox
//-           .aFilterBox__title Выбор размера
//-           .aFilterBox__inner
//-             .aFilterBox__innerTitleArea
//-               .aFilterBox__innerTitle Выбор размера:
//-               .aFilterBox__innerClose
//-                 i.icon-close1
//-             .aFilterBox__innerContent
//-               .aFilterBox__chooseArea
//-                 .xcheckbox
//-                   input#checkbox_31(type='checkbox', value='31', data-val="filter")
//-                   label(for='checkbox_31') M
//-                 .xcheckbox
//-                   input#checkbox_32(type='checkbox', value='32', data-val="filter")
//-                   label(for='checkbox_32') S
//-                 .xcheckbox
//-                   input#checkbox_33(type='checkbox', value='33', data-val="filter")
//-                   label(for='checkbox_33') L
//-                 .xcheckbox
//-                   input#checkbox_34(type='checkbox', value='34', data-val="filter")
//-                   label(for='checkbox_34') XL
//-                 .xcheckbox
//-                   input#checkbox_35(type='checkbox', value='35', data-val="filter")
//-                   label(for='checkbox_35') XXL
//-                 .xcheckbox
//-                   input#checkbox_36(type='checkbox', value='36', data-val="filter")
//-                   label(for='checkbox_36') XXXL
//-                 .xcheckbox
//-                   input#checkbox_37(type='checkbox', value='37', data-val="filter")
//-                   label(for='checkbox_37') XXXXL
//-               .aFilterBox__Reset Очистить выбор
//-               .aFilterBoxEnterBtn
//-                 span Применить
//-       .aFilter__footer
//-         .aFilter__footerReset Сбросить
//-         .aFilter__footerEnter Показать
