mixin footer
  .footer__area.w0
    footer.footer.w1
      .f1
        .tm © ТЦ «Мир», 2020
        .oferta *Информация на сайте не является публичной офертой
        a.policy1(href='#') Политика конфиденциальности
        .screenResolutionInfo
      .f2
        ul.footerMenu
          li
            a(href='#') Магазины
          li
            a(href='#') Акции
          li
            a(href='#') Новости
          li
            a(href='#') О комплексе
          li
            a(href='#') Контакты
      .f3
        .footer__address г. Саратов, ул. Московская, 117
        .footerTime с 10:00 до 21:00
        a.footerPhone(href='tel:+78452265741') +7 (8452) 26 57 41
      .f4
        .footer__linksTitle Следите за нами в соцсетях
        .footerSGlinks
          a(href='#')
            i.icon-fb
          a(href='#')
            i.icon-vk
          a(href='#')
            i.icon-ok
          a(href='#')
            i.icon-ig
