mixin l1bTitle 
  .l1bTitle__area#l1action
    .l1bTitle
      h2 Акции


mixin l1actions 
  .l1actions__area 
    .l1actions__outer
      .l1actions
        .l1actionsItem__outer 
          a.l1actionsItem(href="")
            .l1actionsItem__img
              .l1actionsItem__flag.l1actionsItem__flag_red Акция
              img(src="assets/img/landing/act1.jpg", alt="")
            .l1actionsItem__info 
              .l1actionsItem__title Лаки Hi-Lac Kapous professional
              .l1actionsItem__desc Лаки Hi-Lac Kapous professional по 150 рублей. Количество товара ограничено!
              .l1zctionsItem__redmoreArea 
                span Подробнее
                img(src="assets/img/landing/redmore-ico.svg", alt="")
        .l1actionsItem__outer 
          a.l1actionsItem(href="")
            .l1actionsItem__img 
              .l1actionsItem__flag.l1actionsItem__flag_green Скидка
              img(src="assets/img/landing/act2.jpg", alt="")
            .l1actionsItem__info 
              .l1actionsItem__title Гель-лаки Kodi
              .l1actionsItem__desc Скидка -25%  на гель-лаки Kodi (в акции участвуют только цвета)
              .l1zctionsItem__redmoreArea 
                span Подробнее
                img(src="assets/img/landing/redmore-ico.svg", alt="")
        .l1actionsItem__outer 
          a.l1actionsItem(href="")
            .l1actionsItem__img 
              .l1actionsItem__flag.l1actionsItem__flag_red Акция
              img(src="assets/img/landing/act1.jpg", alt="")
            .l1actionsItem__info 
              .l1actionsItem__title Лаки Hi-Lac Kapous professional
              .l1actionsItem__desc Лаки Hi-Lac Kapous professional по 150 рублей. Количество товара ограничено!
              .l1zctionsItem__redmoreArea 
                span Подробнее
                img(src="assets/img/landing/redmore-ico.svg", alt="")
        .l1actionsItem__outer 
          a.l1actionsItem(href="")
            .l1actionsItem__img 
              .l1actionsItem__flag.l1actionsItem__flag_green Скидка
              img(src="assets/img/landing/act2.jpg", alt="")
            .l1actionsItem__info 
              .l1actionsItem__title Гель-лаки Kodi
              .l1actionsItem__desc Скидка -25%  на гель-лаки Kodi (в акции участвуют только цвета)
              .l1zctionsItem__redmoreArea 
                span Подробнее
                img(src="assets/img/landing/redmore-ico.svg", alt="")
      a.l1redmoreAll(href="") Показать все