mixin l1cTitle 
  .l1bTitle__area#l1serv
    .l1bTitle
      h2 Услуги

mixin l1cServ
  .l1cServ__area 
    .l1cServ__outer 
      .l1cServ
        .l1cServ__ItemOuter
          a.l1cServ__Item(href="")
            .l1cServ__ItemImg
              img(src="assets/img/serv/Parikmag.jpg", alt="")
            .l1cServ__ItemInfo Услуги визажа и макияжа
        .l1cServ__ItemOuter
          a.l1cServ__Item(href="")
            .l1cServ__ItemImg
              img(src="assets/img/serv/Persona.jpg", alt="")
            .l1cServ__ItemInfo Ателье: пошив и ремонт одежды
        .l1cServ__ItemOuter
          a.l1cServ__Item(href="")
            .l1cServ__ItemImg
              img(src="assets/img/serv/Timepro.jpg", alt="")
            .l1cServ__ItemInfo Ремонт и продажа часов
        .l1cServ__ItemOuter
          a.l1cServ__Item(href="")
            .l1cServ__ItemImg
              img(src="assets/img/serv/Topmakeup.jpg", alt="")
            .l1cServ__ItemInfo Услуги визажа и макияжа
        .l1cServ__ItemOuter
          a.l1cServ__Item(href="")
            .l1cServ__ItemImg
              img(src="assets/img/serv/Parikmag.jpg", alt="")
            .l1cServ__ItemInfo Услуги 
        .l1cServ__ItemOuter
          a.l1cServ__Item(href="")
            .l1cServ__ItemImg
              img(src="assets/img/serv/Persona.jpg", alt="")
            .l1cServ__ItemInfo Ателье: пошив и ремонт одежды
        .l1cServ__ItemOuter
          a.l1cServ__Item(href="")
            .l1cServ__ItemImg
              img(src="assets/img/serv/Timepro.jpg", alt="")
            .l1cServ__ItemInfo Ремонт и продажа часов
        .l1cServ__ItemOuter
          a.l1cServ__Item(href="")
            .l1cServ__ItemImg
              img(src="assets/img/serv/Topmakeup.jpg", alt="")
            .l1cServ__ItemInfo Услуги визажа и макияжа
        .l1cServ__ItemOuter
          a.l1cServ__Item(href="")
            .l1cServ__ItemImg
              img(src="assets/img/serv/Parikmag.jpg", alt="")
            .l1cServ__ItemInfo Услуги визажа и макияжа
        .l1cServ__ItemOuter
          a.l1cServ__Item(href="")
            .l1cServ__ItemImg
              img(src="assets/img/serv/Persona.jpg", alt="")
            .l1cServ__ItemInfo Ателье
        .l1cServ__ItemOuter
          a.l1cServ__Item(href="")
            .l1cServ__ItemImg
              img(src="assets/img/serv/Timepro.jpg", alt="")
            .l1cServ__ItemInfo Ремонт и продажа часов
        .l1cServ__ItemOuter
          a.l1cServ__Item(href="")
            .l1cServ__ItemImg
              img(src="assets/img/serv/Topmakeup.jpg", alt="")
            .l1cServ__ItemInfo Услуги визажа и макияжа
