mixin l1_header 
  .l1_header__area 
    .l1_header__outer 
      header.l1_header
        .l1_header__left
          .l1_header__logo
            a(href="") 
              img(src="assets/img/logo8801000.svg", alt="")
          nav.l1_header__menu
            ul.l1__menu 
              li.active
                a.l1scrolltoTopMenu(href="#l1top", data-anchor="#l1top") Про Мир
              li
                a.l1scrolltoTopMenu(href="#l1action", data-anchor="#l1action") Акции
              li
                a.l1scrolltoTopMenu(href="#l1map", data-anchor="#l1map") Схема ТК
              li
                a.l1scrolltoTopMenu(href="#l1mag", data-anchor="#l1mag") Магазины
              li
                a.l1scrolltoTopMenu(href="#l1serv", data-anchor="#l1serv") Услуги
        .l1_header__right
          a.l1_topItem(href="")  
            i.icon-marker1
            span Саратов, ул. Москосвкая, 113-117
          a.l1_topItem(href="tel:+78452759933") 
            i.icon-phone
            span +7 (8452) 75 99 33