mixin l1dTitle 
  .l1bTitle__area#l1mag
    .l1bTitle
      h2 Магазины


mixin l1tabs
  .l1tabs__area
    .l1tabs__outer
      .l1tabs
        .l1tabs__title 
          .l1tabsTabs__titles
            a.l1tabsTabs__title.active(href="#" data-tab='1') Все
            a.l1tabsTabs__title(href="#" data-tab='2') По алфавиту
            a.l1tabsTabs__title(href="#" data-tab='3') Обувь
            a.l1tabsTabs__title(href="#" data-tab='4') Аксессуары
        .l1tabsTabs__area
          
          //- .l1tabsTabs__titles
          //-   a.l1tabsTabs__title.active(href="#" data-tab='1') Бренды
          //-   a.l1tabsTabs__title(href="#" data-tab='2') По алфавиту
          .l1tabsTabs__widgets
            .l1tabsTabs__widget.active(data-widget='1')
              .l1tabsBrands
                .l1tabsBrands__itemOuter
                  .l1tabsBrands__item(href='#' style='background-image: url(assets/img/vendor/Birba/birba.svg);')
                .l1tabsBrands__itemOuter
                  .l1tabsBrands__item(href='#' style='background-image: url(assets/img/vendor/Crocs/crocs.jpg);')
                    .l1tabsTabs__overlay
                      .l1tabsTabs__overlayInner
                        .l1tabsBrands__itemBoxOuter
                          .l1tabsBrands__itemBox
                            .l1tabs__close
                              i.icon-close1
                            .l1tabsBrands__itemBoxTop
                              .l1tabsBrands__itemBoxImg 
                                img(src="assets/img/vendor/Crocs/crocs.jpg", alt="")
                              .l1tabsBrands__itemBoxInfo
                                .l1tabsBrands__itemBoxInfoTitle Красота
                                .l1tabsBrands__itemBoxInfoTitleText Красота
                                a.l1tabsBrands__itemBoxInfoTitleTextLink(href="tel:88888888888")  8-800-888-88-88
                                .l1tabsBrands__itemBoxInfoSocialLinks
                                  a.l1tabsBrands__itemBoxInfoSocialLink(href="#")
                                    img(src="assets/img/instagram_svg.svg", alt="")
                                  a.l1tabsBrands__itemBoxInfoSocialLink(href="#")
                                    img(src="assets/img/worldwide.png", alt="")
                            .l1tabsBrands__itemBoxText Redken — американский бренд косметики для волос премиум-класса для профессиональных стилистов и эффективного домашнего ухода.
                            a.l1tabsBrands__itemBoxRedMore(href="") 
                              span Подробнее
                              img(src="assets/img/landing/redmore-ico.svg", alt="")
                .l1tabsBrands__itemOuter
                  .l1tabsBrands__item(href='#' style='background-image: url(assets/img/vendor/CvCover/cvcover.jpg);')
                .l1tabsBrands__itemOuter
                  .l1tabsBrands__item(href='#' style='background-image: url(assets/img/vendor/Dakkem/Dakkem.png);')
                .l1tabsBrands__itemOuter
                  .l1tabsBrands__item(href='#' style='background-image: url(assets/img/vendor/Destra/Destra.jpg);')
                .l1tabsBrands__itemOuter
                  .l1tabsBrands__item(href='#' style='background-image: url(assets/img/vendor/Forward/Forward.jpg);')
                .l1tabsBrands__itemOuter
                  .l1tabsBrands__item(href='#' style='background-image: url(assets/img/vendor/Gucci/gucci.jpg);')
                .l1tabsBrands__itemOuter
                  .l1tabsBrands__item(href='#' style='background-image: url(assets/img/vendor/Guinot/Guinot.jpg);')
                .l1tabsBrands__itemOuter
                  .l1tabsBrands__item(href='#' style='background-image: url(assets/img/vendor/Birba/birba.svg);')
                .l1tabsBrands__itemOuter
                  .l1tabsBrands__item(href='#' style='background-image: url(assets/img/vendor/Crocs/crocs.jpg);')
                .l1tabsBrands__itemOuter
                  .l1tabsBrands__item(href='#' style='background-image: url(assets/img/vendor/CvCover/cvcover.jpg);')
                .l1tabsBrands__itemOuter
                  .l1tabsBrands__item(href='#' style='background-image: url(assets/img/vendor/Dakkem/Dakkem.png);')
                .l1tabsBrands__itemOuter
                  .l1tabsBrands__item(href='#' style='background-image: url(assets/img/vendor/Destra/Destra.jpg);')
                .l1tabsBrands__itemOuter
                  .l1tabsBrands__item(href='#' style='background-image: url(assets/img/vendor/Forward/Forward.jpg);')
                .l1tabsBrands__itemOuter
                  .l1tabsBrands__item(href='#' style='background-image: url(assets/img/vendor/Gucci/gucci.jpg);')
                .l1tabsBrands__itemOuter
                  .l1tabsBrands__item(href='#' style='background-image: url(assets/img/vendor/Guinot/Guinot.jpg);')
                .l1tabsBrands__itemOuter
                  .l1tabsBrands__item(href='#' style='background-image: url(assets/img/vendor/Birba/birba.svg);')
                .l1tabsBrands__itemOuter
                  .l1tabsBrands__item(href='#' style='background-image: url(assets/img/vendor/Crocs/crocs.jpg);')
                .l1tabsBrands__itemOuter
                  .l1tabsBrands__item(href='#' style='background-image: url(assets/img/vendor/CvCover/cvcover.jpg);')
                .l1tabsBrands__itemOuter
                  .l1tabsBrands__item(href='#' style='background-image: url(assets/img/vendor/Dakkem/Dakkem.png);')
                .l1tabsBrands__itemOuter
                  .l1tabsBrands__item(href='#' style='background-image: url(assets/img/vendor/Destra/Destra.jpg);')
                .l1tabsBrands__itemOuter
                  .l1tabsBrands__item(href='#' style='background-image: url(assets/img/vendor/Forward/Forward.jpg);')
                .l1tabsBrands__itemOuter
                  .l1tabsBrands__item(href='#' style='background-image: url(assets/img/vendor/Gucci/gucci.jpg);')
                .l1tabsBrands__itemOuter
                  .l1tabsBrands__item(href='#' style='background-image: url(assets/img/vendor/Guinot/Guinot.jpg);')
            .l1tabsTabs__widget(data-widget='2')
              .l1tabs__az
                .l1tabs__azLetterBox
                  .l1tabs__azLetterBoxTitle A
                  .l1tabs__azLetterBoxContent
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Absent
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") AIM
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Aimosi
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Alan Hadash
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Albana
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Alexander McQueen
                .l1tabs__azLetterBox
                  .l1tabs__azLetterBoxTitle B
                  .l1tabs__azLetterBoxContent
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Alpecora
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Alpino
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") AlterEgo
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Alvito
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Absent
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") AIM
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Aimosi
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Alan Hadash
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Albana
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Alexander McQueen
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Absent
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") AIM
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Aimosi
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Alan Hadash
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Albana
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Alexander McQueen
                .l1tabs__azLetterBox
                  .l1tabs__azLetterBoxTitle C
                  .l1tabs__azLetterBoxContent
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Absent
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") AIM
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Aimosi
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Alan Hadash
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Albana
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Alexander McQueen
                .l1tabs__azLetterBox
                  .l1tabs__azLetterBoxTitle D
                  .l1tabs__azLetterBoxContent
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Alpecora
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Alpino
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") AlterEgo
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Alvito
            .l1tabsTabs__widget(data-widget='3')
              .l1tabs__az
                .l1tabs__azLetterBox
                  .l1tabs__azLetterBoxTitle A
                  .l1tabs__azLetterBoxContent
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Absent
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") AIM
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Aimosi
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Alan Hadash
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Albana
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Alexander McQueen
                .l1tabs__azLetterBox
                  .l1tabs__azLetterBoxTitle B
                  .l1tabs__azLetterBoxContent
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Alpecora
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Alpino
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") AlterEgo
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Alvito
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Absent
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") AIM
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Aimosi
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Alan Hadash
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Albana
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Alexander McQueen
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Absent
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") AIM
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Aimosi
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Alan Hadash
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Albana
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Alexander McQueen
                .l1tabs__azLetterBox
                  .l1tabs__azLetterBoxTitle C
                  .l1tabs__azLetterBoxContent
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Absent
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") AIM
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Aimosi
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Alan Hadash
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Albana
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Alexander McQueen
                .l1tabs__azLetterBox
                  .l1tabs__azLetterBoxTitle D
                  .l1tabs__azLetterBoxContent
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Alpecora
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Alpino
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") AlterEgo
                    .l1tabs__azItemOuter
                      a.l1tabs__azItem(href="") Alvito
            .l1tabsTabs__widget(data-widget='4')