mixin l2main
  .l2
    .l2main__area 
      .l2main__outer
        .l2main
          .l2main__left
            .l2main__titleBox 
              .l2main__titleBoxLeft Торговый<br>комплекс
              .l2main__titleBoxRight МИР
            .l2main__introBox Более 10 лет радует жителей Саратова качественным европейским шопингом.
            a.l2main__link(href="#")
              i.icon-bag
              span Интернет-магазин
          .l2main__right
            .l2main__rightInner
              .l2main__rightTitle Акции
              .l2main__rightIntro Теперь товары торгового комплекса можно<br>купить в официальном интернет-магазине<br> и заказать курьерскую доставку<br> (доставляем компанией СДЭК).
              a.l2main__rightLink.l1scrolltoTopMenu(href="#l1action" data-anchor="#l1action") 
                span Подробнее
                i.icon-rightss2
    .l2mainBottom__area 
      .l2mainBottom__outer
        .l2mainBottom
          .l2mainBottom__left
            .l2mainBottom__leftItemOuter 
              a.l2mainBottom__leftItem.l1scrolltoTopMenu(href="#l1mag" data-anchor="#l1mag")
                .l2mainBottom__leftItemImg
                  img(src="assets/img/landing2/01.jpg", alt="")
                .l2mainBottom__leftItemTitle Магазины
                .l2mainBottom__leftItemText Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного.
            .l2mainBottom__leftItemOuter 
              a.l2mainBottom__leftItem.l1scrolltoTopMenu(href="#l1serv" data-anchor="#l1serv")
                .l2mainBottom__leftItemImg
                  img(src="assets/img/landing2/02.jpg", alt="")
                .l2mainBottom__leftItemTitle Услуги
                .l2mainBottom__leftItemText Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного.
          .l2mainBottom__right
            a.l2mainBottom__link.l1scrolltoTopMenu(href="#l1map" data-anchor="#l1map")
              img(src="assets/img/landing2/first floor.svg", alt="")
              span Схема ТК