mixin leftMenu
  nav.catalogMenu__outer      
    ul.catalogMenu.ullevel0
      li.level0.indent0.fw700
        a(href='#')
          span верхняя одежда
          span 15
        ul.ullevel1
          li.level1.indent1.fw400
            a(href='#')
              span ветровка
              span 0
          li.level1.indent1.fw400
            a(href='#')
              span куртка
              span 1
          li.level1.indent1.fw600.active
            a(href='#')
              span пальто
              span 14
            ul.ullevel2
              li.level2.indent2.fw400
                a(href='#')
                  span Короткое пальто
                  span 0
              li.level2.indent2.fw600.hasInner
                a(href='#')
                  span Длинное пальто
                  span 1
                ul.ullevel3
                  li.level3.indent3.fw400
                    a(href='#')
                      span Длинное кожаное пальто
                      span 0
                  li.level3.indent3.fw400
                    a(href='#')
                      span Длинное замшевое пальто
                      span 1
                  li.level3.indent3.fw400
                    a(href='#')
                      span Длинное драповое пальто
                      span 14
                    ul.ullevel4
                      li.level4.indent4.fw400
                        a(href='#')
                          span Длинное драповое пальто Российское
                          span 0
                      li.level4.indent4.fw400
                        a(href='#')
                          span Длинное драповое пальто Испанское
                          span 1
                      li.level4.indent4.fw400
                        a(href='#')
                          span Длинное драповое пальто Китайское
                          span 14
                  li.level3.indent3.fw400
                    a(href='#')
                      span Длинное льняное пальто
                      span 0
                  li.level3.indent3.fw400
                    a(href='#')
                      span Длинное шелковое пальто
                      span 1
              li.level2.indent2.fw400
                a(href='#')
                  span Летнее полупальто
                  span 14
              li.level2.indent2.fw400
                a(href='#')
                  span Полупальто
                  span 14
              li.level2.indent2.fw400
                a(href='#')
                  span Зимнее пальто
                  span 0
              li.level2.indent2.fw400
                a(href='#')
                  span Летнее пальто
                  span 1
              li.level2.indent2.fw400
                a(href='#')
                  span Летнее полупальто
                  span 14


mixin leftMenuInShop
  nav.catalogMenu__outer      
    ul.catalogMenu.catalogMenu_inShop.ullevel0
      li.lmLev0.indent0.fw700
        a(href='#')
          span Детям
          span 15
        ul.ullevel1
          li.lmLev1.indent1.fw400.active
            a(href='#')
              span Девочкам
              span 0
          li.lmLev1.indent1.fw400
            a(href='#')
              span Мальчикам
              span 1
          li.lmLev1.indent1.fw600.active
            a(href='#')
              span Новорожденным
              span 14
            ul.ullevel2
              li.level2.indent2.fw400
                a(href='#')
                  span Короткое пальто
                  span 0
              li.level2.indent2.fw600.hasInner
                a(href='#')
                  span Длинное пальто
                  span 1
                ul.ullevel3
                  li.level3.indent3.fw400
                    a(href='#')
                      span Длинное кожаное пальто
                      span 0
                  li.level3.indent3.fw400
                    a(href='#')
                      span Длинное замшевое пальто
                      span 1
                  li.level3.indent3.fw400
                    a(href='#')
                      span Длинное драповое пальто
                      span 14
                    ul.ullevel4
                      li.level4.indent4.fw400
                        a(href='#')
                          span Длинное драповое пальто Российское
                          span 0
                      li.level4.indent4.fw400
                        a(href='#')
                          span Длинное драповое пальто Испанское
                          span 1
                      li.level4.indent4.fw400
                        a(href='#')
                          span Длинное драповое пальто Китайское
                          span 14
                  li.level3.indent3.fw400
                    a(href='#')
                      span Длинное льняное пальто
                      span 0
                  li.level3.indent3.fw400
                    a(href='#')
                      span Длинное шелковое пальто
                      span 1
              li.level2.indent2.fw400
                a(href='#')
                  span Летнее полупальто
                  span 14
              li.level2.indent2.fw400
                a(href='#')
                  span Полупальто
                  span 14
              li.level2.indent2.fw400
                a(href='#')
                  span Зимнее пальто
                  span 0
              li.level2.indent2.fw400
                a(href='#')
                  span Летнее пальто
                  span 1
              li.level2.indent2.fw400
                a(href='#')
                  span Летнее полупальто
                  span 14
    //- ul.catalogMenu
    //-   each val in db_catalogMenu
    //-     li
    //-       a(href="")
    //-         span!= val.title
    //-         span!= val.counter 

      //- each name in ['Главная', 'О компании', 'Услуги', 'Каталог', 'Контакты']
      //-   li
      //-     a(href="#")= name 

mixin leftMenuTreePath
  .catalogMenu__outer
    .leftMenuTreePath
      .lmtp.indent0.active(data-treepath="0") 
        .collapser
        span Женщинам
      .lmtp.indent1(data-treepath="0-0")  
        .collapser
        span Одежда
      .lmtp.indent2(data-treepath="0-0-0")  
        .collapser
        span Блузки и рубашки
      .lmtp.indent2(data-treepath="0-0-1")  
        .collapser
        span Боди
      .lmtp.indent2(data-treepath="0-0-2")  
        .collapser
        span Верхняя одежда
      .lmtp.indent3(data-treepath="0-0-2-0")  
        .collapser
        span Жилеты
      .lmtp.indent3(data-treepath="0-0-2-1")  
        .collapser
        span Куртки
      .lmtp.indent3(data-treepath="0-0-2-2")  
        .collapser
        span Пальто
      .lmtp.indent3(data-treepath="0-0-2-3")  
        .collapser
        span Джинсовые куртки
      .lmtp.indent2(data-treepath="0-0-3")  
        .collapser
        span Джемперы, свитеры и кардиганы
      .lmtp.indent2(data-treepath="0-0-4")  
        .collapser
        span Джинсы
      .lmtp.indent0(data-treepath="1")  
        .collapser
        span Мужчинам
      .lmtp.indent1(data-treepath="1-0")  
        .collapser
        span Одежда
      .lmtp.indent2(data-treepath="1-0-0")  
        .collapser
        span Брюки
      .lmtp.indent2(data-treepath="1-0-1")  
        .collapser
        span Верхняя одежда
      .lmtp.indent2(data-treepath="1-0-2")  
        .collapser
        span Джемперы, свитеры и кардиганы
      .lmtp.indent3(data-treepath="1-0-2-0")  
        .collapser
        span Джемперы и пуловеры
      .lmtp.indent3(data-treepath="1-0-2-1")  
        .collapser
        span Кардиганы
      .lmtp.indent0(data-treepath="2")  
        .collapser
        span Детям


mixin leftMenuUlLi2
  nav.catalogMenu__outer
    ul.catalogMenu
      li.lmLev0.parent


mixin leftMenuUlLi
  nav.catalogMenu__outer
    ul.catalogMenu
      li.lmLev0
        div
          a(href='/ru/P/5ec7862eaa9a035504015c8e')
            span Женщинам
            span 2546
          span.collap 
            i.icon-down3
        ul
          li.lmLev1
            div
              a(href='/ru/P/5ec630b97ef1530ad0c6c924')
                span Одежда
                span 854
              span.collap 
                i.icon-down3
            ul
              li.lmLev2
                div
                  a(href='/ru/P/5ecfbd0e3864d465f8873c2b')
                    span Блузки и рубашки
                    span 64
                  span.collap 
                    i.icon-down3
                ul
                  li.lmLev3
                    div
                      a(href='/ru/P/5f86c7a2faa5d80275220db9')
                        span Блузки
                        span 53
                  li.lmLev3
                    div
                      a(href='/ru/P/5f86c7d0faa5d80275220dba')
                        span Рубашки
                        span 11
              li.lmLev2
                div
                  a(href='/ru/P/5ecfbd0e3864d465f8873c2c')
                    span Боди
                    span 2
              li.lmLev2
                div
                  a(href='/ru/P/5ecfbd0e3864d465f8873c2d')
                    span Брюки
                    span 120
              li.lmLev2
                div
                  a(href='/ru/P/5ecfbd0e3864d465f8873c2e')
                    span Верхняя одежда
                    span 195
                  span.collap 
                    i.icon-down3
                ul
                  li.lmLev3
                    div
                      a(href='/ru/P/5f15ac3a5f29bd4b867638ac')
                        span Джинсовые куртки
                        span 2
                  li.lmLev3
                    div
                      a(href='/ru/P/5f3514df8f2a4a2d2d31775f')
                        span Дубленки
                        span 14
                  li.lmLev3
                    div
                      a(href='/ru/P/5f06d6d6e3d3c21dbb8fb742')
                        span Жилеты
                        span 3
                  li.lmLev3
                    div
                      a(href='/ru/P/5f06d6f1e3d3c21dbb8fb743')
                        span Куртки
                        span 56
                  li.lmLev3
                    div
                      a(href='/ru/P/5f06d5f9e3d3c21dbb8fb741')
                        span Пальто
                        span 32
                  li.lmLev3
                    div
                      a(href='/ru/P/5f5f35b71ee2a75430744359')
                        span Парки
                        span 5
                  li.lmLev3
                    div
                      a(href='/ru/P/5f33fa528f2a4a2d2d317704')
                        span Плащи
                        span 21
                  li.lmLev3
                    div
                      a(href='/ru/P/5f3515108f2a4a2d2d317760')
                        span Пуховики
                        span 32
                  li.lmLev3
                    div
                      a(href='/ru/P/5f3514a08f2a4a2d2d31775e')
                        span Шубы
                        span 30
              li.lmLev2
                div
                  a(href='/ru/P/5ecfbd0e3864d465f8873c30')
                    span Джемперы, свитеры и кардиганы
                    span 69
              li.lmLev2
                div
                  a(href='/ru/P/5ecfbd0e3864d465f8873c31')
                    span Джинсы
                    span 22
              li.lmLev2
                div
                  a(href='/ru/P/5ecfbd0e3864d465f8873c32')
                    span Домашняя одежда
                    span 17
                  span.collap 
                    i.icon-down3
                ul
                  li.lmLev3
                    div
                      a(href='/ru/P/5f6367b23f301b4f7d9dea26')
                        span Пижамы
                        span 11
                  li.lmLev3
                    div
                      a(href='/ru/P/5f6367b23f301b4f7d9dea27')
                        span Халаты
                        span 6
              li.lmLev2
                div
                  a(href='/ru/P/5ecfbd0e3864d465f8873c33')
                    span Комбинезоны
                    span 21
              li.lmLev2
                div
                  a(href='/ru/P/5f34d3638f2a4a2d2d317707')
                    span Жилеты
                    span 1
              li.lmLev2
                div
                  a(href='/ru/P/5ecfbd0e3864d465f8873c34')
                    span Купальники и пляжная одежда
                    span 7
              li.lmLev2
                div
                  a(href='/ru/P/5ecfbd0e3864d465f8873c35')
                    span Нижнее белье
                    span 2
                  span.collap 
                    i.icon-down3
                ul
                  li.lmLev3
                    div
                      a(href='/ru/P/5f6368083f301b4f7d9dea2a')
                        span Бюстгальтеры
                        span 1
                  li.lmLev3
                    div
                      a(href='/ru/P/5f63680b3f301b4f7d9dea2f')
                        span Пояса для чулок
                        span 1
              li.lmLev2
                div
                  a(href='/ru/P/5ecfbd0e3864d465f8873c37')
                    span Костюмы
                    span 28
              li.lmLev2
                div
                  a(href='/ru/P/5ecfbd0e3864d465f8873c38')
                    span Платья и сарафаны
                    span 178
              li.lmLev2
                div
                  a(href='/ru/P/5ef344c68f270c1813fdffc9')
                    span Пиджаки и жакеты
                    span 32
                  span.collap 
                    i.icon-down3
                ul
                  li.lmLev3
                    div
                      a(href='/ru/P/5f6368c13f301b4f7d9dea38')
                        span Пиджаки
                        span 9
                  li.lmLev3
                    div
                      a(href='/ru/P/5f6368c23f301b4f7d9dea39')
                        span Жакеты
                        span 20
                  li.lmLev3
                    div
                      a(href='/ru/P/5f6368c23f301b4f7d9dea3a')
                        span Бомберы
                        span 3
              li.lmLev2
                div
                  a(href='/ru/P/5ecfbd0e3864d465f8873c3a')
                    span Толстовки и худи
                    span 11
              li.lmLev2
                div
                  a(href='/ru/P/5ecfbd0e3864d465f8873c3b')
                    span Топы и майки
                    span 33
                  span.collap 
                    i.icon-down3
                ul
                  li.lmLev3
                    div
                      a(href='/ru/P/5f6369103f301b4f7d9dea40')
                        span Топы
                        span 31
                  li.lmLev3
                    div
                      a(href='/ru/P/5f6369103f301b4f7d9dea41')
                        span Майки
                        span 2
              li.lmLev2
                div
                  a(href='/ru/P/5ecfbd0e3864d465f8873c3c')
                    span Туники
                    span 1
              li.lmLev2
                div
                  a(href='/ru/P/5ecfbd0e3864d465f8873c3d')
                    span Футболки и поло
                    span 16
              li.lmLev2
                div
                  a(href='/ru/P/5ecfbd0e3864d465f8873c3e')
                    span Шорты
                    span 8
              li.lmLev2
                div
                  a(href='/ru/P/5ecfbd0e3864d465f8873c3f')
                    span Юбки
                    span 27
          li.lmLev1
            div
              a(href='/ru/P/5ec7a61f8f2d243dd394518e')
                span Обувь
                span 704
              span.collap 
                i.icon-down3
            ul
              li.lmLev2
                div
                  a(href='/ru/P/5ecfb6ea3c049c4b187eec77')
                    span Балетки
                    span 20
              li.lmLev2
                div
                  a(href='/ru/P/5ecfb6ea3c049c4b187eec78')
                    span Босоножки
                    span 135
              li.lmLev2
                div
                  a(href='/ru/P/5ecfb6ea3c049c4b187eec79')
                    span Ботильоны
                    span 38
              li.lmLev2
                div
                  a(href='/ru/P/5ecfb6eb3c049c4b187eec7a')
                    span Ботинки
                    span 51
              li.lmLev2
                div
                  a(href='/ru/P/5ecfb6eb3c049c4b187eec7c')
                    span Кеды и кроссовки
                    span 84
                  span.collap 
                    i.icon-down3
                ul
                  li.lmLev3
                    div
                      a(href='/ru/P/5f6369593f301b4f7d9dea42')
                        span Кеды
                        span 19
                  li.lmLev3
                    div
                      a(href='/ru/P/5f63695a3f301b4f7d9dea43')
                        span Кроссовки
                        span 65
              li.lmLev2
                div
                  a(href='/ru/P/5ecfb6eb3c049c4b187eec7d')
                    span Мокасины
                    span 7
              li.lmLev2
                div
                  a(href='/ru/P/5ecfb6eb3c049c4b187eec7f')
                    span Сабо и мюли
                    span 60
              li.lmLev2
                div
                  a(href='/ru/P/5ecfb6eb3c049c4b187eec80')
                    span Сандалии
                    span 43
              li.lmLev2
                div
                  a(href='/ru/P/5ecfb6eb3c049c4b187eec81')
                    span Сапоги
                    span 67
              li.lmLev2
                div
                  a(href='/ru/P/5ecfb6eb3c049c4b187eec82')
                    span Слипоны
                    span 14
              li.lmLev2
                div
                  a(href='/ru/P/5ecfb6eb3c049c4b187eec83')
                    span Туфли
                    span 181
              li.lmLev2
                div
                  a(href='/ru/P/5f747faf89ff7e48ce855407')
                    span Шлепанцы
                    span 1
              li.lmLev2
                div
                  a(href='/ru/P/5ecfb6eb3c049c4b187eec84')
                    span Эспадрильи
                    span 4
          li.lmLev1
            div
              a(href='/ru/P/5ece92dd3c6c1d3e8c277519')
                span Аксессуары
                span 316
              span.collap 
                i.icon-down3
            ul
              li.lmLev2
                div
                  a(href='/ru/P/5ecea5453a781d5270e6a3bd')
                    span Головные уборы
                    span 1
                  span.collap 
                    i.icon-down3
                ul
                  li.lmLev3
                    div
                      a(href='/ru/P/5ecfbfe56fece9668481ce5b')
                        span Кепки
                        span 1
              li.lmLev2
                div
                  a(href='/ru/P/5ecec553be8e015b68bbe4ad')
                    span Кошельки и визитницы
                    span 9
              li.lmLev2
                div
                  a(href='/ru/P/5ecec7a3be8e015b68bbe4b2')
                    span Очки
                    span 108
                  span.collap 
                    i.icon-down3
                ul
                  li.lmLev3
                    div
                      a(href='/ru/P/5ecfb3c92d7144551c5189ee')
                        span Солнцезащитные очки
                        span 108
              li.lmLev2
                div
                  a(href='/ru/P/5ecfc6566fece9668481ce7e')
                    span Перчатки и варежки
                    span 2
                  span.collap 
                    i.icon-down3
                ul
                  li.lmLev3
                    div
                      a(href='/ru/P/5ecfc6966fece9668481ce7f')
                        span Перчатки
                        span 2
              li.lmLev2
                div
                  a(href='/ru/P/5ecfcc276fece9668481ce8a')
                    span Платки и шарфы
                    span 6
                  span.collap 
                    i.icon-down3
                ul
                  li.lmLev3
                    div
                      a(href='/ru/P/5ecfcc2f6fece9668481ce8c')
                        span Палантины и шали
                        span 1
                  li.lmLev3
                    div
                      a(href='/ru/P/5ecfcc2f6fece9668481ce8f')
                        span Шарфы
                        span 5
              li.lmLev2
                div
                  a(href='/ru/P/5ecfcd296fece9668481ce93')
                    span Ремни и пояса
                    span 8
                  span.collap 
                    i.icon-down3
                ul
                  li.lmLev3
                    div
                      a(href='/ru/P/5ecfcd2f6fece9668481ce94')
                        span Ремни
                        span 8
              li.lmLev2
                div
                  a(href='/ru/P/5ecfcdc26fece9668481ce99')
                    span Рюкзаки
                    span 5
              li.lmLev2
                div
                  a(href='/ru/P/5ecfd33d8d8aaf6f86199126')
                    span Сумки
                    span 83
              li.lmLev2
                div
                  a(href='/ru/P/5ed023860a9f110319ce15a0')
                    span Часы
                    span 93
              li.lmLev2
                div
                  a(href='/ru/P/5ed026240a9f110319ce15a8')
                    span Чемоданы и дорожные сумки
                    span 1
                  span.collap 
                    i.icon-down3
                ul
                  li.lmLev3
                    div
                      a(href='/ru/P/5ed026b90a9f110319ce15aa')
                        span Дорожные сумки
                        span 1
      li.lmLev0
        div
          a(href='/ru/P/5ec7a5fe8f2d243dd394518d')
            span Мужчинам
            span 421
          span.collap
            i.icon-down3
        ul
          li.lmLev1
            div
              a(href='/ru/P/5eccdfc4b84e4c788f6e967b')
                span Одежда
                span 150
              span.collap
                i.icon-down3
            ul
              li.lmLev2
                div
                  a(href='/ru/P/5ed17f035fe3c5414f1dd63a')
                    span Брюки
                    span 13
              li.active.lmLev2
                div
                  a(href='/ru/P/5ed17f035fe3c5414f1dd646')
                    span Верхняя одежда
                    span 25
                  span.collap 
                    i.icon-down3
                ul
                  li.lmLev3
                    div
                      a(href='/ru/P/5ed17f035fe3c5414f1dd64c')
                        span Жилеты
                        span 1
                  li.lmLev3
                    div
                      a(href='/ru/P/5ed17f045fe3c5414f1dd651')
                        span Куртки
                        span 16
                  li.lmLev3
                    div
                      a(href='/ru/P/5ed17f045fe3c5414f1dd652')
                        span Пальто
                        span 8
              li.lmLev2
                div
                  a(href='/ru/P/5ed17f045fe3c5414f1dd65a')
                    span Джемперы, свитеры и кардиганы
                    span 37
                  span.collap 
                    i.icon-down3
                ul
                  li.lmLev3
                    div
                      a(href='/ru/P/5ed17f045fe3c5414f1dd65b')
                        span Водолазки
                        span 3
                  li.lmLev3
                    div
                      a(href='/ru/P/5ed17f045fe3c5414f1dd65c')
                        span Джемперы и свитеры
                        span 28
                  li.lmLev3
                    div
                      a(href='/ru/P/5ed17f045fe3c5414f1dd65f')
                        span Жилеты
                        span 1
                  li.lmLev3
                    div
                      a(href='/ru/P/5ed17f045fe3c5414f1dd660')
                        span Кардиганы
                        span 5
              li.lmLev2
                div
                  a(href='/ru/P/5ed17f045fe3c5414f1dd662')
                    span Джинсы
                    span 12
              li.lmLev2
                div
                  a(href='/ru/P/5ed17f045fe3c5414f1dd68d')
                    span Пиджаки и блейзеры
                    span 7
              li.lmLev2
                div
                  a(href='/ru/P/5ed17f055fe3c5414f1dd694')
                    span Рубашки
                    span 16
              li.lmLev2
                div
                  a(href='/ru/P/5ed17f055fe3c5414f1dd698')
                    span Костюмы
                    span 13
              li.lmLev2
                div
                  a(href='/ru/P/5ed17f055fe3c5414f1dd69d')
                    span Толстовки и худи
                    span 3
              li.lmLev2
                div
                  a(href='/ru/P/5ed17f055fe3c5414f1dd6a4')
                    span Футболки и поло
                    span 22
                  span.collap 
                    i.icon-down3
                ul
                  li.lmLev3
                    div
                      a(href='/ru/P/5ed17f055fe3c5414f1dd6a5')
                        span Лонгсливы
                        span 2
                  li.lmLev3
                    div
                      a(href='/ru/P/5ed17f055fe3c5414f1dd6a7')
                        span Поло
                        span 8
                  li.lmLev3
                    div
                      a(href='/ru/P/5ed17f055fe3c5414f1dd6ad')
                        span Футболки
                        span 12
              li.lmLev2
                div
                  a(href='/ru/P/5ed17f055fe3c5414f1dd6ae')
                    span Шорты
                    span 2
          li.lmLev1
            div
              a(href='/ru/P/5eccdfceb84e4c788f6e967c')
                span Обувь
                span 100
              span.collap 
                i.icon-down3
            ul
              li.lmLev2
                div
                  a(href='/ru/P/5ed180615fe3c5414f1dd6b3')
                    span Ботинки и туфли
                    span 56
              li.lmLev2
                div
                  a(href='/ru/P/5ed180615fe3c5414f1dd6bb')
                    span Кроссовки и кеды
                    span 19
                  span.collap 
                    i.icon-down3
                ul
                  li.lmLev3
                    div
                      a(href='/ru/P/5ed180615fe3c5414f1dd6bd')
                        span Кеды
                        span 7
                  li.lmLev3
                    div
                      a(href='/ru/P/5ed180615fe3c5414f1dd6be')
                        span Кроссовки
                        span 12
              li.lmLev2
                div
                  a(href='/ru/P/5ed180615fe3c5414f1dd6bf')
                    span Мокасины
                    span 6
              li.lmLev2
                div
                  a(href='/ru/P/5ed180615fe3c5414f1dd6c9')
                    span Сандалии и шлепанцы
                    span 20
          li.lmLev1
            div
              a(href='/ru/P/5eccdfdcb84e4c788f6e967d')
                span Аксессуары
                span 139
              span.collap 
                i.icon-down3
            ul
              li.lmLev2
                div
                  a(href='/ru/P/5ed183b15fe3c5414f1dd6f3')
                    span Очки
                    span 29
                  span.collap 
                    i.icon-down3
                ul
                  li.lmLev3
                    div
                      a(href='/ru/P/5ed183b15fe3c5414f1dd6f7')
                        span Солнцезащитные очки
                        span 29
              li.lmLev2
                div
                  a(href='/ru/P/5ed183b15fe3c5414f1dd706')
                    span Рюкзаки
                    span 1
              li.lmLev2
                div
                  a(href='/ru/P/5ed183b15fe3c5414f1dd709')
                    span Сумки
                    span 13
              li.lmLev2
                div
                  a(href='/ru/P/5ed183b15fe3c5414f1dd715')
                    span Часы
                    span 95
              li.lmLev2
                div
                  a(href='/ru/P/5ed183b15fe3c5414f1dd718')
                    span Чемоданы и дорожные сумки
                    span 1
                  span.collap 
                    i.icon-down3
                ul
                  li.lmLev3
                    div
                      a(href='/ru/P/5ed183b15fe3c5414f1dd71a')
                        span Дорожные сумки
                        span 1
          li.lmLev1
            div
              a(href='/ru/P/5f88116bfaa5d80275220dfd')
                span Красота
                span 28
      li.lmLev0
        div
          a(href='/ru/P/5ecb783b5d15415e6c41fedd')
            span Детям
            span 372
          span.collap 
            i.icon-down3
        ul
          li.lmLev1
            div
              a(href='/ru/P/5ecb782c5d15415e6c41fedc')
                span Мальчикам
                span 196
              span.collap
                i.icon-down3
            ul
              li.lmLev2
                div
                  a(href='/ru/P/5ecfbeea6fece9668481ce48')
                    span Одежда
                    span 145
                  span.collap 
                    i.icon-down3
                ul
                  li.lmLev3
                    div
                      a(href='/ru/P/5ecfbeea6fece9668481ce49')
                        span Брюки и джинсы
                        span 30
                      span.collap 
                        i.icon-down3
                    ul
                      li.lmLev4
                        div
                          a(href='/ru/P/5f644e623f301b4f7d9dea66')
                            span Брюки
                            span 17
                      li.lmLev4
                        div
                          a(href='/ru/P/5f644e623f301b4f7d9dea67')
                            span Джинсы
                            span 13
                  li.lmLev3
                    div
                      a(href='/ru/P/5eddd72c2456d966b32944ea')
                        span Верхняя одежда
                        span 33
                  li.lmLev3
                    div
                      a(href='/ru/P/5eddd8a62456d966b32944eb')
                        span Джемперы, свитеры и кардиганы
                        span 6
                  li.lmLev3
                    div
                      a(href='/ru/P/5ede12eacfd40b22b815bb91')
                        span Жилеты
                        span 2
                  li.lmLev3
                    div
                      a(href='/ru/P/5ee891ba7e98b3042f481cea')
                        span Комбинезоны
                        span 3
                  li.lmLev3
                    div
                      a(href='/ru/P/5eddd4862456d966b32944e4')
                        span Костюмы
                        span 6
                  li.lmLev3
                    div
                      a(href='/ru/P/5eddd69d2456d966b32944e7')
                        span Рубашки
                        span 10
                  li.lmLev3
                    div
                      a(href='/ru/P/5eddf2edcfd40b22b815bb8d')
                        span Толстовки и худи
                        span 17
                  li.lmLev3
                    div
                      a(href='/ru/P/5f31207d8f2a4a2d2d3175e8')
                        span Пиджаки и блейзеры
                        span 2
                  li.lmLev3
                    div
                      a(href='/ru/P/5eddd4332456d966b32944e3')
                        span Футболки и майки
                        span 24
                      span.collap 
                        i.icon-down3
                    ul
                      li.lmLev4
                        div
                          a(href='/ru/P/5f644eaf3f301b4f7d9dea69')
                            span Футболки
                            span 12
                      li.lmLev4
                        div
                          a(href='/ru/P/5f644eb03f301b4f7d9dea6a')
                            span Футболки-поло
                            span 8
                      li.lmLev4
                        div
                          a(href='/ru/P/5f644eb03f301b4f7d9dea6b')
                            span Лонгсливы
                            span 4
                  li.lmLev3
                    div
                      a(href='/ru/P/5eddd62f2456d966b32944e6')
                        span Шорты
                        span 3
              li.lmLev2
                div
                  a(href='/ru/P/5edddae82456d966b32944ec')
                    span Обувь
                    span 47
                  span.collap 
                    i.icon-down3
                ul
                  li.lmLev3
                    div
                      a(href='/ru/P/5edddc772456d966b32944ee')
                        span Ботинки
                        span 25
                  li.lmLev3
                    div
                      a(href='/ru/P/5edddcee2456d966b32944f1')
                        span Кроссовки и кеды
                        span 14
                  li.lmLev3
                    div
                      a(href='/ru/P/5ede0819cfd40b22b815bb8f')
                        span Мокасины
                        span 1
                  li.lmLev3
                    div
                      a(href='/ru/P/5edddca82456d966b32944f0')
                        span Сандалии
                        span 7
                      span.collap 
                        i.icon-down3
                    ul
                      li.lmLev4
                        div
                          a(href='/ru/P/5f644f6c3f301b4f7d9dea6c')
                            span Сандалии
                            span 5
                      li.lmLev4
                        div
                          a(href='/ru/P/5f644f6c3f301b4f7d9dea6d')
                            span Сабо
                            span 2
              li.lmLev2
                div
                  a(href='/ru/P/5f2bf3f08f2a4a2d2d317564')
                    span Аксессуары
                    span 6
                  span.collap
                    i.icon-down3
                ul
                  li.lmLev3
                    div
                      a(href='/ru/P/5f2bf6808f2a4a2d2d317565')
                        span Головные уборы
                        span 2
                  li.lmLev3
                    div
                      a(href='/ru/P/5f2bf72d8f2a4a2d2d317566')
                        span Галстуки
                        span 4
              li.lmLev2
                div
                  a(href='/ru/P/5f2bf3128f2a4a2d2d317563')
                    span Школа
                    span 23
          li.lmLev1
            div
              a(href='/ru/P/5ecbd6b8754b955c220e4099')
                span Девочкам
                span 181
              span.collap 
                i.icon-down3
            ul
              li.lmLev2
                div
                  a(href='/ru/P/5ecec0b4be8e015b68bbe4a3')
                    span Одежда
                    span 137
                  span.collap 
                    i.icon-down3
                ul
                  li.lmLev3
                    div
                      a(href='/ru/P/5ee88cbd7e98b3042f481ce9')
                        span Блузки и рубашки
                        span 10
                  li.lmLev3
                    div
                      a(href='/ru/P/5ecfbebc6fece9668481ce3d')
                        span Брюки и джинсы
                        span 23
                      span.collap 
                        i.icon-down3
                    ul
                      li.lmLev4
                        div
                          a(href='/ru/P/5f635688c6d8f520effaff85')
                            span Брюки
                            span 9
                      li.lmLev4
                        div
                          a(href='/ru/P/5f635689c6d8f520effaff86')
                            span Джинсы
                            span 14
                  li.lmLev3
                    div
                      a(href='/ru/P/5ee88c767e98b3042f481ce8')
                        span Джемперы, свитеры и кардиганы
                        span 6
                  li.lmLev3
                    div
                      a(href='/ru/P/5ee8958e7e98b3042f481cec')
                        span Верхняя одежда
                        span 24
                  li.lmLev3
                    div
                      a(href='/ru/P/5ecfbebc6fece9668481ce3f')
                        span Комбинезоны
                        span 4
                  li.lmLev3
                    div
                      a(href='/ru/P/5ecfbebc6fece9668481ce40')
                        span Костюмы
                        span 5
                  li.lmLev3
                    div
                      a(href='/ru/P/5ecfbebc6fece9668481ce45')
                        span Платья и сарафаны
                        span 23
                  li.lmLev3
                    div
                      a(href='/ru/P/5ede0e63cfd40b22b815bb90')
                        span Толстовки и худи
                        span 8
                  li.lmLev3
                    div
                      a(href='/ru/P/5ecfbebc6fece9668481ce43')
                        span Футболки и майки
                        span 13
                      span.collap 
                        i.icon-down3
                    ul
                      li.lmLev4
                        div
                          a(href='/ru/P/5f64500f3f301b4f7d9dea70')
                            span Майки
                            span 5
                      li.lmLev4
                        div
                          a(href='/ru/P/5f6450103f301b4f7d9dea72')
                            span Футболки
                            span 8
                  li.lmLev3
                    div
                      a(href='/ru/P/5ecfbebc6fece9668481ce47')
                        span Шорты
                        span 4
                  li.lmLev3
                    div
                      a(href='/ru/P/5edddb0c2456d966b32944ed')
                        span Юбки
                        span 9
              li.lmLev2
                div
                  a(href='/ru/P/5ecec165be8e015b68bbe4a5')
                    span Обувь
                    span 40
                  span.collap 
                    i.icon-down3
                ul
                  li.lmLev3
                    div
                      a(href='/ru/P/5edde952cfd40b22b815bb89')
                        span Балетки и туфли
                        span 12
                  li.lmLev3
                    div
                      a(href='/ru/P/5edde90ccfd40b22b815bb88')
                        span Босоножки и сандалии
                        span 7
                  li.lmLev3
                    div
                      a(href='/ru/P/5edde8f7cfd40b22b815bb87')
                        span Кроссовки и кеды
                        span 6
                  li.lmLev3
                    div
                      a(href='/ru/P/5edde8a5cfd40b22b815bb85')
                        span Ботинки
                        span 13
                  li.lmLev3
                    div
                      a(href='/ru/P/5edde8c4cfd40b22b815bb86')
                        span Сапоги
                        span 2
              li.lmLev2
                div
                  a(href='/ru/P/5ecec33dbe8e015b68bbe4a8')
                    span Аксессуары
                    span 7
                  span.collap 
                    i.icon-down3
                ul
                  li.lmLev3
                    div
                      a(href='/ru/P/5f02f3f757735e44b2492cfa')
                        span Сумки
                        span 2
                  li.lmLev3
                    div
                      a(href='/ru/P/5ecfbebc6fece9668481ce46')
                        span Головные уборы
                        span 4
              li.lmLev2
                div
                  a(href='/ru/P/5ecec135be8e015b68bbe4a4')
                    span Школа
                    span 19
              li.lmLev2
                div
                  a(href='/ru/P/5ee72010591d60217a92b3bd')
                    span Постельное белье
                    span 1
          li.lmLev1
            div
              a(href='/ru/P/5ecbd7e1754b955c220e409a')
                span Новорожденным
                span 24
              span.collap 
                i.icon-down3
            ul
              li.lmLev2
                div
                  a(href='/ru/P/5edde689cfd40b22b815bb7f')
                    span Одежда
                    span 23
                  span.collap 
                    i.icon-down3
                ul
                  li.lmLev3
                    div
                      a(href='/ru/P/5edde70acfd40b22b815bb81')
                        span Комбинезоны и боди
                        span 11
                  li.lmLev3
                    div
                      a(href='/ru/P/5edde742cfd40b22b815bb82')
                        span Пинетки
                        span 4
                  li.lmLev3
                    div
                      a(href='/ru/P/5f74879a32cd684e3ad7e76c')
                        span Ползунки
                        span 1
                  li.lmLev3
                    div
                      a(href='/ru/P/5edde6decfd40b22b815bb80')
                        span Головные уборы
                        span 5
              li.lmLev2
                div
                  a(href='/ru/P/5eddeb9bcfd40b22b815bb8a')
                    span Постельное белье
                    span 1
      li.lmLev0
        div
          a(href='/ru/P/5eccda9eb84e4c788f6e9671')
            span Красота
            span 793
          span.collap 
            i.icon-down3
        ul
          li.lmLev1
            div
              a(href='/ru/P/5eccdc55b84e4c788f6e9672')
                span Лицо
                span 265
              span.collap 
                i.icon-down3
            ul
              li.lmLev2
                div
                  a(href='/ru/P/5f59ffd97ea097587ba541df')
                    span Уход 
                    span 265
                  span.collap
                    i.icon-down3
                ul
                  li.lmLev3
                    div
                      a(href='/ru/P/5f74721f5ce0313ac1e9ad81')
                        span Бальзамы для губ
                        span 4
                  li.lmLev3
                    div
                      a(href='/ru/P/5f3d35c7915c1f4384d26422')
                        span Гели
                        span 18
                  li.lmLev3
                    div
                      a(href='/ru/P/5f61b734fb8cb15f4ff2eeda')
                        span Гели для бритья
                        span 1
                  li.lmLev3
                    div
                      a(href='/ru/P/5f3d341e915c1f4384d2641c')
                        span Кремы
                        span 99
                  li.lmLev3
                    div
                      a(href='/ru/P/5f44f14c915c1f4384d2654a')
                        span Лосьоны
                        span 8
                  li.lmLev3
                    div
                      a(href='/ru/P/5f3d34ad915c1f4384d2641f')
                        span Маски
                        span 16
                  li.lmLev3
                    div
                      a(href='/ru/P/5f3d366e915c1f4384d26426')
                        span Масла
                        span 2
                  li.lmLev3
                    div
                      a(href='/ru/P/5f3f9d10915c1f4384d264c5')
                        span Мицеллярная вода
                        span 4
                  li.lmLev3
                    div
                      a(href='/ru/P/5f3f9ceb915c1f4384d264c4')
                        span Молочко
                        span 16
                  li.lmLev3
                    div
                      a(href='/ru/P/5f3d3646915c1f4384d26425')
                        span Муссы
                        span 3
                  li.lmLev3
                    div
                      a(href='/ru/P/5f880a69faa5d80275220dfc')
                        span Наборы
                        span 4
                  li.lmLev3
                    div
                      a(href='/ru/P/5f857b75faa5d80275220cf2')
                        span Патчи для глаз
                        span 4
                  li.lmLev3
                    div
                      a(href='/ru/P/5f3d34cf915c1f4384d26420')
                        span Пенки
                        span 2
                  li.lmLev3
                    div
                      a(href='/ru/P/5f857c30faa5d80275220cf4')
                        span Пилинги
                        span 3
                  li.lmLev3
                    div
                      a(href='/ru/P/5f3d3466915c1f4384d2641d')
                        span Сыворотки
                        span 50
                  li.lmLev3
                    div
                      a(href='/ru/P/5f3d36a7915c1f4384d26427')
                        span Тоники
                        span 8
                  li.lmLev3
                    div
                      a(href='/ru/P/5f3d347b915c1f4384d2641e')
                        span Эмульсии
                        span 6
          li.lmLev1
            div
              a(href='/ru/P/5eccdc68b84e4c788f6e9673')
                span Волосы
                span 330
              span.collap 
                i.icon-down3
            ul
              li.lmLev2
                div
                  a(href='/ru/P/5f5a05457ea097587ba541e8')
                    span Стайлинг и окрашивание
                    span 44
                  span.collap 
                    i.icon-down3
                ul
                  li.lmLev3
                    div
                      a(href='/ru/P/5f44f113915c1f4384d26549')
                        span Гели
                        span 2
                  li.lmLev3
                    div
                      a(href='/ru/P/5f475e9b13f98d6562e2916c')
                        span Краска для волос
                        span 4
                  li.lmLev3
                    div
                      a(href='/ru/P/5f60c96bfb8cb15f4ff2eec7')
                        span Кремы
                        span 3
                  li.lmLev3
                    div
                      a(href='/ru/P/5f3d336e915c1f4384d2641b')
                        span Лаки для волос
                        span 5
                  li.lmLev3
                    div
                      a(href='/ru/P/5f60c6f1fb8cb15f4ff2eec1')
                        span Лосьоны
                        span 2
                  li.lmLev3
                    div
                      a(href='/ru/P/5f60ca81fb8cb15f4ff2eec8')
                        span Масла
                        span 6
                  li.lmLev3
                    div
                      a(href='/ru/P/5f60cb65fb8cb15f4ff2eecc')
                        span Молочко
                        span 2
                  li.lmLev3
                    div
                      a(href='/ru/P/5f3d3776915c1f4384d26428')
                        span Муссы
                        span 4
                  li.lmLev3
                    div
                      a(href='/ru/P/5f5a14cf5fc045765626cecb')
                        span Спреи
                        span 11
                  li.lmLev3
                    div
                      a(href='/ru/P/5f60caf7fb8cb15f4ff2eeca')
                        span Сыворотки
                        span 2
                  li.lmLev3
                    div
                      a(href='/ru/P/5f60c889fb8cb15f4ff2eec6')
                        span Флюиды
                        span 1
              li.lmLev2
                div
                  a(href='/ru/P/5f5a069d7ea097587ba541f0')
                    span Уход
                    span 302
                  span.collap 
                    i.icon-down3
                ul
                  li.lmLev3
                    div
                      a(href='/ru/P/5eccdfa2b84e4c788f6e9678')
                        span Аксессуары для волос
                        span 5
                      span.collap 
                        i.icon-down3
                    ul
                      li.lmLev4
                        div
                          a(href='/ru/P/5ecfbfcd6fece9668481ce52')
                            span Расчески
                            span 5
                  li.lmLev3
                    div
                      a(href='/ru/P/5f3d2fa0915c1f4384d26415')
                        span Кондиционеры
                        span 82
                  li.lmLev3
                    div
                      a(href='/ru/P/5f3f9c2f915c1f4384d264c2')
                        span Кремы
                        span 5
                  li.lmLev3
                    div
                      a(href='/ru/P/5f60c692fb8cb15f4ff2eebe')
                        span Лосьоны
                        span 3
                  li.lmLev3
                    div
                      a(href='/ru/P/5f3d2f2b915c1f4384d26414')
                        span Маски
                        span 46
                  li.lmLev3
                    div
                      a(href='/ru/P/5f3d301d915c1f4384d26416')
                        span Масла
                        span 16
                  li.lmLev3
                    div
                      a(href='/ru/P/5f60cb58fb8cb15f4ff2eecb')
                        span Молочко
                        span 2
                  li.lmLev3
                    div
                      a(href='/ru/P/5f8809c9faa5d80275220dfb')
                        span Наборы
                        span 6
                  li.lmLev3
                    div
                      a(href='/ru/P/5f3d3619915c1f4384d26423')
                        span Скрабы
                        span 2
                  li.lmLev3
                    div
                      a(href='/ru/P/5f3d30ba915c1f4384d26417')
                        span Спреи
                        span 12
                  li.lmLev3
                    div
                      a(href='/ru/P/5f60cadefb8cb15f4ff2eec9')
                        span Сыворотки
                        span 13
                  li.lmLev3
                    div
                      a(href='/ru/P/5f3d3326915c1f4384d2641a')
                        span Пилинги
                        span 1
                  li.lmLev3
                    div
                      a(href='/ru/P/5f3d2ef3915c1f4384d26413')
                        span Шампуни
                        span 120
                  li.lmLev3
                    div
                      a(href='/ru/P/5f3d330f915c1f4384d26419')
                        span Эликсиры
                        span 2
          li.lmLev1
            div
              a(href='/ru/P/5eccdc94b84e4c788f6e9675')
                span Тело
                span 202
              span.collap 
                i.icon-down3
            ul
              li.lmLev2
                div
                  a(href='/ru/P/5eccdc78b84e4c788f6e9674')
                    span Руки
                    span 5
              li.lmLev2
                div
                  a(href='/ru/P/5f22a6b6ec5ba63d70dd4d6b')
                    span Ногти
                    span 136
                  span.collap 
                    i.icon-down3
                ul
                  li.lmLev3
                    div
                      a(href='/ru/P/5f4e052f108ea22bbecd07f8')
                        span Уход за ногтями
                        span 13
                  li.lmLev3
                    div
                      a(href='/ru/P/5f4e0556108ea22bbecd07f9')
                        span Маникюр
                        span 123
              li.lmLev2
                div
                  a(href='/ru/P/5f4e0499108ea22bbecd07f6')
                    span Ноги
                    span 35
              li.lmLev2
                div
                  a(href='/ru/P/5f4e04bc108ea22bbecd07f7')
                    span Уход за телом
                    span 30
                  span.collap 
                    i.icon-down3
                ul
                  li.lmLev3
                    div
                      a(href='/ru/P/5f61b366fb8cb15f4ff2eed6')
                        span Бальзамы
                        span 5
                  li.lmLev3
                    div
                      a(href='/ru/P/5f61b133fb8cb15f4ff2eed4')
                        span Гели для душа
                        span 4
                  li.lmLev3
                    div
                      a(href='/ru/P/5f882c28faa5d80275220e1d')
                        span Гели
                        span 1
                  li.lmLev3
                    div
                      a(href='/ru/P/5f61b277fb8cb15f4ff2eed5')
                        span Кремы
                        span 9
                  li.lmLev3
                    div
                      a(href='/ru/P/5f3d362f915c1f4384d26424')
                        span Лосьоны
                        span 2
                  li.lmLev3
                    div
                      a(href='/ru/P/5f3d3576915c1f4384d26421')
                        span Молочко
                        span 2
                  li.lmLev3
                    div
                      a(href='/ru/P/5f8808c0faa5d80275220dfa')
                        span Наборы
                        span 1
                  li.lmLev3
                    div
                      a(href='/ru/P/5f61b3b4fb8cb15f4ff2eed8')
                        span Скрабы
                        span 2
                  li.lmLev3
                    div
                      a(href='/ru/P/5f61b38cfb8cb15f4ff2eed7')
                        span Спреи
                        span 3
                  li.lmLev3
                    div
                      a(href='/ru/P/5f61b3f8fb8cb15f4ff2eed9')
                        span Сыворотки
                        span 2
          li.lmLev1
            div
              a(href='/ru/P/5f59ff407ea097587ba541de')
                span Макияж
                span 19
              span.collap 
                i.icon-down3
            ul
              li.lmLev2
                div
                  a(href='/ru/P/5f882014faa5d80275220e04')
                    span Аксессуары
                    span 1
              li.lmLev2
                div
                  a(href='/ru/P/5f8826dafaa5d80275220e0b')
                    span Базы под макияж
                    span 1
              li.lmLev2
                div
                  a(href='/ru/P/5f882eaafaa5d80275220e1f')
                    span Гели для бровей
                    span 2
              li.lmLev2
                div
                  a(href='/ru/P/5f8827d5faa5d80275220e0c')
                    span Карандаши
                    span 1
              li.lmLev2
                div
                  a(href='/ru/P/5f882894faa5d80275220e0e')
                    span Консилеры и корректоры
                    span 3
              li.lmLev2
                div
                  a(href='/ru/P/5f882a52faa5d80275220e19')
                    span Пудры
                    span 1
              li.lmLev2
                div
                  a(href='/ru/P/5f88291ffaa5d80275220e12')
                    span Тени
                    span 2
              li.lmLev2
                div
                  a(href='/ru/P/5f88294afaa5d80275220e13')
                    span Тональные средства
                    span 6
              li.lmLev2
                div
                  a(href='/ru/P/5f8828c3faa5d80275220e0f')
                    span Хайлайтеры
                    span 2
    .lookCard__area_inLeftMenu.lookCard__area_dt
      .lookCard__outer
        a.lookCard(href="")
          .lookCard__inner
            //- img(src="assets/img/look/noviy-god-4-1200-1200-250.jpg", alt="")
            img(src="assets/img/look/noviy-god-4-1200-1200.jpg", alt="")
            .lookCard__buyBtn Купить