mixin leftMenu
  nav.catalogMenu__outer      
    ul.catalogMenu.ullevel0
      li.level0.indent0.fw700
        a(href='#')
          span верхняя одежда
          span 15
        ul.ullevel1
          li.level1.indent1.fw400
            a(href='#')
              span ветровка
              span 0
          li.level1.indent1.fw400
            a(href='#')
              span куртка
              span 1
          li.level1.indent1.fw600.active
            a(href='#')
              span пальто
              span 14
            ul.ullevel2
              li.level2.indent2.fw400
                a(href='#')
                  span Короткое пальто
                  span 0
              li.level2.indent2.fw600.hasInner
                a(href='#')
                  span Длинное пальто
                  span 1
                ul.ullevel3
                  li.level3.indent3.fw400
                    a(href='#')
                      span Длинное кожаное пальто
                      span 0
                  li.level3.indent3.fw400
                    a(href='#')
                      span Длинное замшевое пальто
                      span 1
                  li.level3.indent3.fw400
                    a(href='#')
                      span Длинное драповое пальто
                      span 14
                    ul.ullevel4
                      li.level4.indent4.fw400
                        a(href='#')
                          span Длинное драповое пальто Российское
                          span 0
                      li.level4.indent4.fw400
                        a(href='#')
                          span Длинное драповое пальто Испанское
                          span 1
                      li.level4.indent4.fw400
                        a(href='#')
                          span Длинное драповое пальто Китайское
                          span 14
                  li.level3.indent3.fw400
                    a(href='#')
                      span Длинное льняное пальто
                      span 0
                  li.level3.indent3.fw400
                    a(href='#')
                      span Длинное шелковое пальто
                      span 1
              li.level2.indent2.fw400
                a(href='#')
                  span Летнее полупальто
                  span 14
              li.level2.indent2.fw400
                a(href='#')
                  span Полупальто
                  span 14
              li.level2.indent2.fw400
                a(href='#')
                  span Зимнее пальто
                  span 0
              li.level2.indent2.fw400
                a(href='#')
                  span Летнее пальто
                  span 1
              li.level2.indent2.fw400
                a(href='#')
                  span Летнее полупальто
                  span 14


mixin leftMenuInShop
  nav.catalogMenu__outer      
    ul.catalogMenu.catalogMenu_inShop.ullevel0
      li.lmLev0.indent0.fw700
        a(href='#')
          span Детям
          span 15
        ul.ullevel1
          li.lmLev1.indent1.fw400.active
            a(href='#')
              span Девочкам
              span 0
          li.lmLev1.indent1.fw400
            a(href='#')
              span Мальчикам
              span 1
          li.lmLev1.indent1.fw600.active
            a(href='#')
              span Новорожденным
              span 14
            ul.ullevel2
              li.level2.indent2.fw400
                a(href='#')
                  span Короткое пальто
                  span 0
              li.level2.indent2.fw600.hasInner
                a(href='#')
                  span Длинное пальто
                  span 1
                ul.ullevel3
                  li.level3.indent3.fw400
                    a(href='#')
                      span Длинное кожаное пальто
                      span 0
                  li.level3.indent3.fw400
                    a(href='#')
                      span Длинное замшевое пальто
                      span 1
                  li.level3.indent3.fw400
                    a(href='#')
                      span Длинное драповое пальто
                      span 14
                    ul.ullevel4
                      li.level4.indent4.fw400
                        a(href='#')
                          span Длинное драповое пальто Российское
                          span 0
                      li.level4.indent4.fw400
                        a(href='#')
                          span Длинное драповое пальто Испанское
                          span 1
                      li.level4.indent4.fw400
                        a(href='#')
                          span Длинное драповое пальто Китайское
                          span 14
                  li.level3.indent3.fw400
                    a(href='#')
                      span Длинное льняное пальто
                      span 0
                  li.level3.indent3.fw400
                    a(href='#')
                      span Длинное шелковое пальто
                      span 1
              li.level2.indent2.fw400
                a(href='#')
                  span Летнее полупальто
                  span 14
              li.level2.indent2.fw400
                a(href='#')
                  span Полупальто
                  span 14
              li.level2.indent2.fw400
                a(href='#')
                  span Зимнее пальто
                  span 0
              li.level2.indent2.fw400
                a(href='#')
                  span Летнее пальто
                  span 1
              li.level2.indent2.fw400
                a(href='#')
                  span Летнее полупальто
                  span 14
    //- ul.catalogMenu
    //-   each val in db_catalogMenu
    //-     li
    //-       a(href="")
    //-         span!= val.title
    //-         span!= val.counter 

      //- each name in ['Главная', 'О компании', 'Услуги', 'Каталог', 'Контакты']
      //-   li
      //-     a(href="#")= name 

mixin m2_bottomMenu
  .m2_bottomMenu__areaFake
  .m2_bottomMenu__area
    .m2_bottomMenu__outer
      .m2_bottomMenu
        a.m2_bottomMenu__item(href="#")
          i.icon-home
          span Главная
        a.m2_bottomMenu__item(href="#")
          i.icon-search
          span Каталог
        a.m2_bottomMenu__item(href="#")
          i.icon-cart1
          span Корзина
          span.cartCounter 5
        a.m2_bottomMenu__item(href="#")
          i.icon-favorit1
          span Избранное
        a.m2_bottomMenu__item(href="#")
          i.icon-avatar1
          span Профиль


mixin m2_catMenu
  .m2_catMenu__area
    .m2_catMenu__outer
      .m2_catMenu
        .m2_catMenuItem__outer
          a.m2_catMenuItem
            .m2_catMenuItemImg
              img(src="assets/img/m2/clothes.jpg", alt="")
            .m2_catMenuItemInfo Одежда
        .m2_catMenuItem__outer
          a.m2_catMenuItem
            .m2_catMenuItemImg
              img(src="assets/img/m2/shoes.jpg", alt="")
            .m2_catMenuItemInfo Обувь
        .m2_catMenuItem__outer
          a.m2_catMenuItem
            .m2_catMenuItemImg
              img(src="assets/img/m2/accessories.jpg", alt="")
            .m2_catMenuItemInfo Аксессуары
        //- .m2_catMenuItem__outer
        //-   a.m2_catMenuItem
        //-     .m2_catMenuItemImg
        //-       img(src="assets/img/m2/clothes.jpg", alt="")
        //-     .m2_catMenuItemInfo Одежда
        //- .m2_catMenuItem__outer
        //-   a.m2_catMenuItem
        //-     .m2_catMenuItemImg
        //-       img(src="assets/img/m2/shoes.jpg", alt="")
        //-     .m2_catMenuItemInfo Обувь
        //- .m2_catMenuItem__outer
        //-   a.m2_catMenuItem
        //-     .m2_catMenuItemImg
        //-       img(src="assets/img/m2/accessories.jpg", alt="")
        //-     .m2_catMenuItemInfo Аксессуары
        //- .m2_catMenuItem__outer
        //-   a.m2_catMenuItem
        //-     .m2_catMenuItemImg
        //-       img(src="assets/img/m2/clothes.jpg", alt="")
        //-     .m2_catMenuItemInfo Одежда
        //- .m2_catMenuItem__outer
        //-   a.m2_catMenuItem
        //-     .m2_catMenuItemImg
        //-       img(src="assets/img/m2/shoes.jpg", alt="")
        //-     .m2_catMenuItemInfo Обувь
        //- .m2_catMenuItem__outer
        //-   a.m2_catMenuItem
        //-     .m2_catMenuItemImg
        //-       img(src="assets/img/m2/accessories.jpg", alt="")
        //-     .m2_catMenuItemInfo Аксессуары