mixin orderDetails2
  .orderDetails2__area.w0
    .orderDetails2__outer
      .orderDetails2__titleOuter
        .orderDetails2__mainTitle
          h1 Заказ <br>20-01-2021 16:45
        .orderDetails2__mainTitleStatus Ожидает оплаты
      .orderDetails2
        .orderDetails2__itemOuter
          a.orderDetails2__item(href="")
            .orderDetails2__itemImgOuter
              .orderDetails2__itemImg
                img(src="assets/img/tovar6/001.jpg", alt="")
                .orderDetails2__discount 10%
            .orderDetails2__itemDetails
              .orderDetails2__brand Большевичка
              .orderDetails2__title Костюм для вечеринки
              .orderDetails2__id Артикул: 2328866
              .orderDetails2__size Размер: М
              .orderDetails2__priceArea
                .orderDetails2__oldPrice 10000 ₽
                .orderDetails2__price 9000 ₽
        .orderDetails2__itemOuter
          a.orderDetails2__item(href="")
            .orderDetails2__itemImgOuter
              .orderDetails2__itemImg
                img(src="assets/img/tovar6/002.jpg", alt="")
                .orderDetails2__discount 10%
            .orderDetails2__itemDetails
              .orderDetails2__brand Большевичка
              .orderDetails2__title Костюм
              .orderDetails2__id Артикул: 2328866
              .orderDetails2__size Размер: М
              .orderDetails2__priceArea
                .orderDetails2__oldPrice 10000 ₽
                .orderDetails2__price 9000 ₽
        .orderDetails2__itemOuter
          a.orderDetails2__item(href="")
            .orderDetails2__itemImgOuter
              .orderDetails2__itemImg
                img(src="assets/img/tovar6/003.jpg", alt="")
                .orderDetails2__discount 10%
            .orderDetails2__itemDetails
              .orderDetails2__brand Большевичка
              .orderDetails2__title Костюм для вечеринки
              .orderDetails2__id Артикул: 2328866
              .orderDetails2__size Размер: М
              .orderDetails2__priceArea
                .orderDetails2__oldPrice 10000 ₽
                .orderDetails2__price 9000 ₽
        .orderDetails2__itemOuter
          a.orderDetails2__item(href="")
            .orderDetails2__itemImgOuter
              .orderDetails2__itemImg
                img(src="assets/img/tovar6/004.jpg", alt="")
                .orderDetails2__discount 10%
            .orderDetails2__itemDetails
              .orderDetails2__brand Большевичка
              .orderDetails2__title Костюм для вечеринки
              .orderDetails2__id Артикул: 2328866
              .orderDetails2__size Размер: М
              .orderDetails2__priceArea
                .orderDetails2__oldPrice 10000 ₽
                .orderDetails2__price 9000 ₽
        .orderDetails2__itemOuter
          a.orderDetails2__item(href="")
            .orderDetails2__itemImgOuter
              .orderDetails2__itemImg
                img(src="assets/img/tovar6/009.jpg", alt="")
                .orderDetails2__discount 10%
            .orderDetails2__itemDetails
              .orderDetails2__brand Большевичка
              .orderDetails2__title Костюм для вечеринки
              .orderDetails2__id Артикул: 2328866
              .orderDetails2__size Размер: М
              .orderDetails2__priceArea
                .orderDetails2__oldPrice 10000 ₽
                .orderDetails2__price 9000 ₽
      .orderDetailsInfo__area
        .orderDetailsInfo
          .orderDetailsInfo1
            .orderDetailsInfo__title
              h3 Контактные данные
            span Иван Аксенов
            span 8(987)999-99-99
            span ivan@tcmir.ru
          .orderDetailsInfo2
            .orderDetailsInfo__title
              h3 Информация о заказе
            span <strong>Получатель:</strong> Петров Владимир Васильевич
            span <strong>Самовывоз:</strong> Пункт выдачи: ТК МИР, г. Саратов, ул. Московская, 113/117, 1 этаж, с 10:00 до 21:00. Для получения сообщите Ваш номер телефона, код из сообщения и номер заказа. 
            span <strong>Комментарий:</strong> Lorem ipsum dolor sit amet ipsum dolor sit amet.
          .orderDetailsInfo3
            .orderDetailsInfo__price Сумма заказа:   6800 ₽
            .orderDetails2__btn.orderDetails2__btn_btn1 Оплатить картой
            .orderDetails2__btn.orderDetails2__btn_btn2 Редактировать заказ
              //- h3 Сумма заказа: 






mixin orderDetails
  .orderDetails__area.w0
    .orderDetails__outer.w1
      .orderDetails__title
        h1 Заказ 000010 от 2020-08-10 17:57:08
      .orderDetails
        .orderDetails__item
          .orderDetails__itemTitle Состояние:
          .orderDetails__itemInfo Подтвержден модератором
        .orderDetails__item
          .orderDetails__itemTitle Сумма:
          .orderDetails__itemInfo 
            strong 4169 р
        .orderDetails__item
          .orderDetails__itemTitle Состав заказа:
          .orderDetails__itemInfo
            +orderDetailsTab
            
            //- +cart
        .orderDetails__item
          .orderDetails__itemTitle Контактное лицо:
          .orderDetails__itemInfo Пупкин Василий
        .orderDetails__item
          .orderDetails__itemTitle Контактный телефон:
          .orderDetails__itemInfo +7 927 310 88 10
        .orderDetails__item
          .orderDetails__itemTitle Email:
          .orderDetails__itemInfo vasilypupkin@tcmir.ru
        .orderDetails__item
          .orderDetails__itemTitle Действия:
          .orderDetails__itemInfo 
            .orderDetails__itemInfoVariants
              +orderDetails__itemActions
            .orderDetails__itemInfoVariants
              +orderDetails__itemActions2


mixin orderDetails__itemActions
  .orderDetails__itemActions
    .orderDetails__itemActionsText Какой-то заголовок для действия, если нужно вставить текст
    form.orderDetails__itemActionsForm(action="", method="post")
      span Вы также можете:
      input.order__action_color(type="submit", value="Оплатить заказ")

mixin orderDetails__itemActions2
  .orderDetails__itemActions
    //- .orderDetails__itemActionsText Какой-то заголовок для действия, если нужно вставить текст
    form.orderDetails__itemActionsForm(action="", method="post")
      span Вы также можете:
      input(type="submit", value="Редактировать заказ")
        

mixin orderDetailsTab
  .orderDetailsTab
    table
      tr
        //- th
        th(colspan="2") Наименование
        th.text-right 
          span.dt Цена за единицу
          span.mb Цена за ед.
        th.text-right 
          span.dt Количество
          span.mb Кол-во
        th.text-right Сумма
      tr
        td 
          img(src="assets/img/tovar/001.jpeg", alt="")
        td 21211332 Название товара
        td.text-right 5000 р/шт
        td.text-right 1 шт
        td.text-right 5000 р
      tr
        td 
          img(src="assets/img/tovar/002.jpeg", alt="")
        td 21211334 Название товара 2
        td.text-right 6000 р/шт
        td.text-right 2 шт
        td.text-right 12000 р
      tr
        td 
          img(src="assets/img/tovar/003.jpeg", alt="")
        td 21211335 Название товара 3
        td.text-right 7000 р/шт
        td.text-right 1 шт
        td.text-right 7000 р


