mixin sliderSwiperInMain
  .julySlider__area.w0
    .julySlider__outer.w1
      .julySlider.swiper-container
        .swiper-wrapper
          .julySlider__item.swiper-slide
            a(href="#")
              img(src="assets/img/slider1/Basconi_slider.jfif", alt="")
          .julySlider__item.swiper-slide
            a(href="#")
              img(src="assets/img/slider1/patrizia_slider_main.jpg", alt="")
          .julySlider__item.swiper-slide
            a(href="#")
              img(src="assets/img/slider1/taliogiotto_slider_main.jpg", alt="")
          .julySlider__item.swiper-slide
            a(href="#")
              img(src="assets/img/slider1/Kasper.png", alt="")
          .julySlider__item.swiper-slide
            a(href="#")
              img(src="assets/img/slider1/MonteNapoleone_slider_main.jpg", alt="")
          .julySlider__item.swiper-slide
            a(href="#")
              img(src="assets/img/slider1/beauty-lounge_slider_main.jpg", alt="")
      .julySlider__pag
        
        .julySlider__Prev
          i.icon-arr-left1
        .julySlider__pagination
        .julySlider__Next
          i.icon-arr-right1
      .julySlider__tovars.swiper-container
        .swiper-wrapper
          .julySlider__tovarsItem.swiper-slide
            +newCollection
          .julySlider__tovarsItem.swiper-slide
            +newCollection
          .julySlider__tovarsItem.swiper-slide
            +newCollection
          .julySlider__tovarsItem.swiper-slide
            +newCollection
          .julySlider__tovarsItem.swiper-slide
            +newCollection
          .julySlider__tovarsItem.swiper-slide
            +newCollection