.slider__new
  .swiper-container.slider__newContent
    .swiper-wrapper
      .swiper-slide
        a(href='assets/img/tovar/001.jpeg', data-fancybox='group1', data-caption='001')
          img(src='assets/img/tovar/001.jpeg', alt='')
      .swiper-slide
        a(href='assets/img/tovar/002.jpeg', data-fancybox='group1', data-caption='002')
          img(src='assets/img/tovar/002.jpeg', alt='')
      .swiper-slide
        a(href='assets/img/tovar/tovar1.jpg', data-fancybox='group1', data-caption='003')
          img(src='assets/img/tovar/tovar1.jpg', alt='')
      .swiper-slide
        a(href='assets/img/tovar/004.jpeg', data-fancybox='group1', data-caption='004')
          img(src='assets/img/tovar/004.jpeg', alt='')
      .swiper-slide
        a(href='assets/img/tovar/005.jpeg', data-fancybox='group1', data-caption='005')
          img(src='assets/img/tovar/005.jpeg', alt='')
      .swiper-slide
        a(href='assets/img/tovar/006.jpeg', data-fancybox='group1', data-caption='006')
          img(src='assets/img/tovar/006.jpeg', alt='')
    .swiper-button-next.sliderImgBtnNext
      i.icon-arr-right1
    .swiper-button-prev.sliderImgBtnPrev
      i.icon-arr-left1
  .swiper-container.gallery-thumbs.slider__newThumbs
    .swiper-wrapper
      .swiper-slide
        img(src='assets/img/tovar/001.jpeg', alt='', title='')
      .swiper-slide
        img(src='assets/img/tovar/002.jpeg', alt='', title='')
      .swiper-slide
        img(src='assets/img/tovar/tovar1.jpg', alt='', title='')
      .swiper-slide
        img(src='assets/img/tovar/004.jpeg', alt='', title='')
      .swiper-slide
        img(src='assets/img/tovar/005.jpeg', alt='', title='')
      .swiper-slide
        img(src='assets/img/tovar/006.jpeg', alt='', title='')
         