mixin tovar-slider
  .tovarPage__sliderArea
    .slider__new
      .swiper-container.slider__newContent
        .swiper-wrapper
          .swiper-slide
            a(href='assets/img/tovar3/Bluza-5100/Bluza-5100-1.JPG', data-fancybox='group1', data-caption='001')
              img(src='assets/img/tovar3/Bluza-5100/Bluza-5100-1.JPG', alt='')
          .swiper-slide
            a(href='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', data-fancybox='group1', data-caption='001')
              img(src='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', alt='')
          .swiper-slide
            a(href='assets/img/tovar3/Bluza-5100/Bluza-5100-3.JPG', data-fancybox='group1', data-caption='001')
              img(src='assets/img/tovar3/Bluza-5100/Bluza-5100-3.JPG', alt='')
          .swiper-slide
            a(href='assets/img/tovar3/Bluza-5100/Bluza-5100-4.JPG', data-fancybox='group1', data-caption='001')
              img(src='assets/img/tovar3/Bluza-5100/Bluza-5100-4.JPG', alt='')
          .swiper-slide
            a(href='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', data-fancybox='group1', data-caption='005')
              img(src='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', alt='')
          .swiper-slide
            a(href='assets/img/tovar3/Bluza-5100/Bluza-5100-3.JPG', data-fancybox='group1', data-caption='006')
              img(src='assets/img/tovar3/Bluza-5100/Bluza-5100-3.JPG', alt='')
        .swiper-button-next.sliderImgBtnNext
          i.icon-arr-right1
        .swiper-button-prev.sliderImgBtnPrev
          i.icon-arr-left1
      .swiper-container.gallery-thumbs.slider__newThumbs
        .swiper-wrapper
          .swiper-slide
            img(src='assets/img/tovar3/Bluza-5100/Bluza-5100-1.JPG', alt='', title='')
          .swiper-slide
            img(src='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', alt='', title='')
          .swiper-slide     
            img(src='assets/img/tovar3/Bluza-5100/Bluza-5100-3.JPG', alt='', title='')
          .swiper-slide
            img(src='assets/img/tovar3/Bluza-5100/Bluza-5100-4.JPG', alt='', title='')
          .swiper-slide
            img(src='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', alt='', title='')
          .swiper-slide
            img(src='assets/img/tovar3/Bluza-5100/Bluza-5100-3.JPG', alt='', title='')

mixin tovarSliderPro
  .tovarPage__sliderArea
    #my-slider.slider-pro.tovarSliderPro
      .sp-slides
        .sp-slide
          img.sp-image(src='assets/img/tovar3/Bluza-5100/Bluza-5100-1.JPG', alt='', title='')
          img.sp-thumbnail(src='assets/img/tovar3/Bluza-5100/Bluza-5100-1.JPG', alt='', title='')
        .sp-slide
          img.sp-image(src='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', alt='', title='')
          img.sp-thumbnail(src='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', alt='', title='')
        .sp-slide
          img.sp-image(src='assets/img/tovar3/Bluza-5100/Bluza-5100-3.JPG', alt='', title='')
          img.sp-thumbnail(src='assets/img/tovar3/Bluza-5100/Bluza-5100-3.JPG', alt='', title='')
        .sp-slide
          img.sp-image(src='assets/img/tovar4/Destra-Krossovki-6661-22-7141-1.JPG', alt='', title='')
          img.sp-thumbnail(src='assets/img/tovar4/Destra-Krossovki-6661-22-7141-1.JPG', alt='', title='')
        .sp-slide
          img.sp-image(src='assets/img/tovar4/Destra-Krossovki-6661-22-7141-2.JPG', alt='', title='')
          img.sp-thumbnail(src='assets/img/tovar4/Destra-Krossovki-6661-22-7141-2.JPG', alt='', title='')
        .sp-slide
          img.sp-image(src='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', alt='', title='')
          img.sp-thumbnail(src='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', alt='', title='')
        .sp-slide
          img.sp-image(src='assets/img/tovar3/Bluza-5100/Bluza-5100-1.JPG', alt='', title='')
          img.sp-thumbnail(src='assets/img/tovar3/Bluza-5100/Bluza-5100-1.JPG', alt='', title='')
        .sp-slide
          img.sp-image(src='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', alt='', title='')
          img.sp-thumbnail(src='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', alt='', title='')

mixin tovarSliderPro2
  .tovarPage__sliderArea
    .tovarPage__sliderAreaWrapper.invisible
      #my-slider.slider-pro.tovarSliderPro
        .sp-slides
          .sp-slide
            a(href='assets/img/tovar3/Bluza-5100/Bluza-5100-1.JPG', data-fancybox='group1', data-caption='001')
              img.sp-image(src='assets/img/tovar3/Bluza-5100/Bluza-5100-1.JPG', alt='', title='')
            
          .sp-slide
            a(href='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', data-fancybox='group1', data-caption='002')
              img.sp-image(src='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', alt='', title='')
            
          .sp-slide
            a(href='assets/img/tovar3/Bluza-5100/Bluza-5100-3.JPG', data-fancybox='group1', data-caption='003')
              img.sp-image(src='assets/img/tovar3/Bluza-5100/Bluza-5100-3.JPG', alt='', title='')
            
          .sp-slide
            a(href='assets/img/tovar4/Destra-Krossovki-6661-22-7141-1.JPG', data-fancybox='group1', data-caption='004')
              img.sp-image(src='assets/img/tovar4/Destra-Krossovki-6661-22-7141-1.JPG', alt='', title='')
            
          .sp-slide
            a(href='assets/img/tovar4/Destra-Krossovki-6661-22-7141-2.JPG', data-fancybox='group1', data-caption='005')
              img.sp-image(src='assets/img/tovar4/Destra-Krossovki-6661-22-7141-2.JPG', alt='', title='')
            
          .sp-slide
            a(href='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', data-fancybox='group1', data-caption='006')
              img.sp-image(src='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', alt='', title='')
            
          .sp-slide
            a(href='assets/img/tovar3/Bluza-5100/Bluza-5100-1.JPG', data-fancybox='group1', data-caption='007')
              img.sp-image(src='assets/img/tovar3/Bluza-5100/Bluza-5100-1.JPG', alt='', title='')
            
          .sp-slide
            a(href='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', data-fancybox='group1', data-caption='008')
              img.sp-image(src='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', alt='', title='')
            
        .sp-thumbnails
          img.sp-thumbnail(src='assets/img/tovar3/Bluza-5100/Bluza-5100-1.JPG', alt='', title='')
          img.sp-thumbnail(src='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', alt='', title='')
          img.sp-thumbnail(src='assets/img/tovar3/Bluza-5100/Bluza-5100-3.JPG', alt='', title='')
          img.sp-thumbnail(src='assets/img/tovar4/Destra-Krossovki-6661-22-7141-1.JPG', alt='', title='')
          img.sp-thumbnail(src='assets/img/tovar4/Destra-Krossovki-6661-22-7141-2.JPG', alt='', title='')
          img.sp-thumbnail(src='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', alt='', title='')
          img.sp-thumbnail(src='assets/img/tovar3/Bluza-5100/Bluza-5100-1.JPG', alt='', title='')
          img.sp-thumbnail(src='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', alt='', title='')

mixin tovarSliderPro3
  .tovarPage__sliderArea
    #my-slider.slider-pro.tovarSliderPro
      .sp-slides
        .sp-slide
          a(href='assets/img/tovar3/Bluza-5100/Bluza-5100-1.JPG', data-fancybox='group1', data-caption='001')
            img.sp-image(src='assets/img/tovar3/Bluza-5100/Bluza-5100-1.JPG', alt='', title='')
          img.sp-thumbnail(src='assets/img/tovar3/Bluza-5100/Bluza-5100-1.JPG', alt='', title='')
          
        .sp-slide
          a(href='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', data-fancybox='group1', data-caption='002')
            img.sp-image(src='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', alt='', title='')
          img.sp-thumbnail(src='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', alt='', title='')
          
        .sp-slide
          a(href='assets/img/tovar3/Bluza-5100/Bluza-5100-3.JPG', data-fancybox='group1', data-caption='003')
            img.sp-image(src='assets/img/tovar3/Bluza-5100/Bluza-5100-3.JPG', alt='', title='')
          img.sp-thumbnail(src='assets/img/tovar3/Bluza-5100/Bluza-5100-3.JPG', alt='', title='')
          
        .sp-slide
          a(href='assets/img/tovar4/Destra-Krossovki-6661-22-7141-1.JPG', data-fancybox='group1', data-caption='004')
            img.sp-image(src='assets/img/tovar4/Destra-Krossovki-6661-22-7141-1.JPG', alt='', title='')
          img.sp-thumbnail(src='assets/img/tovar4/Destra-Krossovki-6661-22-7141-1.JPG', alt='', title='')
          
        .sp-slide
          a(href='assets/img/tovar4/Destra-Krossovki-6661-22-7141-2.JPG', data-fancybox='group1', data-caption='005')
            img.sp-image(src='assets/img/tovar4/Destra-Krossovki-6661-22-7141-2.JPG', alt='', title='')
          img.sp-thumbnail(src='assets/img/tovar4/Destra-Krossovki-6661-22-7141-2.JPG', alt='', title='')
        .sp-slide
          a(href='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-1.JPG', data-fancybox='group1', data-caption='005')
            img.sp-image(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-1.JPG', alt='', title='')
          img.sp-thumbnail(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-1.JPG', alt='', title='')
        .sp-slide
          a(href='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', data-fancybox='group1', data-caption='006')
            img.sp-image(src='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', alt='', title='')
          img.sp-thumbnail(src='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', alt='', title='')
          
        .sp-slide
          a(href='assets/img/tovar3/Bluza-5100/Bluza-5100-1.JPG', data-fancybox='group1', data-caption='007')
            img.sp-image(src='assets/img/tovar3/Bluza-5100/Bluza-5100-1.JPG', alt='', title='')
          img.sp-thumbnail(src='assets/img/tovar3/Bluza-5100/Bluza-5100-1.JPG', alt='', title='')
          
        .sp-slide
          a(href='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', data-fancybox='group1', data-caption='008')
            img.sp-image(src='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', alt='', title='')
          img.sp-thumbnail(src='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', alt='', title='')
            
        //- .sp-thumbnails
          
mixin tovarSlickSlider
  .tovarPage__sliderArea
    .slickCarousel__area
      .slickCarousel__img
        //- .sliderImgBtnNext
        //-   i.icon-arr-right1
        //- .sliderImgBtnPrev
        //-   i.icon-arr-left1
        .slickCarousel__imgItem
          a(href='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-1.JPG', data-fancybox='group1', data-caption='005')
            img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-1.JPG', alt='', title='')
        .slickCarousel__imgItem
          a(href='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-2.JPG', data-fancybox='group1', data-caption='005')
            img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-2.JPG', alt='', title='')
        .slickCarousel__imgItem
          a(href='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-3.JPG', data-fancybox='group1', data-caption='005')
            img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-3.JPG', alt='', title='')
        .slickCarousel__imgItem
          a(href='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-4.JPG', data-fancybox='group1', data-caption='005')
            img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-4.JPG', alt='', title='')
        .slickCarousel__imgItem
          a(href='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-3.JPG', data-fancybox='group1', data-caption='005')
            img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-3.JPG', alt='', title='')
        .slickCarousel__imgItem
          a(href='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-2.JPG', data-fancybox='group1', data-caption='005')
            img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-2.JPG', alt='', title='')
        .slickCarousel__imgItem
          a(href='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-1.JPG', data-fancybox='group1', data-caption='005')
            img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-1.JPG', alt='', title='')
        .slickCarousel__imgItem
          a(href='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-2.JPG', data-fancybox='group1', data-caption='005')
            img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-2.JPG', alt='', title='')
        .slickCarousel__imgItem
          a(href='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-3.JPG', data-fancybox='group1', data-caption='005')
            img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-3.JPG', alt='', title='')
        .slickCarousel__imgItem
          a(href='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-4.JPG', data-fancybox='group1', data-caption='005')
            img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-4.JPG', alt='', title='')
        .slickCarousel__imgItem
          a(href='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-3.JPG', data-fancybox='group1', data-caption='005')
            img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-3.JPG', alt='', title='')
        .slickCarousel__imgItem
          a(href='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-2.JPG', data-fancybox='group1', data-caption='005')
            img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-2.JPG', alt='', title='')
        .slickCarousel__imgItem
          a(href='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-1.JPG', data-fancybox='group1', data-caption='005')
            img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-1.JPG', alt='', title='')
        .slickCarousel__imgItem
          a(href='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-2.JPG', data-fancybox='group1', data-caption='005')
            img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-2.JPG', alt='', title='')
        .slickCarousel__imgItem
          a(href='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-3.JPG', data-fancybox='group1', data-caption='005')
            img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-3.JPG', alt='', title='')
        .slickCarousel__imgItem
          a(href='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-4.JPG', data-fancybox='group1', data-caption='005')
            img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-4.JPG', alt='', title='')
        .slickCarousel__imgItem
          a(href='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-3.JPG', data-fancybox='group1', data-caption='005')
            img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-3.JPG', alt='', title='')
        .slickCarousel__imgItem
          a(href='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-2.JPG', data-fancybox='group1', data-caption='005')
            img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-2.JPG', alt='', title='')
      .slickCarousel__thmb
        .slickCarousel__thmbItem
          img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-1.JPG', alt='', title='')
        .slickCarousel__thmbItem
          img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-2.JPG', alt='', title='')
        .slickCarousel__thmbItem
          img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-3.JPG', alt='', title='')
        .slickCarousel__thmbItem
          img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-4.JPG', alt='', title='')
        .slickCarousel__thmbItem
          img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-3.JPG', alt='', title='')
        .slickCarousel__thmbItem
          img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-2.JPG', alt='', title='')
        .slickCarousel__thmbItem
          img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-1.JPG', alt='', title='')
        .slickCarousel__thmbItem
          img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-2.JPG', alt='', title='')
        .slickCarousel__thmbItem
          img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-3.JPG', alt='', title='')
        .slickCarousel__thmbItem
          img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-4.JPG', alt='', title='')
        .slickCarousel__thmbItem
          img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-3.JPG', alt='', title='')
        .slickCarousel__thmbItem
          img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-2.JPG', alt='', title='')
        .slickCarousel__thmbItem
          img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-1.JPG', alt='', title='')
        .slickCarousel__thmbItem
          img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-2.JPG', alt='', title='')
        .slickCarousel__thmbItem
          img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-3.JPG', alt='', title='')
        .slickCarousel__thmbItem
          img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-4.JPG', alt='', title='')
        .slickCarousel__thmbItem
          img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-3.JPG', alt='', title='')
        .slickCarousel__thmbItem
          img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-2.JPG', alt='', title='')
          
          
          
          
          