- var pageTitle = 'Остатки'

include __const
include __breadcrumbs
include __header
include __arendator


include __footer




<!DOCTYPE html>
html(lang="ru-RU")
  +head
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css', integrity='sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I', crossorigin='anonymous')

body.d-flex.flex-column.h-100

  .site__header
    +arHeader

  .site__center
    +fake-breadcrumbs_inBrand
    +skladTab__category
    +skladTab
 
  .site__footer
    //- +footer


  

  +scripts


  