- var pageTitle = 'Личный кабинет'

include __const
include __header
include __cabinet1
include __cart
include __footer
include __m2_catalog
include __aCatalog

<!DOCTYPE html>
html(lang="ru-RU")
  +head
body

  .site__header
    +aCatalog
    +siteHeader2

  .site__center
    //- +cabinet1
    +cabinet2
  .site__footer
    +siteFooter2


  +scripts


  