- var pageTitle = 'Личный кабинет'

include __const
include __header
include __cabinet1
include __cart
include __footer

<!DOCTYPE html>
html(lang="ru-RU")
  +head
body

  .site__header
    +header

  .site__center
    +cabinet1
 
  .site__footer
    
    +footer


  +scripts


  