- var pageTitle = 'Корзина и оформление заказа'
include __const
include __head
include __header
include __breadcrumbs
include __cart
include __footer
include __scripts


<!DOCTYPE html>
html(lang="ru-RU")
  +head
body

  .site__header
    +siteHeader2

  .site__center
    +lookBreadcrumbs
    .cart2__pageArea.w0
      .cart2__pageOuter.w1
        .title
          h1 Корзина
        //- +cartTab
        +cart2
        //- +cart
        .cart__refundInfo
          

  .site__footer
    +siteFooter2

  +scripts
  