- var pageTitle = 'Страница каталога'

include __const
include __header
include __filters
include __leftMenu
include __m2_catalog
include __footer

<!DOCTYPE html>
html(lang="ru-RU")
  +head
body

  .site__header
    +header
    +m2_topMenu

  .site__center
    .title1.w1
      h1 Одежда
    +m2_innerCategory
    +m2_category
             

  


  .site__footer
    +footer

  +scripts