- var pageTitle = 'Главная страница'

include __const
include __header
include __sliders
include __m1_catalog
include __shop
include __m1_index
include __footer




<!DOCTYPE html>
html(lang="ru-RU")
  +head
body

  .site__header
    +header

  .site__center
    +sliderSwiperInMain

    //- +m1_mainBtn
    +m1_catalog

    .mainShopsBox__area.w0.inIndexPage
      .mainShopsBox__outer.w1
        .title0.indexShopCardTitle
          h2 Наши магазины
        +mainShopsBox

    +septSlider2   
    +septSlider1   
    +septSlider2   
    +septSlider1   
 
  .site__footer
    
    +footer

  

  +scripts


  