- var pageTitle = 'Главная страница'

include __const
include __index2
include __l1_header
include __l1

<!DOCTYPE html>
html(lang="ru-RU")
  +head
body

  .site__header
    +l1_header
  .site__center
    +l1


  .site__footer

  +scripts







  