- var pageTitle = 'Лэндинг 3'

include __const
include __index2
include __l1_header
include __l2
include __l1a
include __l1b
include __l1c
include __l1d
include __l1map
include assets/chunks/__collage/__collage

<!DOCTYPE html>
html(lang="ru-RU")
  +head
  body
    .l3
      .l3a__area
        .l3header__area 
          header.l3header 
            .l3header__cont.l3header__address 
              i.icon-marker1
              span Саратов, ул. Московская, 113-117
            .l3header__logo 
              a(href="#")
                img(src="assets/img/logo8801000mir.svg", alt="") 
            .l3header__cont.l3header__phone 
              i.icon-phone2
              a(href="tel:+78452759933")  +7 (8452) 75 99 33
        .l3firstScreen
          .l3firstScreen__left 
            .l3firstScreen__leftContent
              .l3tm
                .l3tm__top 
                  .l3tm__topLeft Торговый комплекс
                  .l3tm__topRight МИР
                .l3tm__bottom 
                  span Более 10 лет радует жителей Саратова качественным европейским шопингом
              .l3firstScreen__linkOuter 
                .l3firstScreen__link
                  a.l3firstScreen__linkTitle.l3firstScreen__linkTitle1(href="#")
                    span Магазины
                  .l3firstScreen__linkDesc Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать
                .l3firstScreen__link
                  a.l3firstScreen__linkTitle.l3firstScreen__linkTitle2(href="#")
                    span Услуги
                  .l3firstScreen__linkDesc Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать
                .l3firstScreen__link
                  a.l3firstScreen__linkTitle.l3firstScreen__linkTitle3(href="#")
                    span Схема ТК
                  .l3firstScreen__linkDesc Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать

          .l3firstScreen__right
            .l3firstScreen__rightBox 
              a.l3firstScreen__rightBoxInner(href="#") 
                span Акции
                p Узнать подробнее






    +scripts







  