- var pageTitle = 'Главная страница'

include __const
include __header
include __sliders
include __shop
include __footer



<!DOCTYPE html>
html(lang="ru-RU")
  +head
body

  .site__header
    +header

  .site__center
    .mainShopsBox__area.w0
      .mainShopsBox__outer.w1
        .title0.indexShopCardTitle
          h1 Наши магазины
        +mainShopsBox
 
  .site__footer
    
    +footer


  +scripts
  