- var pageTitle = 'Личный кабинет'

include __const
include __header
include __breadcrumbs
include __orderDetails
include __cart
include __footer

<!DOCTYPE html>
html(lang="ru-RU")
  +head
body

  .site__header
    +header

  .site__center
    +fake-breadcrumbs_onlyBackBtn
    +orderDetails


 
  .site__footer
    
    +footer


  +scripts


  