- var pageTitle = 'Страница магазина Каспер'

include __head
include __header
include __shop
include __filters
include __filters-adaptive
include __leftMenu
include __catalog
include __pagination
include __textInContent
include __footer
include __scripts

<!DOCTYPE html>
html(lang="ru-RU")
  +head
body

  .site__header
    +siteHeader2

  .site__center
    .title1.w1
      h1= pageTitle
    //- include __breadcrumbs
    +shop
    .catalogPage__outer.w0
      //- .title1.w1
      //-   h1= pageTitle
      //-   span 785
      .catalogPage.w1
        +adaptiveFilters
        +leftMenuTreePath
        .catalog__outer
          +filtersBtnsLine
          +filtersArea
          +catalogArea
          +pagiantion
    +textInContent

  .site__footer
    +footer

  +scripts