- var pageTitle = 'Тестовая страница'

include __head
include __header
include __breadcrumbs
include __footer
include __scripts


<!DOCTYPE html>
html(lang="ru-RU")
	+head
body

	.site__header
		+header

	.site__center
		+breadcrumbs
		

		.testBtn Тестовая кнопка


	.site__footer
		+footer

	+scripts