- var pageTitle = 'Текстовая страница'

include __head
include __header
include __breadcrumbs
include __textInContent
include __footer
include __scripts

<!DOCTYPE html>
html(lang="ru-RU")
  +head
body

  .site__header
    +header

  .site__center
    .w1
      .content
        h2 Информация о компании, принимающей оплату
        p ООО "КЭРОС"
        p 410012, г. Саратов, ул. Московская, 117
        p ОГРН 1026402671602
        p ИНН 6452045914
        p КПП 645201001
        p р/с 40702810356000003057 в Поволжском Банке ПАО «Сбербанк»
        p к/с 30101810200000000607 БИК 043601607
        h2 Оформление заказа и процесс оплаты:
        ol
          li
            | Добавьте выбранные товары в корзину, указав нужный размер и количество. Выбранные товары сохраняются в Вашей корзине, но не резервируются.
          li
            | Закончив процесс выбора, перейдите на страницу "Корзина". На странице отображается стоимость и характеристики выбранных товаров. На данном этапе Вы можете редактировать заказ. Если Вы определились с заказом, перейдите к оформлению.
          li
            | Для оформления заказа зарегистрируйте свой номер телефона, если он еще не зарегистрирован.
          li Выберите способ получения: самовывоз или доставка.
          li
            | Перейдите к оплате. Оплата возможна банковской картой Visa, MasterCard и МИР. Для осуществления платежа введите данные Вашей банковской карты. Передача сведений производится с соблюдением всех необходимых мер безопасности. Информация передается и сохраняется в зашифрованном виде.
          li
            | На Ваш номер телефона придет смс с подтверждением оплаты, кодом и номером заказа.
          li Мы сообщим Вам, когда заказ будет готов к выдаче или передан в службу доставки.
        h2 Способы доставки
        ol
          li
            | Самовывоз. Получить заказ Вы сможете в пункте выдачи Торгового комплекса МИР на 1 этаже в часы работы комплекса (10.00-21.00). Для получения сообщите Ваш номер телефона, код и номер заказа.
          li
            | Курьерская доставка бесплатна и осуществляется только при покупке от 2000 рублей. Чтобы воспользоваться курьерской доставкой нужно выбрать способ доставки «курьерская доставка» при оформлении заказа и ввести адрес доставки и данные получателя. Когда заказ будет отправлен, Вам придет уведомление с информацией для отслеживания заказа.
        h2 Информация о Возврате
        p
          strong
            | а) Если предоплаченный заказ не может быть доставлен по вине продавца, возврат денежных средств производится не позднее следующего рабочего дня после дня оплаты.
          |  Денежные средства вернутся на счет банковской карты, с которой была произведена оплата. Сроки зачисления зависят от банка-эмитента Вашей карты.
        p
          strong
            | б) Вы можете вернуть не подошедшие Вам товары, приобретенные в интернет-магазине tcmir.ru.
        p
          | Срок возврата товаров надлежащего качества 14 (четырнадцать) дней после получения товара, если иное не было оговорено при продаже товара. Для оформления возврата, пожалуйста, используйте заявление на возврат, полученное с заказом (форма здесь).
        p
          | Причинами для возврата товара надлежащего качества со стороны Покупателя могут быть следующие:
        ul
          li Не подошел размер, фасон, цвет, длина и т.п.
          li Оттенок полученного товара отличается от оттенка модели с фотографии на сайте.
        p
          | Возврат возможен только для тех товаров, у которых сохранен товарный вид (оригинальная и неповрежденная упаковка, ярлыки) и потребительские свойства (на нем не должно быть следов эксплуатации и носки).
        h3 Товары, не подлежащие возврату и обмену
        p
          | Возврату и обмену не подлежит товар надлежащего качества в соответствии с Постановлением Правительства РФ от 19.01.1998г. №55 (в ред. Постановления Правительства РФ от 20.10.1998 № 1222), в том числе:
        ul
          li
            | швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные, купальники и плавки);
          li
            | изделия и материалы, контактирующие с пищевыми продуктами, из полимерных материалов, в том числе для разового использования;
          li предметы личной гигиены (заколки, расчески и подобные товары);
          li парфюмерно-косметические товары;
          li
            | технически сложные товары бытового назначения, на которые установлены гарантийные сроки (в т.ч. часы).
        p
          strong в) Товары ненадлежащего качества:
        p
          | Если товар, приобретенный в интернет-магазине tcmir.ru, не соответствует стандартам качества, пожалуйста, используйте заявление-претензию 
          u (форма здесь).
          |  Вышлите по указанному адресу или предъявите в пункт выдачи те товары, которые по Вашему мнению, содержат брак, а также заполненное заявление-претензию о возврате товара ненедлежащего качества, копию документа об оплате и копию паспорта.
        p
          | Причиной для возврата товара со стороны Покупателя может быть производственный недостаток (брак) товара. Покупатель может  не позднее 20 дней после получения товара известить продавца об этих нарушениях. Если гарантийный срок на товар производителем не установлен, срок для возврата такого товара составляет 2 (два) года.
        p
          | Если обнаружены недостатки товара, в отношении которого гарантийные сроки или сроки годности не установлены, покупатель вправе предъявить требования в отношении недостатков товара в разумный срок, но в пределах 2 лет со дня передачи его покупателю, если более длительные сроки не установлены законами или договором.
        p
          | Покупатель также вправе предъявить требования к продавцу в отношении недостатков товара, если они обнаружены в течение гарантийного срока или срока годности.
        p
          | Срок рассмотрения заявления-претензии — 5 (пять) рабочих дней с момента его получения.
        p
          | В случае, если по результату рассмотрения заявления Продавцом принято положительное решение,  возврат денег производится на банковскую карту, с которой производилась оплата заказа. Срок перечисления — до 3 рабочих дней после рассмотрения заявления. В случае отклонения заявления, покупатель вправе обратиться в независимую экспертизу. В случае, если независимой экспертизой будет подтверждено право покупателя на возврат товара, все расходы покупателя, связанные с проведением независимой экспертизы подлежат возмещению Продавцом.
        p Ответ на претензию отправляется Почтой России по указанному в заявлении адресу. 
        h2 Как оформить Возврат:
        p
          | 1) заполните заявление на возврат товара надлежащего качества или заявление-претензию. В заявлении укажите количество, наименование товара и код причины возврата, укажите свои персональные данные, поставьте подпись. Приложите копию документа об оплате. Вы также имеете право оформить возврат без документа об оплате. Однако, мы оставляем за собой право запросить дополнительное подтверждение, что товар куплен на сайте tcmir.ru, а также отказать в возврате денежных средств, если подтверждения не будет. Пожалуйста, сохраняйте чеки и уведомления о возврате товара до момента возврата денег на вашу банковскую карту.
        p
          | 2) Передайте возвращаемый товар вместе с заявлением, документом об оплате и копией паспорта Продавцу. Возврат товара возможен двумя способами.
        ol
          li
            | Почтой России. Товары необходимо отправить по адресу: 410012, г. Саратов, ул. Московская, 113/117, ООО «КЭРОС». Тарифы и сроки доставки можно уточнить в отделениях АО «Почта России» или на их сайте.
          li
            | В пункте выдачи заказа. Необходимо предъявить оригиналы следующих документов: паспорт, заполненный бланк заявления на возврат, документ об оплате.
        p 3) Срок рассмотрения заявления — 5 (пять) рабочих дня с момента его получения
        p
          | 4) Возврат денег производится на банковскую карту, с которой производилась оплата заказа. Срок перечисления — до 3 рабочих дней после рассмотрения заявления и проверки возвращенного товара. О поступлении товара на склад мы сообщим Вам.


  .site__footer
    +footer

  +scripts