@media only screen and (max-width: 1320px) {
  /* .collage__wrapper {
    padding: 0 10px;
  } */
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 920px) {
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 600px) {
  .collage {
    width: 33.333%;
  }
  .collage__4 {
    width: 100%;
  }
  .collage__itemOuter_4_1 {
    width: 50%;
  }
  .collage__itemOuter_4_2 {
    width: 50%;
  }
  .collage__item {
    opacity: 1;
  }
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 400px) {
}

@media only screen and (max-width: 320px) {
}
