mixin collage
  .collage__area
    .collage__outer
      .collage__wrapper.clearfix
        .collage.collage__1
          .collage__itemOuter.collage__itemOuter_1_1
            a.collage__item.collage__item_1_1(href="assets/img/collage/001.jpg" style="background-image: url(assets/img/collage/001.jpg)" data-fancybox='group', data-caption='001')
          .collage__itemOuter.collage__itemOuter_1_2
            a.collage__item.collage__item_1_2(href="assets/img/collage/002.jpg" style="background-image: url(assets/img/collage/002.jpg)" data-fancybox='group', data-caption='002')
        .collage.collage__2
          .collage__itemOuter.collage__itemOuter_2_1
            a.collage__item.collage__item_2_1(href="assets/img/collage/010.jpg" style="background-image: url(assets/img/collage/010.jpg)" data-fancybox='group', data-caption='003')
          .collage__itemOuter.collage__itemOuter_2_2
            a.collage__item.collage__item_2_2(href="assets/img/collage/004.jpg" style="background-image: url(assets/img/collage/004.jpg)" data-fancybox='group', data-caption='004')
          .collage__itemOuter.collage__itemOuter_2_3
            a.collage__item.collage__item_2_3(href="assets/img/collage/009.jpg" style="background-image: url(assets/img/collage/009.jpg)" data-fancybox='group', data-caption='005')
        .collage.collage__3
          .collage__itemOuter.collage__itemOuter_3_1
            a.collage__item.collage__item_3_1(href="assets/img/collage/006.jpg" style="background-image: url(assets/img/collage/006.jpg)" data-fancybox='group', data-caption='006')
        .collage.collage__4
          .collage__itemOuter.collage__itemOuter_4_1
            a.collage__item.collage__item_4_1(href="assets/img/collage/011.jpg" style="background-image: url(assets/img/collage/011.jpg)" data-fancybox='group', data-caption='007')
          .collage__itemOuter.collage__itemOuter_4_2
            a.collage__item.collage__item_4_2(href="assets/img/collage/003.jpg" style="background-image: url(assets/img/collage/003.jpg)" data-fancybox='group', data-caption='008')
